<footer>
    <div class="container-fluid">
        <div class="container footer-container">

            <div class="row">
                <div class="col-md-6 col-6">
                    <h5>COMPANY</h5>

                    <ul class="">
                        <li>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="../../index.php"> Home</a>
                        </li>
                        <li class="">
                            <i class="fa fa-h-square" aria-hidden="true"></i>
                            <a href="../../bf57bb987269ecb212361468e0b10eba6bbc4a05.html"> Booking a Hotel</a>
                        </li>
                        <li>
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <a href="../../services.html"> Our Services </a>
                        </li>
                        <li>
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <a href="../../affiliate"> Become a Affiliate </a>
                        </li>
                        <li>
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <a href="../../travel_agent.html"> Travel Agent </a>
                        </li>
                        <li>
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <a href="../../luxury-car.html"> Luxury cars</a>
                        </li>
                        <li>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="../../blog.html"> Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-6 ">
                    <h5>HELP</h5>

                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="../../contact.php"> Contact</a>
                        </li>
                        <li>
                            <i class="fa fa-user-secret" aria-hidden="true"> </i>
                            <a href="../../privacy_policy.html"> Privacy Policy</a>
                        </li>
                        <li>
                            <i class="fa fa-check-square-o" aria-hidden="true"> </i>
                            <a href="../../terms-and-conditions.html"> Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <i class="fa fa-question" aria-hidden="true"> </i>
                            <a href="../../faq"> FAQ</a>
                        </li>
                        <li>
                            <i class="fa fa-ban" aria-hidden="true"> </i>
                            <a href="../../cancellation-and-refund.php"> Cancellation</a>
                        </li>
                        <li>
                            <i class="fa fa-shield" aria-hidden="true"></i>
                            <a href="../../payment-security.html"> Security </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 text-center guide">
                    <h5>DESTINATION GUIDES</h5>





                    <div class="row justify-content-around ">


                        <button class="guide-button" type="button" data-toggle="collapse" data-target="#northamerica" aria-expanded="false" aria-controls="collapseExample">
                  North America
                </button>
                        <button class=" guide-button" type="button" data-toggle="collapse" data-target="#southamerica" aria-expanded="false" aria-controls="collapseExample">
                  South America
                </button>
                        <button class=" guide-button" type="button" data-toggle="collapse" data-target="#europe" aria-expanded="false" aria-controls="collapseExample">
                  Europe
                </button>

                        <button class=" guide-button" type="button" data-toggle="collapse" data-target="#asia" aria-expanded="false" aria-controls="collapseExample">
                  Asia
                </button>
                        <button class=" guide-button" type="button" data-toggle="collapse" data-target="#australia" aria-expanded="false" aria-controls="collapseExample">
                  Australia/Oceania
                </button>
                    </div>
                    <div class="collapse " id="northamerica">
                        <div class="card card-body  ">
                            <div class="row justify-content-between">
                                <li>
                                    <a href="../countries/albuquerque/?p_iata=ABQ" class="active">Albuquerque &nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/atlanta/?p_iata=ATL" class="active">Atlanta&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/austin/?p_iata=AUS" class="active">Austin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/baltimore/?p_iata=BWI" class="active">Baltimore&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/boston/?p_iata=BOS" class="active">Boston&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/charlotte/?p_iata=CLT" class="active">Charlotte&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/chicago/?p_iata=ORD" class="active">Chicago-Ohare&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/chicago-midway/?p_iata=MDY" class="active">Chicago-Midway&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/dallas/?p_iata=DAL" class="active">Dallas - Love Field&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/dallas/?p_iata=DFW" class="active">Dallas - DFW&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/denver/?p_iata=DEN" class="active">Denver&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/detroit/?p_iata=DTW" class="active">Detroit&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/elpaso/?p_iata=ELP" class="active">El Paso&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/lauderdale/?p_iata=FLL" class="active">Ft.Lauderdale&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/ftmyers/?p_iata=FMYL" class="active">Ft Myers&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/honolulu/?p_iata=HNL" class="active">Honolulu&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/houston-bush/?p_iata=IAH" class="active">Houston - Bush&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/houston-hobby/?p_iata=HOU" class="active">Houston - Hobby&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/jackson-hole/?p_iata=JAC" class="active">Jackson Hole&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/jacksonville/?p_iata=JAX" class="active">JacKsonville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/maui/?p_iata=OGG" class="active">Kahului Airport Maui&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/kauai/?p_iata=LIH" class="active">Kauai-Lihue - Hawaii&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/lasvegas/?p_iata=LAS" class="active">Las Vegas&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/losangeles/?p_iata=LAX" class="active">Los Angeles-LAX&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/miami/?p_iata=MIA" class="active">Miami&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/minneapolis/?p_iata=MSP" class="active">Minneapolis&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/nashville/?p_iata=BNA" class="active">Nashville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/new-jersey/?p_iata=EWR" class="active">New Jersey&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/new-york/?p_iata=LGA" class="active">New York&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/oklahoma/?p_iata=OKC" class="active">Oklahoma&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/orlando/?p_iata=TLL" class="active">Orlando&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/philadelphia/?p_iata=PHL" class="active">Philadelphia&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/phoenix/?p_iata=PHX" class="active">Phoenix&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/portland/?p_iata=PDX" class="active">Portland, OR&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/raleigh/?p_iata=RDU" class="active">Raleigh&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/sacramento/?p_iata=SMF" class="active">Sacramento&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/sanantonio/?p_iata=SAT" class="active">San Antonio&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/sandiego/?p_iata=SAN" class="active">San Diego&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>

                                <li>
                                    <a href="../countries/sanjuan/?p_iata=SJU" class="active">San Juan - PR</a>
                                </li>
                                <li>
                                    <a href="../countries/stlouis/?p_iata=STL" class="active">St.Louis&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/saltlake/?p_iata=SLC" class="active">Salt Lake City&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/san-francisco/?p_iata=SFO" class="active">San Francisco&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/santaana/?p_iata=SNA" class="active">Santa Ana&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/seattle/?p_iata=SEA" class="active">Seattle&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/tampa/?p_iata=TPA" class="active">Tampa&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li style="font-size:0px;">
                                    <a href="countries/toronto/?p_iata=YYZ" class="active">Toronto&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li style="font-size:0px;">
                                    <a href="countries/vancouver/?p_iata=YVR" class="active">Vancouver&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/washingtondc/?p_iata=DCA" class="active">Washington DC - Reagan Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/washingtondc/?p_iata=IAD" class="active">Washington DC - Dulles Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a href="../countries/westpalmbeach/?p_iata=WPB" class="active">West Palm Beach</a>
                                </li>



                            </div>

                        </div>
                    </div>
                    <div class="collapse" id="southamerica">
                        <div class="card card-body  ">
                            <div class="row justify-content-center">
                                <ul class="links">

                                    <li>
                                        <a href="countries/buenos-aires/?p_iata=AEP"> Buenos Aires&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="countries/brazil/?p_iata=DIQ">Brazil&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>




                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="europe">
                        <div class="card card-body  ">
                            <div class="row justify-content-between">

                                <ul class="links">
                                    <li style="font-size:0px;">
                                        <a href="countries/florence/?p_iata=FLO" class="active">Florence&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/rome/?p_iata=CIA" class="active">Rome&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/tuscany/?p_iata=PSA" class="active">Tuscany&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>


                                    <li>
                                        <a href="countries/amsterdam/?p_iata=AMS">Amsterdam&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="countries/berlin/?p_iata=TXL"> Berlin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>


                                    <li style="font-size:0px;">
                                        <a href="countries/barcelona/?p_iata=BCN" class="active">Barcelona&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/madrid/?p_iata=MAD" class="active">Madrid&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/seville/?p_iata=SVQ" class="active">Seville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/valencia/?p_iata=VLC" class="active">Valencia&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/belfast-ireland-city-airport/?p_iata=BHD" class="active">Belfast City Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/northern-ireland/?p_iata=BFS" class="active">Belfast International Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/cork/?p_iata=ORK" class="active">Cork&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/dublin/?p_iata=DUB" class="active">Dublin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/shannon-limerick/?p_iata=SNN" class="active">Shannon Limerick&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>

                                    <li style="font-size:0px;">
                                        <a href="countries/athens/?p_iata=ATH" class="active">Athens&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/santorini/?p_iata=JTR" class="active">Santorini&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>


                                    <li>
                                        <a href="countries/budapest/?p_iata=BUD"> Budapest&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>

                                    <li>
                                        <a href="countries/istanbul/?p_iata=IST"> Istanbul&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>

                                    <li>
                                        <a href="countries/lisbon/?p_iata=LIS"> Lisbon&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="countries/paris/?p_iata=CDG"> Paris&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="countries/prague/?p_iata=PRG"> Prague&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="countries/london/?p_iata=LHR"> London&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/vienna/?p_iata=VIE" class="active">Vienna&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>

                                </ul>





                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="asia">
                        <div class="card card-body  ">
                            <div class="row justify-content-center">
                                <ul class="links">

                                    <li style="font-size:0px;">
                                        <a href="countries/india-dehli/?p_iata=DEL" class="active">Dheli&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/india-mumbai/?p_iata=DEL" class="active">Mumbai&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>


                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="collapse" id="australia">
                        <div class="card card-body  ">
                            <div class="row justify-content-center">
                                <ul class="links">
                                    <li style="font-size:0px;">
                                        <a href="countries/sidney/?p_iata=YQY" class="active">Sydney</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="white-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p>© Copyright COMPARE AUTO RENTALS | 2017-2018</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="footer-social-icon">
                        <li>
                            <a href="https://web.facebook.com/compareautorentals/" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/compareautorent" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/CompareAutoRentals/" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC3tr-gQqY9zRcIGaZi7cCuw" target="_blank">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>