<header>
    <div class="container-fluid">
        <nav class="navbar navclear navbar-expand-sm ">
            <a class="navbar-brand" href="#"> <img src="./img/logo.png" width="" height="35" alt=""></a>
            <button class="navbar-toggler navbar-light " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Call Us </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign In</a>
                    </li>


                    <li class="dropdown nav-item">
                        <a class="dropbtn  nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="./img/unitedstates.ico" height="20px" width="20px" alt="">
                            <span class="">&nbsp;English</span>
                        </a>
                        <div class="dropdown-menu dropdown-content" id="droplink" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item language-link" href="images/">
                                <img src="./img/spain.ico" height="25" width="25" alt="">
                                <span class="language-link">Espa&#328;ol</span>
                            </a>
                            <hr>
                            <a class="dropdown-item  language-link" href="../landingpagesfix/PT">
                                <img src="./img/portugal.ico" height="25" width="25" alt="">
                                <span class="language-link"> Portugu&ecirc;s</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>