<xml version="1.0" uncoding="UTF-8">
<RQ>
	<Administration>
		<Username>[NAME HERE]</Username>
		<Password>[PAssword / Car Rental Gateway]</Password>
		<Agent>CAR_support</Agent>
	</Administration>
	<Requests>
		<--REQUEST HERE?>
	</Requests>
</RQ>