<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ./partials/head %>
        <!-- <script language="javascript">
                function emailCurrentPage(){
                    window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href);
                }
            </script> -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->

    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48CL95" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

    <!-- End Google Tag Manager (noscript) -->

    <%- include ./partials/header %>



        <div class="container ">
            <button onclick="window.print();return false;">print this page</button>
            <!-- <a href="javascript:emailCurrentPage()">Mail this page!</a> -->
            <div class="booking-title hl text-center m-5">
                <h2 id="booking-title"> Congratulations! Your Booking is Complete</h2>
            </div>
            <div class="confirmation-number text-center mb-3" id="confirmation-title">
                <h4> Your confirmation Number is:</h4>
                <div class=" resnumber mx-auto green-txt w-25 mb-4 hl">
                    <h2 id="resnumber">
                        <%= book.resNumber%>
                    </h2>

                </div>


            </div>
            <div class="confirmation-email mb-5 ">
                <h4> A confirmation e-mail has been sent to:
                    <span class="grey"> &nbsp; <%= book.customerEmail%></span>
                </h4>
            </div>
            <!-- <div class="protection mb-3 ">
                    <img src="./img/Shield.png" width="50" alt="">
                    <span>&nbsp; Your car is unprotected</span>

                </div> -->

            <div class="container driver  ">
                <div class="row ">
                    <div class="driver-details  col-md-7 col-12 showshadow ">
                        <div class="driver-details-title text-center border-bottom">
                            <h4>Driver details </h4>
                        </div>
                        <div class="driver-name">
                            Name:
                            <%= book.customerName%>
                        </div>
                        <div class="driver-email">
                            Email:
                            <%= book.customerEmail%>
                                <div class="driver-phone">
                                    Phone:
                                    <%= book.customerPhone%>
                                </div>
                        </div>
                        <!-- <div class="add-protection offset-1 col-sm-4 showshadow">
                                <h4> add protections</h4>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="payment-details showshadow container">
                <div class="text-center payment-details-title hl ">
                    <h4> Payment Details</h4>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class=" offset-sm-2 details-summary col-sm-5 col-12">


                        <div class="details-paynow">
                            Paid in USD: <span> <%= book.payNow%></span>

                        </div>
                        <div class="details-paynow">


                        </div>


                    </div>
                    <div class="details-money col-sm-5 col-12">

                        <div class="payatpu">
                            Payable locally in
                            <%=book.localCurrency%> <span><%=book.locPay1%></span>
                                <% if(book.localCurrency !== 'USD'){%>
                                    <span id="usdprice">  ~Est.<%=book.locpayusd%></span>
                                    <% } %>
                        </div>

                        <!-- <div class="payatpu">
                            Est.value in USD
                            <%=book.locpayusd%> -->

                        <!-- </div>  <div class="details-total">
                                Total:
                            </div> -->
                        <!-- <div class="details-total">
                            $
                            <%= book.total%> -->
                        <!-- </div> -->
                    </div>





                </div>
                <div class="row d-flex justify-content-center">
                    <div class="contotal text-center">
                        <h4> Your total in USD <span><%=book.totalUSD%></span></h4>
                    </div>
                </div>
            </div>
            <div class="car-details showshadow container">
                <div class="text-center hl car-details-title">
                    <h4> Car Details</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="car-class">
                            <%= book.carClass%>
                        </div>
                        <div class="car-img">

                            <img src=" <%= book.carImage%>" width="150" height="80">

                        </div>
                        <div class="carname"><strong><%=book.carName%></strong> <span>or similar</span> </div>
                    </div>
                    <div class="details-pickup col-sm-4">
                        <div class=" text-center">
                            <strong>Pick-up</strong>
                        </div>
                        <div class="pulocation">
                            Location:
                            <%= book.pulocation%>
                        </div>
                        <div class="pudate">
                            Date/Time:
                            <%= book.puDate%>
                        </div>
                    </div>
                    <div class="dropoff  col-sm-4" id="dropoffborder">
                        <hr>
                        <div class="location-drop text-center">
                            <strong> Drop-off</strong>
                        </div>
                        <div class="dolocation">
                            Location:
                            <%= book.dolocation%>
                        </div>
                        <div class="dodate">
                            Date/Time:
                            <%= book.doDate%>
                        </div>
                    </div>

                </div>
            </div>
            <div class="supplier-details showshadow container">
                <div class="row">
                    <div class="supplier-title  col-sm-12 text-center">
                        <h4 class="hl"> Supplier Details</h4>
                    </div>
                    <div class="supplier-logo mb-3 col-sm-4">

                        <img src="<%= book.supplierLogo%>">

                    </div>

                </div>
                <div class="row ">
                    <div class="details-instructions  col-sm-6">
                        <div class="puinstructions mb-3">
                            <div class="putitle">
                                <strong>  Pick up instructions: </strong>
                            </div>
                            <div class="pucontent">
                                <%= book.puInstructions%>
                            </div>
                        </div>
                        <!-- <div class="doinstructions">
                            <div class="droptitle">
                                <strong> Drop off instructions:</strong>
                            </div>
                            <div class="docontent">
                                <%= book.doInstructions%>
                            </div>
                        </div> -->

                        <div class="business-hours mt-3">
                            Business hours:
                            <%= book.openHours%>
                        </div>
                        <div class="terms mb-3 mt-3">
                            <button class="" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <a href="#">Terms and Conditions</a>       
                                    </button>

                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">


                                        <%-book.terms%>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="map mb-5 offset-sm-1 col-sm-4" id="map">


                        <script>
                            // Initialize and add the map
                            function initMap() {
                                // The location of Uluru
                                var location = {
                                    lat: <%=book.pulat%>,
                                    lng: <%=book.pulong%>
                                };
                                // The map, centered at Uluru
                                var map = new google.maps.Map(
                                    document.getElementById('map'), {
                                        zoom: 10,
                                        center: location
                                    });
                                // The marker, positioned at Uluru
                                var marker = new google.maps.Marker({
                                    position: location,
                                    map: map
                                });
                            }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv7wcaQHMd2eJTAkVZwqv-cLlmKelhgtQ&callback=initMap">
                        </script>
                        AIzaSyDv7wcaQHMd2eJTAkVZwqv-cLlmKelhgtQ
                    </div>
                </div>
            </div>
            <div class="add-info showshadow container">
                <div class="text-center payment-details-title hl ">
                    <h4>Additional Information</h4>
                </div>
                <div class="row">
                    <div class=" add-text col-12 col-lg-12 col-xl-9 col-md-12 offset-xl-1 ">
                        <ul>
                            <li> Please check your e-mail for booking confirmation and your rental voucher. </li>
                            <li>Your voucher will contain all information about your reservation and car rental supplier.</li>
                            <li> Don't forget to bring your identification documents and full driving license when you pick up your vehicle.</li>
                            <li> We recommend to print your voucher and bring it with you when you pick up your vehicle. </li>
                            <li>Read the Terms and Conditions carefully to avoid misunderstandings.</li>
                            <li> If you have any questions, please feel free to contact us.
                            </li>
                        </ul>


                    </div>
                </div>





            </div>


        </div>

        </div>

















        <%- include ./partials/footer %>
</body>

</html>