<!DOCTYPE html>
<html>

<head>

    <%- include ./partials/head %>
</head>

<body>


    <!-- Google Tag Manager (noscript) -->

    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48CL95" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <%- include ./partials/header %>
        <div class="total-body">
            <div class="container-fluid details-body mt-5 ">
                <div class="row mb-5">



                    <!--			left hand side panel-->
                    <div class="col-sm-3 col-12 ">
                        <div class="good-choice showshadow p-3 mb-3">
                            Good Choice!!
                            <br> Book Now Pay later
                            <br>
                            <%=       rentalCar.includedShort %>
                        </div>
                        <div class="deal-info p-3 showshadow mb-3">
                            this is a great deal
                            <br> buy now
                            <br> Great Customer rating
                            <br>
                        </div>


                        <div class="imp-info p-3 showshadow mb-2 mt-2 border">
                            <div class="pu-instructions-title hl">
                                <h5>Pick-up Instructions:</h5>
                            </div>
                            <%= rentalCar.puInstructions%>
                        </div>

                    </div>


                    <!--  center panel			-->
                    <div class=" col-sm-6 col-12 ">
                        <div class="row">
                            <div class="center-info mb-3  showshadow">
                                <div class=" mb-2 mt-2" id="cost-summary">
                                    This car is costing you
                                    <%=  rentalCar.paymentCurrency %>$
                                        <%= rentalCar.estTotal %> -- a real bargain...
                                </div>
                                <div class=" mb-2 mt-2" id="sales-center">
                                    we are experiencing high demand at
                                    <%= rentalCar.puLocBranch  %> in
                                        <%= rentalCar.pickupDate   %>
                                            secure your car by booking today

                                </div>

                            </div>
                        </div>
                        <!--			car image and pick up details -->
                        <div class="row ">
                            <div class="top-info d-flex w-100 showshadow">
                                <div class="border-right d-flex flex-column align-items-center justify-content-around white det-car-display ">
                                    <div id="center-car-image" class="car-image car-logo">

                                        <img src="<%=   rentalCar.image   %>" alt="">



                                    </div>
                                    <div class="car-company-logo rentalcar-logo">

                                        <img src="<%=  rentalCar.ccLogo %>" alt="">
                                        <!-- <%= rentalCar.carCompany  %> -->



                                    </div>

                                    <div class="det-icons">



                                        <div class=" d-flex flex-row m-auto icons-results">
                                            <div class="icons">
                                                <img src="../img/icons/user.svg" alt="" width="15" height="15">
                                                <br>
                                                <%= rentalCar.seats %>
                                            </div>
                                            <div class="icons">
                                                <img src="../img/icons/car-door.svg" alt="" width="15" height="15">
                                                <br>
                                                <%= rentalCar.doors %>
                                            </div>
                                            <div class="icons">
                                                <img src="../img/icons/suitcase.svg" alt="" width="15" height="15">
                                                <br>
                                                <%=  rentalCar.bigSuitcases%>
                                            </div>


                                            <% if (rentalCar.transmission == "Automatic"){ %>
                                                <div class="icons">
                                                    <img src="../img/icons/automatic.svg" alt="" width="15" height="15">
                                                    <br>Auto</div>
                                                <% } else {%>
                                                    <div class="icons">
                                                        <img src="../img/icons/manual.svg" alt="" width="15" height="15">
                                                        <br>Man</div>
                                                    <% } %>
                                                        <div class="icons">
                                                            <% if (rentalCar.air){ %>
                                                                <img src="../img/icons/freezer.svg" alt="" width="15" height="15">
                                                                <br> A/C</div>
                                                        <% }%>
                                        </div>

                                    </div>

                                    <div class="mobilepu">
                                        <div class="col-sm-8 ml-3 d-flex flex-column justify-content-center">
                                            <div class="car-name d-flex">
                                                <h5>
                                                    <%=   rentalCar.name    %>
                                                </h5>
                                                <span> &nbsp; or similar</span>
                                            </div>
                                            <div class="pickupdate mb-2 mt-2 border-bottom">
                                                Pick-up:&nbsp;&nbsp;
                                                <%= rentalCar.pickupDate   %>
                                                    <br>
                                                    <%= rentalCar.carAt  %>:&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <%= rentalCar.puLocBranch  %>

                                            </div>
                                            <div class="dropoffdate mb-2 mt-2 border-bottom">
                                                Drop off:&nbsp;&nbsp;
                                                <%= rentalCar.dropoffDate  %>
                                                    <br>
                                                    <%= rentalCar.carAt  %>:&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <%= rentalCar.doLocBranch  %>
                                            </div>
                                            <div class="rental-includes mb-2 mt-2 border-bottom">
                                                <%= rentalCar.includedLong %>
                                            </div>


                                        </div>

                                    </div>



                                </div>

                                <div class="col-sm-8 puloc ml-3 d-flex flex-column justify-content-center">
                                    <div class="car-name d-flex">
                                        <h5>
                                            <%=   rentalCar.name    %>
                                        </h5>
                                        <span> &nbsp; or similar</span>
                                    </div>
                                    <div class="pickupdate mb-2 mt-2 border-bottom">
                                        Pick-up:&nbsp;&nbsp;
                                        <%= rentalCar.pickupDate   %>
                                            <br>
                                            <%= rentalCar.carAt  %>:&nbsp;&nbsp;&nbsp;&nbsp;
                                                <%= rentalCar.puLocBranch  %>

                                    </div>
                                    <div class="dropoffdate mb-2 mt-2 border-bottom">
                                        Drop off:&nbsp;&nbsp;
                                        <%= rentalCar.dropoffDate  %>
                                            <br>
                                            <%= rentalCar.carAt  %>:&nbsp;&nbsp;&nbsp;&nbsp;
                                                <%= rentalCar.doLocBranch  %>
                                    </div>
                                    <div class="rental-includes mb-2 mt-2 border-bottom">
                                        <%= rentalCar.includedLong %>
                                    </div>


                                </div>
                            </div>
                            <div class="extra-title text-center showshadow  w-100 ">

                                <h4> Choose extras and complete the booking. </h4>

                            </div>
                            <form action="https://compareauto.herokuapp.com/bookings" method="POST" name="booking" class="booking-form">
                                <div class="extras mb-3 d-flex showshadow">

                                    <ul class="extras-ul">
                                        <li class="extras-local hl text-center mt-4">
                                            <h5>Recommended Coverage</h5>
                                        </li>
                                        <% rentalExtras.forEach(function(extra){ %>
                                            <% if (extra.EXTRA === 'CAEXTRA'){ %>
                                                <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                                    <div class="row d-flex w-100 ">

                                                        <div class="extra-details d-flex col-sm-3">
                                                            <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                            <div class="extra-img justify-content-start ">
                                                                <img src="<%= extra.url %>" height="40" width="50" alt="">
                                                            </div>
                                                            <div class="ml-3 extra-name">

                                                                <%= extra.name %>

                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="extra-desc my-auto col-6 col-sm-6">
                                                            <%= extra.description%>
                                                        </div>


                                                        <div class="extra-cost my-auto d-flex justify-content-end col-2" id="<%=extra.docselector%>cost">


                                                            <%= extra.cost%>
                                                        </div>
                                                        <div class="extra-select col-1">
                                                            <input type="checkbox" class="form-check ckbox " name="otaCode-<%=extra.otacode%>" id="<%=extra.docselector%>" data-total="0" value="1" data-cost=" <%=extra.cost%>">
                                                        </div>
                                                    </div>
                                                </li>
                                                <%  } %>

                                                    <%  }); %>
                                                        <li class="extra-list " id="decline">

                                                            <div class="row d-flex w-100 ">

                                                                <div class="extra-details d-flex col-sm-3">
                                                                    <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                                    <div class="extra-img justify-content-start ">

                                                                    </div>
                                                                    <div class="ml-3 extra-name">



                                                                    </div>
                                                                    <br>
                                                                </div>
                                                                <div class="extra-desc my-auto col-sm-6 col-10">
                                                                    Decline Protection no insurance
                                                                </div>


                                                                <div class="extra-cost my-auto d-flex justify-content-end col-sm-2">


                                                                </div>
                                                                <div class="extra-select col-1">
                                                                    <input class="form-check ckbox " id="cdwckbox" name="decline" value="1" type="checkbox">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="extra-list " id="nocdw">

                                                            <div class="row d-flex ">

                                                                <div class="extra-details d-flex col-sm-3">
                                                                    <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                                    <div class="extra-img justify-content-start ">
                                                                        <img src="../img/warning.svg" alt="" width="50" height="40">
                                                                    </div>
                                                                    <div class="ml-3 extra-name">

                                                                        Not Protected

                                                                    </div>
                                                                    <br>
                                                                </div>
                                                                <div class="extra-desc my-auto col-sm-9">
                                                                    <h5>
                                                                        <strong> *** Dont Risk leaving your car rental without
                                                                                protection ***
                                                                            </strong>
                                                                    </h5>
                                                                </div>


                                                                <!-- <div class="extra-cost my-auto d-flex justify-content-end col-sm-2">
            
                                                                    $
                                                                    0.00
                                                                </div>
                                                                <div class="extra-select col-sm-1">
                                                                    <input class="form-check ckbox " name="nocdw" value="nocdw" type="checkbox">
                                                                </div> -->
                                                            </div>
                                                        </li>


                                    </ul>

                                </div>
                                <div class="extras mb-3 d-flex showshadow" id="extraslocal">

                                    <ul class="extras-ul">
                                        <li class="extras-local hl text-center mt-4">
                                            <h5 class="">Extras</h5>
                                        </li>
                                        <% rentalExtras.forEach(function(extra){ %>
                                            <% if (extra.EXTRA == 'SUPPLIER'){ %>
                                                <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                                    <div class="row d-flex ">

                                                        <div class="extra-details d-flex col-6 col-sm-8">
                                                            <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                            <div class="extra-img justify-content-start ">
                                                                <img src="<%= extra.url %>" height="40" width="40" alt="">
                                                            </div>
                                                            <div class="extra-name">
                                                                <%= extra.name %>
                                                            </div>
                                                            <br>
                                                            <div class="extra-desc">
                                                                <%= extra.description%>
                                                            </div>

                                                        </div>
                                                        <div class="extra-cost my-auto d-flex justify-content-end col-2 col-sm-2" id="<%=extra.docselector%>cost">


                                                            <%= extra.cost%>
                                                        </div>
                                                        <div class="extra-select col-1 col-sm-1">
                                                            <select name="otaCode-<%= extra.otacode %>" data-selecttotal=" " data-cost="<%= extra.cost%>" class="form-control otaselect " id="<%= extra.docselector %>">
                                                                    <option value="0">0</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </li>
                                                <%  } %>

                                                    <%  }); %>

                                    </ul>
                                </div>
                        </div>
                        <!--				driver information here-->
                        <div class="row ">
                            <div class="showshadow driver-info white col-12 mt-3">
                                <div class=" text-center mt-3 driver-title ">
                                    <h4>Driver Information</h4>
                                </div>
                                <div id="drivers-text mb-5 ">

                                    any additional information and warnings go here
                                </div>
                                <div class=" driver-form  mt-4 pt-4">





                                    <div class="form-group row">
                                        <label for="firstname" class="offset-sm-2 col-sm-2 col-form-label mright">First Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="offset-sm-2 col-sm-2 col-form-label mright">Last Name</label>
                                        <div class="col-sm-6 ">
                                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="offset-sm-2 col-sm-2 col-form-label mright">Email Address
                                            </label>
                                        <div class="col-sm-6">
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone" class="offset-sm-2 col-sm-2 col-form-label mright">Phone Number</label>
                                        <div class="col-sm-6">
                                            <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="cc-title w-100 mt-3 mb-3 text-center">
                                        <h4>Credit Card Information</h4>
                                    </div>
                                    <div class="cc-input">
                                        <div class="form-group row">
                                            <label for="ccname" class="offset-sm-2 col-sm-2 col-form-label mright">Name on Card</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="ccname" class="form-control" id="ccname" placeholder="Full Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ccnumber" class=" col-sm-4 col-form-label mright">Credit Card Number</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="ccnumber" class="form-control" id="ccnumber" placeholder="Credit Card Number">
                                            </div>
                                        </div>
                                        <div class="form-group row">

                                            <label for="y-month" class="offset-2 col-sm-2 col-form-label mright">Expiration</label>
                                            <div class=" form-group col-sm-6 d-flex">
                                                <select class="form-control d-inline-flex col-sm-3" name="expirymonth" id="y-month">
                                                        <option>MM</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                <select class="form-control d-inline-flex ml-3 col-sm-3" name="expiryyear">
                                                        <option>Year</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                    </select>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="cvv" class="col-sm-4 col-form-label mright">CVV</label>
                                            <div class="col-sm-2">
                                                <input type="text" name="cvv" class="form-control" id="cvv" placeholder="CVV">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="resbtn">
                                    <input type="hidden" name="rateref" id="rateref" value="<%= rentalCar.rateRef  %>">
                                    <button data-rateRef="<%= rentalCar.rateRef %>" type="submit" class="btn btn-lg" id="reserve-my">
                                            <strong>Confirm Booking</strong>
                                        </button>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <!--			sticky panel pricing summary -->
                    <div class="col-sm-sm col-12 ml-3 pl-3 white h-25 summary-panel showshadow">
                        <div class="heading text-center hl">
                            Totals
                        </div>
                        <div class="row d-flex ">
                            <div class="paynow col-7">
                                Pay Now:

                            </div>
                            <div class="paynowval text-right " id="paynow">
                                $
                                <%= rentalCar.payNow  %>
                            </div>

                        </div>
                        <div class="row d-flex ">
                            <div class="paylater col-7">
                                Pay at pick-up:
                            </div>
                            <div class="paylaterval text-right " id="payloc">
                                $
                                <%= rentalCar.payLater  %>
                            </div>

                        </div>
                        <div class="row d-flex ">
                            <div class="total-summary col-7">
                                Total:
                            </div>
                            <div class="totalval text-right " id="ptotal">

                                $
                                <%= rentalCar.estTotal  %>
                            </div>
                        </div>



                        <!-- <table class="table">
                            <thead class="hl">

                                Sumary
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Pay Now:</td>
                                    <td id="paynow">
                                        <%= rentalCar.payNow  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pay at pick-up:</td>
                                    <td id="payloc">
                                        <%= rentalCar.payLater  %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Total:</td>
                                    <td id="ptotal">
                                        <%= rentalCar.estTotal  %>
                                    </td>
                                </tr>
                            </tbody> -->
                        <table class="table hidden">
                            <tbody class="hidden">
                                <tr>
                                    <td>Payable Now:</td>
                                    <td id="paynowo">
                                        <%= rentalCar.payNow  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Payable Locally:</td>
                                    <td id="payloco">
                                        <%= rentalCar.payLater  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Taxes and Fees:</td>
                                    <td id="ptfo">
                                        <%= rentalCar.feesTotal  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Booking Total:</td>
                                    <td id="ptotalo">
                                        <%= rentalCar.estTotal  %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>

                </div>

                <div class="container-fluid container-security ">
                    <div class="row ">
                        <div class="col-6 col-md-3 text-center align-middle siteseal">
                            <a href="http://www.symantec.com/ssl-certificates" target="_blank">
                                <img src="https://compareautorentals.com/img/NortonLogo.png" id="nortonseal">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 text-center siteseal">
                            <a href="https://www.trustpilot.com/review/www.compareautorentals.com" target="_blank">
                                <img id="siteseal" src="https://compareautorentals.com/img/gold-stamped.png">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 text-center siteseal">
                            <a href="https://seal.godaddy.com/verifySeal?sealID=aOhA8pAq6PrAf9fLp0M3mFn7wA8O4egIULfh00m4xMz2tmrRZQo2ChQgthw9" target="_blank">
                                <img id="siteseal1" src="https://compareautorentals.com/img/ssl.png">
                            </a>
                        </div>

                        <div class="col-6 col-md-3 text-center siteseal">
                            <a href="https://www.trustedsite.com/site/compareautorentals.com/" target="_blank">
                                <img id="siteseal2" src="https://compareautorentals.com/img/Trusted site.png">
                            </a>
                        </div>

                    </div>
                </div>

                <div class="row d-none d-md-block">
                    <div class="col-md-12 ">

                    </div>
                </div>


            </div>



            <%- include ./partials/footer%>

                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>

</html>