<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compareautorentals.com</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--    <script src="./js/jquery-3.2.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="./jquery-ui-1.12.1/jquery-ui.css">

    <link rel="stylesheet" href="./jquery-ui-1.12.1/jquery-ui.theme.css">

    <script src="./js/totals.js"></script>
    <script src="./js/script.js"></script>
    <!-- <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style> -->
    <!--zend desk-->

    <script src="./js/bootstrap-4.0.0.js"></script>

    <link href="./css/bootstrap-4.0.0.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <link rel="stylesheet" href="./stylesheets/confirmation.css">



</head>

<body>
    <header>

        <div>
            <nav class="navbar nav " id="nav-header">
                <div class="brand-logo">
                    <a class=" " href="#">
                        <img src="../img/logowhite.png" alt="">
                    </a>
                </div>
                <li class="nav-item " id="nav-signin">
                    <a class="nav-link" href="#">
                        <%=currency%>
                    </a>
                </li>
                <!--
                    
                <button class="navbar-toggler  navbar-right ml-auto " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
                        -->
                <!--       </button>-->
                <!--		<div class="nav navbar-nav navbar-right">-->

                <ul class=" nav ml-auto mr-3 nav-bar justify-content-end ">
                    <li class="nav-item active">


                        <a class="nav-link" href="#">Call us
                                <span class="sr-only">(current)</span>
                            </a>
                    </li>

                    <li class="nav-item " id="nav-signin">
                        <a class="nav-link" href="#">Sign In </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn dropdown-toggle " href="#" id="navbarDropdown" droplink "" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="./img/unitedstates.ico" height="24px" width="24px" alt="">
                            <span class="">&nbsp;</span>
                        </a>
                        <div class="dropdown-menu dropdown-content" id="droplink" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item language-link" href="images/">
                                <img src="./img/spain.ico" height="25" width="25" alt="">
                                <span class="language-link">Espa&#328;ol</span>
                            </a>
                            <hr>
                            <a class="dropdown-item  language-link" href="../landingpagesfix/PT">
                                <img src="./img/portugal.ico" height="25" width="25" alt="">
                                <span class="language-link"> Portugu&ecirc;s</span>
                            </a>
                        </div>
                    </li>

                    </ul3>
                    <!--       </div>-->

            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="leftside col-lg-3 col-sm-0">

            </div>

            <div class="col-sm-6 col-md-12 col-lg-9 col-xl-6">
                <div class="booking-title text-center ">
                    <div class="container1">
                        <div class="wrapper1">
                            <div class="arrow-steps clearfix">
                                <div class="step"> <span> Choose location and time </span> </div>
                                <div class="step"> <span>Choose vehicle</span> </div>
                                <div class="step current"> <span> Confirm Booking</span> </div>
                                <div class="step"> <span>Confirmation details
                                          
                                        </span> </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row panel-1 sticky">
                    <div class="confirmation-number text-center col-sm-6 col-md-12 mb-3">
                        <div class="summary-panel jstotal showshadow">
                            <div data-xrate="<%=xrate%>" id="xrate" class="heading text-center hl2">

                            </div>Totals in

                            <span>  <select id="currency-total" name="currency-total" class="total-dropdown"data-currency= "<%=currency%>" value="<%=currency%>">

                                    <option value="AED">AED</option>
                                    <option value="AFN">AFN</option>
                                    <option value="ALL">ALL</option>
                                    <option value="AMD">AMD</option>
                                    <option value="ANG">ANG</option>
                                    <option value="AUD">AUD</option>
                                    <option value="AWG">AWG</option>
                                    <option value="AZN">AZN</option>
                                    <option value="BAM">BAM</option>
                                    <option value="BBD">BDD</option>
                                    <option value="BGN">BGN</option>
                                    <option value="BIF">BIF</option>
                                    <option value="BMD">BMD</option>
                                    <option value="BND">BND</option>
                                    <option value="BOB">BOB</option>
                                    <option value="BRL">BRL</option>
                                    <option value="BTN">BTN</option>
                                    <option value="BWP">BWP</option>
                                    <option value="BYN">BYN</option>
                                    <option value="BZD">BZD</option>
                                    <option value="CDF">CDF</option>
                                    <option value="CHF">CHF</option>
                                    <option value="CLF">CLF</option>
                                    <option value="CLP">CLP</option>
                                    <option value="CNY">CNY</option>
                                    <option value="COP">COP</option>
                                    <option value="CRC">CRC</option>
                                    <option value="CUP">CUP</option>
                                    <option value="CVE">CVE</option>
                                    <option value="DJF">DJF</option>
                                    <option value="DKK">DKK</option>
                                    <option value="DOP">DOP</option>
                                    <option value="DZD">DZD</option>
                                    <option value="FKP">FKP</option>
                                    <option value="GBP">GBP</option>
                                    <option value="GEL">GEL</option>
                                    <option value="GHS">GHS</option>
                                    <option value="GIP">GIP</option>
                                    <option value="GMD">GMD</option>
                                    <option value="GNF">GNF</option>
                                    <option value="GTQ">GTQ</option>
                                    <option value="HKD">HKD</option>
                                    <option value="HNL">HNL</option>
                                    <option value="HRK">HRK</option>
                                    <option value="HTG">HTG</option>
                                    <option value="HUF">HUF</option>
                                    <option value="IDR">IDF</option>
                                    <option value="ILS">ILS</option>
                                    <option value="INR">INR</option>
                                    <option value="IQD">IQD</option>
                                    <option value="IRR">IRR</option>
                                    <option value="ISK">ISK</option>
                                    <option value="JMD">JMD</option>
                                    <option value="JOD">JOD</option>
                                    <option value="JPY">JPY</option>
                                    <option value="KES">KES</option>
                                    <option value="KGS">KGS</option>
                                    <option value="KHR">KHR</option>
                                    <option value="KMF">KMF</option>
                                    <option value="KPW">KPW</option>
                                    <option value="KRW">KRW</option>
                                    <option value="KWD">KWD</option>
                                    <option value="KYD">KYD</option>
                                    <option value="KZT">KZT</option>
                                    <option value="LAK">LAK</option>
                                    <option value="LBP">LBP</option>
                                    <option value="LRD">LRD</option>
                                    <option value="LSL">LSL</option>
                                    <option value="LTL">LTL</option>
                                    <option value="LVL">LVL</option>
                                    <option value="LYD">LYD</option>
                                    <option value="MAD">MAD</option>
                                    <option value="MDL">MDL</option>
                                    <option value="MGA">MGA</option>
                                    <option value="MKD">MKD</option>
                                    <option value="MMK">MMK</option>
                                    <option value="MNT">MNT</option>
                                    <option value="MOP">MOP</option>
                                    <option value="MRO">MRO</option>
                                    <option value="MTL">MTL</option>
                                    <option value="MUR">MUR</option>
                                    <option value="MVR">MVR</option>
                                    <option value="MWK">MWK</option>
                                    <option value="MXN">MXN</option>
                                    <option value="MYR">MYR</option>
                                    <option value="MZN">MZN</option>
                                    <option value="NAD">NAD</option>
                                    <option value="NGN">NGN</option>
                                    <option value="NIO">NIO</option>
                                    <option value="NOK">NOK</option>
                                    <option value="NPR">NPR</option>
                                    <option value="OMR">OMR</option>
                                    <option value="PAB">PAB</option>
                                    <option value="PEN">PEN</option>
                                    <option value="PGK">PGK</option>
                                    <option value="PHP">PHP</option>
                                    <option value="PKR">PKR</option>
                                    <option value="PLN">PLN</option>
                                    <option value="PYG">PYQ</option>
                                    <option value="QAR">QAR</option>
                                    <option value="RON">RON</option>
                                    <option value="RSD">RSD</option>
                                    <option value="RUB">RUB</option>
                                    <option value="RWF">RWF</option>
                                    <option value="SAR">SAR</option>
                                    <option value="SBD">SBD</option>
                                    <option value="SCR">SCR</option>
                                    <option value="SEK">SEK</option>
                                    <option value="SGD">SGD</option>
                                    <option value="SHP">SHP</option>
                                    <option value="SLL">SLL</option>
                                    <option value="SOS">SOS</option>
                                    <option value="SRD">SRD</option>
                                    <option value="SSP">SSP</option>
                                    <option value="STD">STD</option>
                                    <option value="SYP">SYP</option>
                                    <option value="TMT">TMT</option>
                                    <option value="TND">TND</option>
                                    <option value="TOP">TOP</option>
                                    <option value="TRY">TRY</option>
                                    <option value="TTD">TTD</option>
                                    <option value="TWD">TWD</option>
                                    <option value="TZS">TZS</option>
                                    <option value="UAH">UAH</option>
                                    <option value="UGX">UGX</option>
                                    <option value="USD">USD</option>
                                    <option value="UYU">UYU</option>
                                    <option value="UZS">UZS</option>
                                    <option value="VEF">VEF</option>
                                    <option value="VND">VND</option>
                                    <option value="VUV">VUV</option>
                                    <option value="WST">WST</option>
                                    <option value="XAF">XAF</option>
                                    <option value="XCD">XCD</option>
                                    <option value="XOF">XOF</option>
                                    <option value="XPF">XPF</option>
                                    <option value="YER">YER</option>
                                    <option value="ZAR">ZAR</option>
                                    <option value="ZMW">ZMW</option>

                                </select>


                            <div class="row d-flex ">
                                <div class="pl-5 paynow text-left col-7">
                                    Pay Now:

                                </div>
                                <div class="paynowval col-4 text-right " id="paynow1">
                                    $
                                    <%= (rentalCar.payNow ) %>
                                </div>

                            </div>
                            <div class="row d-flex ">
                                <div class="paylater text-left pl-5 col-7">
                                    Pay at pick-up:
                                </div>
                                <div class="paylaterval col-4 text-right " id="payloc1">
                                    <span>$</span><span><%= (rentalCar.payLater)  %></span>
                        </div>

                    </div>
                    <div class="row d-flex ">
                        <div class="total-summary text-left pl-5 col-7">
                            Total:
                        </div>
                        <div class="totalval col-4 text-right " id="ptotal1">

                            <span>$</span><span><%= (rentalCar.estTotal ) %></span>
                        </div>
                    </div>




                    <table class="table hidden">
                        <tbody class="hidden">
                            <tr>
                                <td>Payable Now:</td>
                                <td id="paynowo">
                                    <%= rentalCar.payNow  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Payable Locally:</td>
                                <td id="payloco">
                                    <%= rentalCar.payLater %>
                                </td>
                            </tr>
                            <tr>
                                <td>Taxes and Fees:</td>
                                <td id="ptfo">
                                    <%= rentalCar.feesTotal  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Booking Total:</td>
                                <td id="ptotalo">
                                    <%= rentalCar.estTotal  %>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>

        </div>

        <div class="container advertising ">
            <div class="row ">
                <div class="top-advertising  col-12 showshadow ">
                    <div class="center-info mb-3  ">
                        <div class=" mb-2 mt-2" id="cost-summary">
                            This car is costing you
                            <%= currency %>$
                                <%= (rentalCar.estTotal)%> -- a real bargain...
                        </div>
                        <div class=" mb-2 mt-2" id="sales-center">
                            we are experiencing high demand at
                            <%= rentalCar.puLocBranch  %> in
                                <%= rentalCar.puMonth   %>, secure your car by booking today

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="car-details showshadow container">
            <div class="text-center  hl2 car-details-title">
                <h4> Car Details</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="car-class">
                        <%=   rentalCar.class    %>
                    </div>
                    <div class="det-car-name car-name">
                        <%=   rentalCar.name    %>
                            <span>or similar</span>
                    </div>
                    <div class="car-img">
                        <img src="<%=   rentalCar.image   %>" width="150" height="80" alt="">
                    </div>
                    <div class="car-company-logo rentalcar-logo">

                        <img src="<%=  rentalCar.ccLogo %>" alt="">
                        <!-- <%= rentalCar.carCompany  %> -->



                    </div>

                </div>
                <div class="details-pickup col-sm-4">
                    <div class=" text-center">
                        <strong> Pick-up</strong>
                    </div>
                    <div class="pulocation">
                        Location: &nbsp;&nbsp;
                        <%= rentalCar.carAt  %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= rentalCar.puLocBranch  %>
                    </div>
                    <div class="pudate">
                        Date/Time: &nbsp;&nbsp;
                        <%= rentalCar.pickupDate   %>
                    </div>
                </div>
                <div class="dropoff  col-sm-4" id="dropoffborder">
                    <hr>
                    <div class="location-drop text-center">
                        <strong> Drop-off</strong>
                    </div>
                    <div class="dolocation">
                        Location: &nbsp;&nbsp;
                        <%= rentalCar.carAt  %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= rentalCar.doLocBranch  %>
                    </div>
                    <div class="dodate">
                        Date/Time: &nbsp;&nbsp;
                        <%= rentalCar.dropoffDate  %>
                    </div>
                </div>

            </div>
        </div>

        <div class="payment-details showshadow container">
            <div class="text-center payment-details-title hl2 ">
                <h4> Choose your insurance coverage</h4>
            </div>
            <form action="https://compareauto.herokuapp.com/bookings" method="POST" name="booking" class="booking-form">
                <div class="row">
                    <div class="coverage extras" id="extrasnow">

                        <ul class="extras-ul mr-1">

                            <% rentalExtras.forEach(function(extra){ %>
                                <% if (extra.EXTRA === 'CAEXTRA'){ %>
                                    <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                        <div class="row d-flex w-100 ">

                                            <div class="extra-details d-flex col-sm-3">
                                                <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                <div class="extra-img justify-content-start ">
                                                    <img src="<%= extra.url %>" height="40" width="50" alt="">
                                                </div>
                                                <div class="ml-3 extra-name">

                                                    <strong>
                                                                    <%= extra.name %>
                                                                </strong>

                                                </div>
                                                <br>
                                            </div>
                                            <div class="extra-desc my-auto col-8 col-sm-6">
                                                <%= extra.description%>
                                            </div>


                                            <div class="extra-cost my-auto d-flex pr-0 justify-content-end col-2" id="<%=extra.docselector%>cost">

                                                <%=currency%>$
                                                    <%= (extra.dollar)%>
                                            </div>
                                            <div class="extra-select col-1">
                                                <input type="checkbox" class="form-check ckbox " name="otaCode-<%=extra.otacode%>" id="<%=extra.docselector%>" data-total="0" value="1" data-cost=" <%=extra.dollar%>">
                                            </div>
                                        </div>
                                    </li>

                                    <%  } %>

                                        <%  }); %>

                                            <li class="extra-list " id="decline">

                                                <div class="row d-flex w-100 ">

                                                    <div class="extra-details d-flex col-sm-3">
                                                        <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                        <div class="extra-img justify-content-start ">

                                                        </div>
                                                        <div class="ml-3 extra-name">



                                                        </div>
                                                        <br>
                                                    </div>
                                                    <div class="extra-desc my-auto col-sm-6 col-8">
                                                        Decline Protection no insurance
                                                    </div>


                                                    <div class="extra-cost pr-0 my-auto d-flex justify-content-end col-2 col-sm-2" id="spaceholder">


                                                    </div>
                                                    <div class="extra-select col-1">
                                                        <input class="form-check ckbox " id="cdwckbox" name="decline" value="1" type="checkbox">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="extra-list " id="nocdw">

                                                <div class="row d-flex ">

                                                    <div class="extra-details d-flex col-sm-3">
                                                        <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                        <div class="extra-img justify-content-start ">
                                                            <img src="../img/warning.svg" alt="" width="50" height="40">
                                                        </div>
                                                        <div class="ml-3 extra-name">

                                                            Not Protected

                                                        </div>
                                                        <br>
                                                    </div>
                                                    <div class="extra-desc my-auto col-sm-9">
                                                        <h5>
                                                            <strong> *** Dont Risk leaving your car rental without protection
                                                                            ***
                                                                        </strong>
                                                        </h5>
                                                    </div>


                                            </li>


                        </ul>


                        </div>




                    </div>
                </div>
                <div class="payment-details showshadow container">
                    <div class="text-center payment-details-title hl2">
                        <h4> Choose extras</h4>
                    </div>
                    <div class="row">
                        <div class="coverage extras" id="extraslocal">

                            <ul class="extras-ul mr-1">

                                <% rentalExtras.forEach(function(extra){ %>
                                    <% if (extra.EXTRA == 'SUPPLIER'){ %>
                                        <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                            <div class="row d-flex ">

                                                <div class="extra-details d-flex col-6 col-sm-8">
                                                    <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                    <div class="extra-img justify-content-start ">
                                                        <img src="<%= extra.url %>" height="40" width="40" alt="">
                                                    </div>
                                                    <div class="extra-name">
                                                        <strong>
                                                                <%= extra.name %>
                                                            </strong>
                                                    </div>
                                                    <br>
                                                    <div class="extra-desc">
                                                        <%= extra.description%>
                                                    </div>

                                                </div>
                                                <div class="extra-cost my-auto d-flex pr-0 justify-content-end col-2 col-sm-2" id="<%=extra.docselector%>cost">


                                                    <%=currency%>$
                                                        <%= (extra.dollar)%>
                                                </div>
                                                <div class="extra-select col-1 col-sm-1">
                                                    <select name="otaCode-<%= extra.otacode %>" data-selecttotal=" " data-cost="<%= extra.dollar%>" class="form-control otaselect " id="<%= extra.docselector %>">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </li>
                                        <%  } %>

                                            <%  }); %>

                            </ul>

                        </div>






                    </div>
                </div>
                <div class="supplier-details showshadow container">
                    <div class=" text-center mt-3 driver-title ">
                        <h4>Driver Information</h4>
                    </div>
                    <div id="drivers-text mb-5 ">


                    </div>
                    <div class=" driver-form  mt-4 pt-4">





                        <div class="form-group row">
                            <label for="firstname" class="offset-sm-2 col-sm-2 col-form-label mright">First Name</label>
                            <div class="col-sm-6">
                                <input type="text" required name="firstname" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="offset-sm-2 col-sm-2 col-form-label mright">Last Name</label>
                            <div class="col-sm-6 ">
                                <input type="text" name="lastname" requiredclass="form-control" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="offset-sm-2 col-sm-2 col-form-label mright">Email Address
                                </label>
                            <div class="col-sm-6">
                                <input type="email" name="email" required class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="offset-sm-2 col-sm-2 col-form-label mright">Phone Number</label>
                            <div class="col-sm-6">
                                <input type="phone" name="phone" class="form-control" required id="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="cc-title w-100 mt-3 mb-3 text-center">
                            <h4>Credit Card Information</h4>
                        </div>
                        <div class="cc-input">
                            <div class="form-group row">
                                <label for="ccname" class="offset-sm-2 col-sm-2 col-form-label mright">Name on Card</label>
                                <div class="col-sm-6">
                                    <input type="text" required name="ccname" class="form-control" id="ccname" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ccnumber" class=" col-sm-4 col-form-label mright">Credit Card Number</label>
                                <div class="col-sm-6">
                                    <input type="text" name="ccnumber" required class="form-control" id="ccnumber" placeholder="Credit Card Number">
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="y-month" class="offset-2 col-sm-2 col-form-label mright">Expiration</label>
                                <div class=" form-group col-sm-6 d-flex">
                                    <select class="form-control d-inline-flex col-sm-3" required name="expirymonth" id="y-month">
                                            <option>MM</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    <select class="form-control d-inline-flex ml-3 col-sm-3" required name="expiryyear">
                                            <option>Year</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                        </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="cvv" class="col-sm-4 col-6 col-form-label mright">CVV</label>
                                <div class="col-sm-2 ">
                                    <input type="text" name="cvv" class="form-control" required id="cvv" placeholder="CVV">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="bottombutton ">
                        <div class="row">
                            <div class="checkbox d-flex ml-2 pr-0 mr-0 col-2 col-sm-2 col-md-1"><input type="checkbox" name="terms" id="terms"></div>


                            <div class="terms col-9 pl-0 ml-0 mb-3 mt-3">
                                <span> I agree with</span>
                                <button class="" data-toggle="modal" data-target=".bd-example-modal-lg1">
                                            <a href="#">Terms of Service</a>       
                                            </button>

                                <div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content termsservice">


                                            <%-rentalCar.termservice%>

                                        </div>
                                    </div>
                                </div>


                                <span>and suppliers</span>
                                <button class="" data-toggle="modal" data-target=".bd-example-modal-lg">
                                                <a href="#">Terms and Conditions</a>       
                                                </button>

                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">


                                            <%-rentalCar.termconditions%>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="resbtn mr-3">

                            <input type="hidden" name="rateref" id="rateref" value="<%= rentalCar.rateRef  %>">
                            <button data-rateRef="<%= rentalCar.rateRef %>" disabled type="submit" class="btn btn-lg" id="reserve-my">
                                <strong>Confirm Booking</strong>
                            </button>
                        </div>

                    </div>
            </form>

            </div>
        </div>


        <div class="rightside col-sm-3">
            <div class="sticky ">
                <div class="confirmation-number panel-1  text-center col-sm-10 mb-3">
                    <div class=" summary-panel-left jstotal showshadow">
                        <div class="heading text-center hl2">
                        </div>Totals in

                        <span>  <select id="currency-total-left" name="currency-total" class="total-dropdown" data-currency= "<%=currency%>"value="<%=currency%>">
        
                                            <option value="AED">AED</option>
                                            <option value="AFN">AFN</option>
                                            <option value="ALL">ALL</option>
                                            <option value="AMD">AMD</option>
                                            <option value="ANG">ANG</option>
                                            <option value="AUD">AUD</option>
                                            <option value="AWG">AWG</option>
                                            <option value="AZN">AZN</option>
                                            <option value="BAM">BAM</option>
                                            <option value="BBD">BDD</option>
                                            <option value="BGN">BGN</option>
                                            <option value="BIF">BIF</option>
                                            <option value="BMD">BMD</option>
                                            <option value="BND">BND</option>
                                            <option value="BOB">BOB</option>
                                            <option value="BRL">BRL</option>
                                            <option value="BTN">BTN</option>
                                            <option value="BWP">BWP</option>
                                            <option value="BYN">BYN</option>
                                            <option value="BZD">BZD</option>
                                            <option value="CDF">CDF</option>
                                            <option value="CHF">CHF</option>
                                            <option value="CLF">CLF</option>
                                            <option value="CLP">CLP</option>
                                            <option value="CNY">CNY</option>
                                            <option value="COP">COP</option>
                                            <option value="CRC">CRC</option>
                                            <option value="CUP">CUP</option>
                                            <option value="CVE">CVE</option>
                                            <option value="DJF">DJF</option>
                                            <option value="DKK">DKK</option>
                                            <option value="DOP">DOP</option>
                                            <option value="DZD">DZD</option>
                                            <option value="FKP">FKP</option>
                                            <option value="GBP">GBP</option>
                                            <option value="GEL">GEL</option>
                                            <option value="GHS">GHS</option>
                                            <option value="GIP">GIP</option>
                                            <option value="GMD">GMD</option>
                                            <option value="GNF">GNF</option>
                                            <option value="GTQ">GTQ</option>
                                            <option value="HKD">HKD</option>
                                            <option value="HNL">HNL</option>
                                            <option value="HRK">HRK</option>
                                            <option value="HTG">HTG</option>
                                            <option value="HUF">HUF</option>
                                            <option value="IDR">IDF</option>
                                            <option value="ILS">ILS</option>
                                            <option value="INR">INR</option>
                                            <option value="IQD">IQD</option>
                                            <option value="IRR">IRR</option>
                                            <option value="ISK">ISK</option>
                                            <option value="JMD">JMD</option>
                                            <option value="JOD">JOD</option>
                                            <option value="JPY">JPY</option>
                                            <option value="KES">KES</option>
                                            <option value="KGS">KGS</option>
                                            <option value="KHR">KHR</option>
                                            <option value="KMF">KMF</option>
                                            <option value="KPW">KPW</option>
                                            <option value="KRW">KRW</option>
                                            <option value="KWD">KWD</option>
                                            <option value="KYD">KYD</option>
                                            <option value="KZT">KZT</option>
                                            <option value="LAK">LAK</option>
                                            <option value="LBP">LBP</option>
                                            <option value="LRD">LRD</option>
                                            <option value="LSL">LSL</option>
                                            <option value="LTL">LTL</option>
                                            <option value="LVL">LVL</option>
                                            <option value="LYD">LYD</option>
                                            <option value="MAD">MAD</option>
                                            <option value="MDL">MDL</option>
                                            <option value="MGA">MGA</option>
                                            <option value="MKD">MKD</option>
                                            <option value="MMK">MMK</option>
                                            <option value="MNT">MNT</option>
                                            <option value="MOP">MOP</option>
                                            <option value="MRO">MRO</option>
                                            <option value="MTL">MTL</option>
                                            <option value="MUR">MUR</option>
                                            <option value="MVR">MVR</option>
                                            <option value="MWK">MWK</option>
                                            <option value="MXN">MXN</option>
                                            <option value="MYR">MYR</option>
                                            <option value="MZN">MZN</option>
                                            <option value="NAD">NAD</option>
                                            <option value="NGN">NGN</option>
                                            <option value="NIO">NIO</option>
                                            <option value="NOK">NOK</option>
                                            <option value="NPR">NPR</option>
                                            <option value="OMR">OMR</option>
                                            <option value="PAB">PAB</option>
                                            <option value="PEN">PEN</option>
                                            <option value="PGK">PGK</option>
                                            <option value="PHP">PHP</option>
                                            <option value="PKR">PKR</option>
                                            <option value="PLN">PLN</option>
                                            <option value="PYG">PYQ</option>
                                            <option value="QAR">QAR</option>
                                            <option value="RON">RON</option>
                                            <option value="RSD">RSD</option>
                                            <option value="RUB">RUB</option>
                                            <option value="RWF">RWF</option>
                                            <option value="SAR">SAR</option>
                                            <option value="SBD">SBD</option>
                                            <option value="SCR">SCR</option>
                                            <option value="SEK">SEK</option>
                                            <option value="SGD">SGD</option>
                                            <option value="SHP">SHP</option>
                                            <option value="SLL">SLL</option>
                                            <option value="SOS">SOS</option>
                                            <option value="SRD">SRD</option>
                                            <option value="SSP">SSP</option>
                                            <option value="STD">STD</option>
                                            <option value="SYP">SYP</option>
                                            <option value="TMT">TMT</option>
                                            <option value="TND">TND</option>
                                            <option value="TOP">TOP</option>
                                            <option value="TRY">TRY</option>
                                            <option value="TTD">TTD</option>
                                            <option value="TWD">TWD</option>
                                            <option value="TZS">TZS</option>
                                            <option value="UAH">UAH</option>
                                            <option value="UGX">UGX</option>
                                            <option value="USD">USD</option>
                                            <option value="UYU">UYU</option>
                                            <option value="UZS">UZS</option>
                                            <option value="VEF">VEF</option>
                                            <option value="VND">VND</option>
                                            <option value="VUV">VUV</option>
                                            <option value="WST">WST</option>
                                            <option value="XAF">XAF</option>
                                            <option value="XCD">XCD</option>
                                            <option value="XOF">XOF</option>
                                            <option value="XPF">XPF</option>
                                            <option value="YER">YER</option>
                                            <option value="ZAR">ZAR</option>
                                            <option value="ZMW">ZMW</option>
        
                                        </select></span>


                        <div class="row d-flex ">
                            <div class="pl-5 paynow text-left col-7">
                                Pay Now:

                            </div>
                            <div class="paynowval col-4 text-right " id="paynow">
                                $
                                <%= (rentalCar.payNow)  %>
                            </div>

                        </div>
                        <div class="row d-flex ">
                            <div class="paylater text-left pl-5 col-7">
                                Pay at pick-up:
                            </div>
                            <div class="paylaterval col-4 text-right " id="payloc">
                                $
                                <%= (rentalCar.payLater)  %>
                            </div>

                        </div>
                        <div class="row d-flex ">

                            <div class="total-summary text-left pl-5 col-7">
                                <strong>   Total:</strong>
                            </div>
                            <div class="totalval col-4 text-right " id="ptotal">

                                $
                                <strong>   <%= (rentalCar.estTotal ) %></strong>
                            </div>
                        </div>
                    </div>


                    <table class="table hidden">
                        <tbody class="hidden">
                            <tr>
                                <td>Payable Now:</td>
                                <td id="paynowo">
                                    <%= (rentalCar.payNow ) %>
                                </td>
                            </tr>
                            <tr>
                                <td>Payable Locally:</td>
                                <td id="payloco">
                                    <%= (rentalCar.payLater)  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Taxes and Fees:</td>
                                <td id="ptfo">
                                    <%= (rentalCar.feesTotal ) %>
                                </td>
                            </tr>
                            <tr>
                                <td>Booking Total:</td>
                                <td id="ptotalo">
                                    <%= (rentalCar.estTotal ) %>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>




        </div>
    </div>
    </div>


    </div>













    <footer>
        <div class="container-fluid">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-6">
                        <h5>COMPANY</h5>

                        <ul class="">
                            <li>
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <a href="../../index.php"> Home</a>
                            </li>
                            <li class="">
                                <i class="fa fa-h-square" aria-hidden="true"></i>
                                <a href="../../bf57bb987269ecb212361468e0b10eba6bbc4a05.html"> Booking a Hotel</a>
                            </li>
                            <li>
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                <a href="../../services.html"> Our Services </a>
                            </li>
                            <li>
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                                <a href="../../affiliate"> Become a Affiliate </a>
                            </li>
                            <li>
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                                <a href="../../travel_agent.html"> Travel Agent </a>
                            </li>
                            <li>
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <a href="../../luxury-car.html"> Luxury cars (NEW)</a>
                            </li>
                            <li>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href="../../blog.html"> Blog (NEW)</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-6">
                        <h5>HELP</h5>

                        <ul>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="../../contact.php"> Contact</a>
                            </li>
                            <li>
                                <i class="fa fa-user-secret" aria-hidden="true"> </i>
                                <a href="../../privacy_policy.html"> Privacy Policy</a>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o" aria-hidden="true"> </i>
                                <a href="../../terms-and-conditions.html"> Terms & Conditions</a>
                            </li>
                            <li>
                                <i class="fa fa-question" aria-hidden="true"> </i>
                                <a href="../../faq"> FAQ</a>
                            </li>
                            <li>
                                <i class="fa fa-ban" aria-hidden="true"> </i>
                                <a href="../../cancellation-and-refund.php"> Cancellation</a>
                            </li>
                            <li>
                                <i class="fa fa-shield" aria-hidden="true"></i>
                                <a href="../../payment-security.html"> Security (NEW)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>NEWSLETTER</h5>
                        <p>Sign up to get the latest on sales, new releases and more …</p>
                        <!-- Begin MailChimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

                        <div id="mc_embed_signup">
                            <form action="//CompareAutoRentals.us15.list-manage.com/subscribe/post?u=812760ba9a91149a1d1c5ef46&amp;id=f14ce6bf37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">

                                        <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="newslatter required email" id="mce-EMAIL">
                                    </div>

                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_812760ba9a91149a1d1c5ef46_f14ce6bf37" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="sign up" name="subscribe" id="mc-embedded-subscribe" class="white-btn button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                        <script type="text/javascript">
                            (function($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = 'EMAIL';
                                ftypes[0] = "email";
                                fnames[1] = "FNAME";
                                ftypes[1] = "text";
                                fnames[2] = "LNAME";
                                ftypes[2] = "text";
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                    <div class="col-md-12 text-center guide">
                        <h5>DESTINATION GUIDES</h5>





                        <div class="row justify-content-around ">


                            <button class="guide-button" type="button" data-toggle="collapse" data-target="#northamerica" aria-expanded="false" aria-controls="collapseExample">
                                    North America
                                </button>
                            <button class=" guide-button" type="button" data-toggle="collapse" data-target="#southamerica" aria-expanded="false" aria-controls="collapseExample">
                                    South America
                                </button>
                            <button class=" guide-button" type="button" data-toggle="collapse" data-target="#europe" aria-expanded="false" aria-controls="collapseExample">
                                    Europe
                                </button>

                            <button class=" guide-button" type="button" data-toggle="collapse" data-target="#asia" aria-expanded="false" aria-controls="collapseExample">
                                    Asia
                                </button>
                            <button class=" guide-button" type="button" data-toggle="collapse" data-target="#australia" aria-expanded="false" aria-controls="collapseExample">
                                    Australia/Oceania
                                </button>
                        </div>
                        <div class="collapse " id="northamerica">
                            <div class="card card-body  ">
                                <div class="row justify-content-between">
                                    <li>
                                        <a href="../countries/albuquerque/?p_iata=ABQ" class="active">Albuquerque &nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/atlanta/?p_iata=ATL" class="active">Atlanta&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/austin/?p_iata=AUS" class="active">Austin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/baltimore/?p_iata=BWI" class="active">Baltimore&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/boston/?p_iata=BOS" class="active">Boston&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/charlotte/?p_iata=CLT" class="active">Charlotte&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/chicago/?p_iata=ORD" class="active">Chicago-Ohare&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/chicago-midway/?p_iata=MDY" class="active">Chicago-Midway&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/dallas/?p_iata=DAL" class="active">Dallas - Love Field&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/dallas/?p_iata=DFW" class="active">Dallas - DFW&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/denver/?p_iata=DEN" class="active">Denver&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/detroit/?p_iata=DTW" class="active">Detroit&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/elpaso/?p_iata=ELP" class="active">El Paso&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/lauderdale/?p_iata=FLL" class="active">Ft.Lauderdale&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/ftmyers/?p_iata=FMYL" class="active">Ft Myers&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/honolulu/?p_iata=HNL" class="active">Honolulu&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/houston-bush/?p_iata=IAH" class="active">Houston - Bush&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/houston-hobby/?p_iata=HOU" class="active">Houston - Hobby&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/jackson-hole/?p_iata=JAC" class="active">Jackson Hole&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/jacksonville/?p_iata=JAX" class="active">JacKsonville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/maui/?p_iata=OGG" class="active">Kahului Airport Maui&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/kauai/?p_iata=LIH" class="active">Kauai-Lihue - Hawaii&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/lasvegas/?p_iata=LAS" class="active">Las Vegas&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/losangeles/?p_iata=LAX" class="active">Los Angeles-LAX&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/miami/?p_iata=MIA" class="active">Miami&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/minneapolis/?p_iata=MSP" class="active">Minneapolis&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/nashville/?p_iata=BNA" class="active">Nashville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/new-jersey/?p_iata=EWR" class="active">New Jersey&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/new-york/?p_iata=LGA" class="active">New York&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/oklahoma/?p_iata=OKC" class="active">Oklahoma&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/orlando/?p_iata=TLL" class="active">Orlando&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/philadelphia/?p_iata=PHL" class="active">Philadelphia&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/phoenix/?p_iata=PHX" class="active">Phoenix&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/portland/?p_iata=PDX" class="active">Portland, OR&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/raleigh/?p_iata=RDU" class="active">Raleigh&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/sacramento/?p_iata=SMF" class="active">Sacramento&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/sanantonio/?p_iata=SAT" class="active">San Antonio&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/sandiego/?p_iata=SAN" class="active">San Diego&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>

                                    <li>
                                        <a href="../countries/sanjuan/?p_iata=SJU" class="active">San Juan - PR</a>
                                    </li>
                                    <li>
                                        <a href="../countries/stlouis/?p_iata=STL" class="active">St.Louis&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/saltlake/?p_iata=SLC" class="active">Salt Lake City&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/san-francisco/?p_iata=SFO" class="active">San Francisco&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/santaana/?p_iata=SNA" class="active">Santa Ana&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/seattle/?p_iata=SEA" class="active">Seattle&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/tampa/?p_iata=TPA" class="active">Tampa&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/toronto/?p_iata=YYZ" class="active">Toronto&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li style="font-size:0px;">
                                        <a href="countries/vancouver/?p_iata=YVR" class="active">Vancouver&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/washingtondc/?p_iata=DCA" class="active">Washington DC - Reagan Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/washingtondc/?p_iata=IAD" class="active">Washington DC - Dulles Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="../countries/westpalmbeach/?p_iata=WPB" class="active">West Palm Beach</a>
                                    </li>



                                </div>

                            </div>
                        </div>
                        <div class="collapse" id="southamerica">
                            <div class="card card-body  ">
                                <div class="row justify-content-center">
                                    <ul class="links">

                                        <li>
                                            <a href="countries/buenos-aires/?p_iata=AEP"> Buenos Aires&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li>
                                            <a href="countries/brazil/?p_iata=DIQ">Brazil&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>




                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapse" id="europe">
                            <div class="card card-body  ">
                                <div class="row justify-content-between">

                                    <ul class="links">
                                        <li style="font-size:0px;">
                                            <a href="countries/florence/?p_iata=FLO" class="active">Florence&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/rome/?p_iata=CIA" class="active">Rome&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/tuscany/?p_iata=PSA" class="active">Tuscany&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>


                                        <li>
                                            <a href="countries/amsterdam/?p_iata=AMS">Amsterdam&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li>
                                            <a href="countries/berlin/?p_iata=TXL"> Berlin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>


                                        <li style="font-size:0px;">
                                            <a href="countries/barcelona/?p_iata=BCN" class="active">Barcelona&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/madrid/?p_iata=MAD" class="active">Madrid&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/seville/?p_iata=SVQ" class="active">Seville&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/valencia/?p_iata=VLC" class="active">Valencia&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/belfast-ireland-city-airport/?p_iata=BHD" class="active">Belfast City Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/northern-ireland/?p_iata=BFS" class="active">Belfast International Airport&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/cork/?p_iata=ORK" class="active">Cork&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/dublin/?p_iata=DUB" class="active">Dublin&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/shannon-limerick/?p_iata=SNN" class="active">Shannon Limerick&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>

                                        <li style="font-size:0px;">
                                            <a href="countries/athens/?p_iata=ATH" class="active">Athens&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/santorini/?p_iata=JTR" class="active">Santorini&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>


                                        <li>
                                            <a href="countries/budapest/?p_iata=BUD"> Budapest&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>

                                        <li>
                                            <a href="countries/istanbul/?p_iata=IST"> Istanbul&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>

                                        <li>
                                            <a href="countries/lisbon/?p_iata=LIS"> Lisbon&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li>
                                            <a href="countries/paris/?p_iata=CDG"> Paris&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li>
                                            <a href="countries/prague/?p_iata=PRG"> Prague&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li>
                                            <a href="countries/london/?p_iata=LHR"> London&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/vienna/?p_iata=VIE" class="active">Vienna&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>

                                    </ul>





                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="asia">
                            <div class="card card-body  ">
                                <div class="row justify-content-center">
                                    <ul class="links">

                                        <li style="font-size:0px;">
                                            <a href="countries/india-dehli/?p_iata=DEL" class="active">Dheli&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>
                                        <li style="font-size:0px;">
                                            <a href="countries/india-mumbai/?p_iata=DEL" class="active">Mumbai&nbsp;&nbsp; &nbsp;&nbsp;</a>
                                        </li>


                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="collapse" id="australia">
                            <div class="card card-body  ">
                                <div class="row justify-content-center">
                                    <ul class="links">
                                        <li style="font-size:0px;">
                                            <a href="countries/sidney/?p_iata=YQY" class="active">Sydney</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="white-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p>© Copyright COMPARE AUTO RENTALS | 2017-2018</p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <ul class="footer-social-icon">
                            <li>
                                <a href="https://web.facebook.com/compareautorentals/" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/compareautorent" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/CompareAutoRentals/" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC3tr-gQqY9zRcIGaZi7cCuw" target="_blank">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>

</html>