<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ./partials/head %>
        <script src="./js/totals.js"></script>
</head>

<body>
    <div class="container-fluid" id="header-container">
        <%- include ./partials/header %>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="leftside col-lg-2 col-sm-0">

            </div>

            <div class="center-container col-sm-6 col-md-12 col-lg-9 col-xl-6">
                <div class="booking-title text-center ">
                    <div class="container1">
                        <div class="wrapper1">
                            <div class="arrow-steps clearfix">
                                <div class="step"> <span><a href="index.html">Choose location and time</a> </span> </div>

                                <div class="step"> <span><a href="#"onclick="history.back(-1)">Choose vehicle</a></span> </div>
                                <div class="step current"> <span> Confirm Booking</span> </div>
                                <div class="step"> <span>Confirmation details
                                          
                                        </span> </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row panel-1 w-100 sticky1 ">
                    <div class="confirmation-number text-center col-sm-9 col-lg-9  col-md-12 mb-3 ">
                        <div class="summary-panel  jstotal showshadow">
                            <div data-xrate="<%=xrate%>" id="xrate" class="heading text-center hl2">

                            </div>Totals in

                            <span>  <select id="currency-total" name="currency-total" class="total-dropdown"data-currency= "<%=currency%>" >
        
                                            <option value="AED">AED</option>
                                            <option value="AFN">AFN</option>
                                            <option value="ALL">ALL</option>
                                            <option value="AMD">AMD</option>
                                            <option value="ANG">ANG</option>
                                            <option value="AUD">AUD</option>
                                            <option value="AWG">AWG</option>
                                            <option value="AZN">AZN</option>
                                            <option value="BAM">BAM</option>
                                            <option value="BBD">BDD</option>
                                            <option value="BGN">BGN</option>
                                            <option value="BIF">BIF</option>
                                            <option value="BMD">BMD</option>
                                            <option value="BND">BND</option>
                                            <option value="BOB">BOB</option>
                                            <option value="BRL">BRL</option>
                                            <option value="BTN">BTN</option>
                                            <option value="BWP">BWP</option>
                                            <option value="BYN">BYN</option>
                                            <option value="BZD">BZD</option>
                                            <option value="CDF">CDF</option>
                                            <option value="CHF">CHF</option>
                                            <option value="CLF">CLF</option>
                                            <option value="CLP">CLP</option>
                                            <option value="CNY">CNY</option>
                                            <option value="COP">COP</option>
                                            <option value="CRC">CRC</option>
                                            <option value="CUP">CUP</option>
                                            <option value="CVE">CVE</option>
                                            <option value="DJF">DJF</option>
                                            <option value="DKK">DKK</option>
                                            <option value="DOP">DOP</option>
                                            <option value="DZD">DZD</option>
                                            <option value="FKP">FKP</option>
                                            <option value="GBP">GBP</option>
                                            <option value="GEL">GEL</option>
                                            <option value="GHS">GHS</option>
                                            <option value="GIP">GIP</option>
                                            <option value="GMD">GMD</option>
                                            <option value="GNF">GNF</option>
                                            <option value="GTQ">GTQ</option>
                                            <option value="HKD">HKD</option>
                                            <option value="HNL">HNL</option>
                                            <option value="HRK">HRK</option>
                                            <option value="HTG">HTG</option>
                                            <option value="HUF">HUF</option>
                                            <option value="IDR">IDF</option>
                                            <option value="ILS">ILS</option>
                                            <option value="INR">INR</option>
                                            <option value="IQD">IQD</option>
                                            <option value="IRR">IRR</option>
                                            <option value="ISK">ISK</option>
                                            <option value="JMD">JMD</option>
                                            <option value="JOD">JOD</option>
                                            <option value="JPY">JPY</option>
                                            <option value="KES">KES</option>
                                            <option value="KGS">KGS</option>
                                            <option value="KHR">KHR</option>
                                            <option value="KMF">KMF</option>
                                            <option value="KPW">KPW</option>
                                            <option value="KRW">KRW</option>
                                            <option value="KWD">KWD</option>
                                            <option value="KYD">KYD</option>
                                            <option value="KZT">KZT</option>
                                            <option value="LAK">LAK</option>
                                            <option value="LBP">LBP</option>
                                            <option value="LRD">LRD</option>
                                            <option value="LSL">LSL</option>
                                            <option value="LTL">LTL</option>
                                            <option value="LVL">LVL</option>
                                            <option value="LYD">LYD</option>
                                            <option value="MAD">MAD</option>
                                            <option value="MDL">MDL</option>
                                            <option value="MGA">MGA</option>
                                            <option value="MKD">MKD</option>
                                            <option value="MMK">MMK</option>
                                            <option value="MNT">MNT</option>
                                            <option value="MOP">MOP</option>
                                            <option value="MRO">MRO</option>
                                            <option value="MTL">MTL</option>
                                            <option value="MUR">MUR</option>
                                            <option value="MVR">MVR</option>
                                            <option value="MWK">MWK</option>
                                            <option value="MXN">MXN</option>
                                            <option value="MYR">MYR</option>
                                            <option value="MZN">MZN</option>
                                            <option value="NAD">NAD</option>
                                            <option value="NGN">NGN</option>
                                            <option value="NIO">NIO</option>
                                            <option value="NOK">NOK</option>
                                            <option value="NPR">NPR</option>
                                            <option value="OMR">OMR</option>
                                            <option value="PAB">PAB</option>
                                            <option value="PEN">PEN</option>
                                            <option value="PGK">PGK</option>
                                            <option value="PHP">PHP</option>
                                            <option value="PKR">PKR</option>
                                            <option value="PLN">PLN</option>
                                            <option value="PYG">PYQ</option>
                                            <option value="QAR">QAR</option>
                                            <option value="RON">RON</option>
                                            <option value="RSD">RSD</option>
                                            <option value="RUB">RUB</option>
                                            <option value="RWF">RWF</option>
                                            <option value="SAR">SAR</option>
                                            <option value="SBD">SBD</option>
                                            <option value="SCR">SCR</option>
                                            <option value="SEK">SEK</option>
                                            <option value="SGD">SGD</option>
                                            <option value="SHP">SHP</option>
                                            <option value="SLL">SLL</option>
                                            <option value="SOS">SOS</option>
                                            <option value="SRD">SRD</option>
                                            <option value="SSP">SSP</option>
                                            <option value="STD">STD</option>
                                            <option value="SYP">SYP</option>
                                            <option value="TMT">TMT</option>
                                            <option value="TND">TND</option>
                                            <option value="TOP">TOP</option>
                                            <option value="TRY">TRY</option>
                                            <option value="TTD">TTD</option>
                                            <option value="TWD">TWD</option>
                                            <option value="TZS">TZS</option>
                                            <option value="UAH">UAH</option>
                                            <option value="UGX">UGX</option>
                                            <option value="USD">USD</option>
                                            <option value="UYU">UYU</option>
                                            <option value="UZS">UZS</option>
                                            <option value="VEF">VEF</option>
                                            <option value="VND">VND</option>
                                            <option value="VUV">VUV</option>
                                            <option value="WST">WST</option>
                                            <option value="XAF">XAF</option>
                                            <option value="XCD">XCD</option>
                                            <option value="XOF">XOF</option>
                                            <option value="XPF">XPF</option>
                                            <option value="YER">YER</option>
                                            <option value="ZAR">ZAR</option>
                                            <option value="ZMW">ZMW</option>
        
                                        </select>
        
                            <div class="row  d-flex ">
                                <div class="pl-5 paynow text-left col-7">
                                    Pay Now:

                                </div>
                                <div class="paynowval col-5 text-right " id="paynow1">
                                    $
                                    <%= rentalCar.payNow  %>
                                </div>

                            </div>
                            <div class="row d-flex ">
                                <div class="paylater text-left pl-5 col-7">
                                    Pay at pick-up:
                                </div>
                                <div class="paylaterval col-5 text-right " id="payloc1">
                                    <span>$</span><span><%= rentalCar.payLater  %></span>
                        </div>

                    </div>
                    <div class="row d-flex ">
                        <div class="total-summary text-left pl-5 col-7">
                            Total:
                        </div>
                        <div class="totalval col-5 text-right " id="ptotal1">

                            <span>$</span><span><%= rentalCar.estTotal  %></span>
                        </div>
                    </div>




                    <table class="table hidden">
                        <tbody class="hidden">
                            <tr>
                                <td>Payable Now:</td>
                                <td id="paynowo">
                                    <%= rentalCar.payNow  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Payable Locally:</td>
                                <td id="payloco">
                                    <%= rentalCar.payLater  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Taxes and Fees:</td>
                                <td id="ptfo">
                                    <%= rentalCar.feesTotal  %>
                                </td>
                            </tr>
                            <tr>
                                <td>Booking Total:</td>
                                <td id="ptotalo">
                                    <%= rentalCar.estTotal  %>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>

        </div>

        <div class="container advertising ">
            <div class="row ">
                <div class="top-advertising  col-12 showshadow ">
                    <div class="center-info mb-3  ">
                        <div class=" mb-2 mt-2" id="cost-summary">
                            This car is costing you

                            <span id="adv-cost">  <%= rentalCar.estTotalDisplay %> </span>-- a real bargain...
                        </div>
                        <div class=" mb-2 mt-2" id="sales-center">
                            we are experiencing high demand at
                            <%= rentalCar.puLocBranch  %> in
                                <%= rentalCar.puMonth   %>, secure your car by booking today

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="car-details showshadow container">
            <div class="text-center  hl2 car-details-title">
                <h4> Car Details</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="car-class">
                        <%=   rentalCar.class    %>
                    </div>
                    <div class="det-car-name car-name">
                        <%=   rentalCar.name    %>
                            <span>or similar</span>
                    </div>
                    <div class="car-img">
                        <img src="<%=   rentalCar.image   %>" width="150" height="80" alt="">
                    </div>
                    <div class="car-company-logo rentalcar-logo">

                        <img src="<%=  rentalCar.ccLogo %>" alt="">
                        <!-- <%= rentalCar.carCompany  %> -->



                    </div>

                </div>
                <div class="details-pickup col-sm-4">
                    <div class=" text-center">
                        <strong> Pick-up</strong>
                    </div>
                    <div class="pulocation">
                        Location: &nbsp;&nbsp;
                        <%= rentalCar.carAt  %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= rentalCar.puLocBranch  %>
                    </div>
                    <div class="pudate">
                        Date/Time: &nbsp;&nbsp;
                        <%= rentalCar.pickupDate   %>
                    </div>
                </div>
                <div class="dropoff  col-sm-4" id="dropoffborder">
                    <hr>
                    <div class="location-drop text-center">
                        <strong> Drop-off</strong>
                    </div>
                    <div class="dolocation">
                        Location: &nbsp;&nbsp;
                        <%= rentalCar.carAt  %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= rentalCar.doLocBranch  %>
                    </div>
                    <div class="dodate">
                        Date/Time: &nbsp;&nbsp;
                        <%= rentalCar.dropoffDate  %>
                    </div>
                </div>

            </div>
        </div>

        <div class="payment-details showshadow container">
            <div class="text-center payment-details-title hl2 ">
                <h4> Choose your insurance coverage</h4>
            </div>
            <form action="https://compareauto.herokuapp.com/bookings" method="POST" name="booking" class="booking-form">
                <div class="row">
                    <div class="coverage extras" id="extrasnow">

                        <ul class="extras-ul mr-1">

                            <% rentalExtras.forEach(function(extra){ %>
                                <% if (extra.EXTRA === 'CAEXTRA'){ %>
                                    <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                        <div class="row d-flex w-100 ">

                                            <div class="extra-details d-flex col-sm-3">
                                                <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                <div class="extra-img justify-content-start ">
                                                    <img src="<%= extra.url %>" height="40" width="50" alt="">
                                                </div>
                                                <div class="ml-3 extra-name">

                                                    <strong>
                                                                    <%= extra.name %>
                                                                </strong>

                                                </div>
                                                <br>
                                            </div>
                                            <div class="extra-desc my-auto col-8 col-sm-6">
                                                <%= extra.description%>
                                            </div>


                                            <div class="extra-cost my-auto d-flex pr-0 justify-content-end col-2" id="<%=extra.docselector%>cost">


                                                <%= extra.loccost%>
                                            </div>
                                            <div class="extra-select col-1">
                                                <input type="checkbox" class="form-check ckbox " name="otaCode-<%=extra.otacode%>" id="<%=extra.docselector%>" data-costx="<%= extra.loccost1%>" data-total="0" value="1" data-cost="<%=extra.cost%>">
                                            </div>
                                        </div>
                                    </li>

                                    <%  } %>

                                        <%  }); %>

                                            <li class="extra-list " id="decline">

                                                <div class="row d-flex w-100 ">

                                                    <div class="extra-details d-flex col-sm-3">
                                                        <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                        <div class="extra-img justify-content-start ">

                                                        </div>
                                                        <div class="ml-3 extra-name">



                                                        </div>
                                                        <br>
                                                    </div>
                                                    <div class="extra-desc my-auto col-sm-6 col-8">
                                                        Decline Protection no insurance
                                                    </div>


                                                    <div class="extra-cost pr-0 my-auto d-flex justify-content-end col-2 col-sm-2" id="spaceholder">


                                                    </div>
                                                    <div class="extra-select col-1">
                                                        <input class="form-check ckbox " id="cdwckbox" name="decline" value="1" type="checkbox">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="extra-list " id="nocdw">

                                                <div class="row d-flex ">

                                                    <div class="extra-details d-flex col-sm-3">
                                                        <!-- <img src="https://cdn.carrentalgateway.com/media/extra_image/67.png" height="30px" width="30px" alt="">  -->
                                                        <div class="extra-img justify-content-start ">
                                                            <img src="../img/warning.svg" alt="" width="50" height="40">
                                                        </div>
                                                        <div class="ml-3 extra-name">

                                                            Not Protected

                                                        </div>
                                                        <br>
                                                    </div>
                                                    <div class="extra-desc my-auto col-sm-9">
                                                        <h5>
                                                            <strong> *** Dont Risk leaving your car rental without protection
                                                                            ***
                                                                        </strong>
                                                        </h5>
                                                    </div>


                                            </li>


                        </ul>


                        </div>




                    </div>
                </div>
                <div class="payment-details showshadow container">
                    <div class="text-center payment-details-title hl2">
                        <h4> Choose extras</h4>
                    </div>
                    <div class="row">
                        <div class="coverage extras" id="extraslocal">

                            <ul class="extras-ul mr-1">

                                <% rentalExtras.forEach(function(extra){ %>
                                    <% if (extra.EXTRA == 'SUPPLIER'){ %>
                                        <li class="extra-list <%=extra.docselector%>" id="li<%=extra.docselector%>">

                                            <div class="row d-flex ">

                                                <div class="extra-details d-flex col-6 col-sm-8">
                                                    <!-- <img src="<%= extra.url %>" height="30px" width="30px" alt="">  -->
                                                    <div class="extra-img justify-content-start ">
                                                        <img src="<%= extra.url %>" height="40" width="40" alt="">
                                                    </div>
                                                    <div class="extra-name">
                                                        <strong>
                                                                <%= extra.name %>
                                                            </strong>
                                                    </div>
                                                    <br>
                                                    <div class="extra-desc">
                                                        <%= extra.description%>
                                                    </div>

                                                </div>
                                                <div class="extra-cost my-auto d-flex pr-0 justify-content-end col-2 col-sm-2" id="<%=extra.docselector%>cost">



                                                    <%= extra.loccost%>
                                                </div>
                                                <div class="extra-select col-1 col-sm-1">
                                                    <select name="otaCode-<%= extra.otacode %>" data-selecttotal=" " data-costx="<%= extra.loccost1%>" data-cost="<%= extra.cost%>" class="form-control otaselect " id="<%= extra.docselector %>">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </li>
                                        <%  } %>

                                            <%  }); %>

                            </ul>

                        </div>






                    </div>
                </div>
                <div class="supplier-details showshadow container">
                    <div class=" text-center mt-3 driver-title ">
                        <h4>Driver Information</h4>
                    </div>
                    <div id="drivers-text mb-5 ">


                    </div>
                    <div class=" driver-form  mt-4 pt-4">





                        <div class="form-group row">
                            <label for="firstname" class="offset-sm-2 col-sm-2 col-form-label mright">First Name</label>
                            <div class="col-sm-6">
                                <input type="text" required name="firstname" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="offset-sm-2 col-sm-2 col-form-label mright">Last Name</label>
                            <div class="col-sm-6 ">
                                <input type="text" name="lastname" required class="form-control" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="offset-sm-2 col-sm-2 col-form-label mright">Email Address
                                </label>
                            <div class="col-sm-6">
                                <input type="email" name="email" required class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="offset-sm-2 col-sm-2 col-form-label mright">Phone Number</label>
                            <div class="col-sm-6">
                                <input type="phone" name="phone" class="form-control" required id="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="creditcard">
                            <div class="cc-title w-100 mt-3 mb-3 text-center">
                                <h4>Credit Card Information</h4>
                                <div class="cc-image">
                                    <img src="../img/Paypal2.jpg" alt="">
                                </div>
                            </div>
                            <div class="cc-input">
                                <div class="form-group row">
                                    <label for="ccname" class="offset-sm-2 col-sm-2 col-form-label mright">Name on Card</label>
                                    <div class="col-sm-6">
                                        <input type="text" required name="ccname" class="form-control" id="ccname" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ccnumber" class=" col-sm-4 col-form-label mright">Credit Card Number</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="ccnumber" required class="form-control" id="ccnumber" placeholder="Credit Card Number">
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label for="y-month" class="offset-2 col-sm-2 col-form-label mright">Expiration</label>
                                    <div class=" form-group col-sm-6 d-flex">
                                        <select class="form-control d-inline-flex col-sm-3" required name="expirymonth" id="y-month">
                                            <option>MM</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <select class="form-control d-inline-flex ml-3 col-sm-3" required name="expiryyear">
                                            <option>Year</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group d-flex row">
                                    <label for="cvv" class="col-sm-4 col-6 col-form-label mright">CVV</label>
                                    <div class="col-sm-2 ">
                                        <input type="text" name="cvv" class="form-control" required id="cvv" placeholder="CVV">
                                    </div>
                                    <div class="cc-mcafee offset-2">
                                        <img src="./img/mcafee.png" id="mcafeeseal1">
                                    </div>
                                    <div class="cc-payment">
                                        <img src="../img/Paypal2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottombutton ">
                        <div class="row">
                            <div class="checkbox d-flex ml-2 pr-0 mr-0 col-2 col-sm-2 col-md-1"><input type="checkbox" name="terms" id="terms"></div>


                            <div class="terms col-9 pl-0 ml-0 mb-3 mt-3">
                                <span> I agree with</span>
                                <button class="" data-toggle="modal" data-target=".bd-example-modal-lg1">
                                            <a href="#">Terms of Service</a>       
                                            </button>

                                <div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content termsservice">


                                            <%-rentalCar.termservice%>

                                        </div>
                                    </div>
                                </div>


                                <span>and suppliers</span>
                                <button class="" data-toggle="modal" data-target=".bd-example-modal-lg">
                                                <a href="#">Terms and Conditions</a>       
                                                </button>

                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">


                                            <%-rentalCar.termconditions%>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="resbtn mr-3">

                            <input type="hidden" name="rateref" id="rateref" value="<%= rentalCar.rateRef  %>">
                            <button data-rateRef="<%= rentalCar.rateRef %>" disabled type="submit" class="btn btn-lg" id="reserve-my">
                                <strong>Confirm Booking</strong>
                            </button>
                        </div>

                    </div>
            </form>

            </div>
        </div>


        <div class="rightside col-md-4">
            <div class="sticky ">
                <div class="confirmation-number panel-1  text-center col-sm-10 mb-3">
                    <div class=" summary-panel-left jstotal showshadow">
                        <div class="heading text-center hl2">
                        </div>Totals in

                        <span>  <select id="currency-total-left" name="currency-total" class="total-dropdown" data-currency= "<%=currency%>">
                        
                                                            <option value="AED">AED</option>
                                                            <option value="AFN">AFN</option>
                                                            <option value="ALL">ALL</option>
                                                            <option value="AMD">AMD</option>
                                                            <option value="ANG">ANG</option>
                                                            <option value="AUD">AUD</option>
                                                            <option value="AWG">AWG</option>
                                                            <option value="AZN">AZN</option>
                                                            <option value="BAM">BAM</option>
                                                            <option value="BBD">BDD</option>
                                                            <option value="BGN">BGN</option>
                                                            <option value="BIF">BIF</option>
                                                            <option value="BMD">BMD</option>
                                                            <option value="BND">BND</option>
                                                            <option value="BOB">BOB</option>
                                                            <option value="BRL">BRL</option>
                                                            <option value="BTN">BTN</option>
                                                            <option value="BWP">BWP</option>
                                                            <option value="BYN">BYN</option>
                                                            <option value="BZD">BZD</option>
                                                            <option value="CDF">CDF</option>
                                                            <option value="CHF">CHF</option>
                                                            <option value="CLF">CLF</option>
                                                            <option value="CLP">CLP</option>
                                                            <option value="CNY">CNY</option>
                                                            <option value="COP">COP</option>
                                                            <option value="CRC">CRC</option>
                                                            <option value="CUP">CUP</option>
                                                            <option value="CVE">CVE</option>
                                                            <option value="DJF">DJF</option>
                                                            <option value="DKK">DKK</option>
                                                            <option value="DOP">DOP</option>
                                                            <option value="DZD">DZD</option>
                                                            <option value="FKP">FKP</option>
                                                            <option value="GBP">GBP</option>
                                                            <option value="GEL">GEL</option>
                                                            <option value="GHS">GHS</option>
                                                            <option value="GIP">GIP</option>
                                                            <option value="GMD">GMD</option>
                                                            <option value="GNF">GNF</option>
                                                            <option value="GTQ">GTQ</option>
                                                            <option value="HKD">HKD</option>
                                                            <option value="HNL">HNL</option>
                                                            <option value="HRK">HRK</option>
                                                            <option value="HTG">HTG</option>
                                                            <option value="HUF">HUF</option>
                                                            <option value="IDR">IDF</option>
                                                            <option value="ILS">ILS</option>
                                                            <option value="INR">INR</option>
                                                            <option value="IQD">IQD</option>
                                                            <option value="IRR">IRR</option>
                                                            <option value="ISK">ISK</option>
                                                            <option value="JMD">JMD</option>
                                                            <option value="JOD">JOD</option>
                                                            <option value="JPY">JPY</option>
                                                            <option value="KES">KES</option>
                                                            <option value="KGS">KGS</option>
                                                            <option value="KHR">KHR</option>
                                                            <option value="KMF">KMF</option>
                                                            <option value="KPW">KPW</option>
                                                            <option value="KRW">KRW</option>
                                                            <option value="KWD">KWD</option>
                                                            <option value="KYD">KYD</option>
                                                            <option value="KZT">KZT</option>
                                                            <option value="LAK">LAK</option>
                                                            <option value="LBP">LBP</option>
                                                            <option value="LRD">LRD</option>
                                                            <option value="LSL">LSL</option>
                                                            <option value="LTL">LTL</option>
                                                            <option value="LVL">LVL</option>
                                                            <option value="LYD">LYD</option>
                                                            <option value="MAD">MAD</option>
                                                            <option value="MDL">MDL</option>
                                                            <option value="MGA">MGA</option>
                                                            <option value="MKD">MKD</option>
                                                            <option value="MMK">MMK</option>
                                                            <option value="MNT">MNT</option>
                                                            <option value="MOP">MOP</option>
                                                            <option value="MRO">MRO</option>
                                                            <option value="MTL">MTL</option>
                                                            <option value="MUR">MUR</option>
                                                            <option value="MVR">MVR</option>
                                                            <option value="MWK">MWK</option>
                                                            <option value="MXN">MXN</option>
                                                            <option value="MYR">MYR</option>
                                                            <option value="MZN">MZN</option>
                                                            <option value="NAD">NAD</option>
                                                            <option value="NGN">NGN</option>
                                                            <option value="NIO">NIO</option>
                                                            <option value="NOK">NOK</option>
                                                            <option value="NPR">NPR</option>
                                                            <option value="OMR">OMR</option>
                                                            <option value="PAB">PAB</option>
                                                            <option value="PEN">PEN</option>
                                                            <option value="PGK">PGK</option>
                                                            <option value="PHP">PHP</option>
                                                            <option value="PKR">PKR</option>
                                                            <option value="PLN">PLN</option>
                                                            <option value="PYG">PYQ</option>
                                                            <option value="QAR">QAR</option>
                                                            <option value="RON">RON</option>
                                                            <option value="RSD">RSD</option>
                                                            <option value="RUB">RUB</option>
                                                            <option value="RWF">RWF</option>
                                                            <option value="SAR">SAR</option>
                                                            <option value="SBD">SBD</option>
                                                            <option value="SCR">SCR</option>
                                                            <option value="SEK">SEK</option>
                                                            <option value="SGD">SGD</option>
                                                            <option value="SHP">SHP</option>
                                                            <option value="SLL">SLL</option>
                                                            <option value="SOS">SOS</option>
                                                            <option value="SRD">SRD</option>
                                                            <option value="SSP">SSP</option>
                                                            <option value="STD">STD</option>
                                                            <option value="SYP">SYP</option>
                                                            <option value="TMT">TMT</option>
                                                            <option value="TND">TND</option>
                                                            <option value="TOP">TOP</option>
                                                            <option value="TRY">TRY</option>
                                                            <option value="TTD">TTD</option>
                                                            <option value="TWD">TWD</option>
                                                            <option value="TZS">TZS</option>
                                                            <option value="UAH">UAH</option>
                                                            <option value="UGX">UGX</option>
                                                            <option value="USD">USD</option>
                                                            <option value="UYU">UYU</option>
                                                            <option value="UZS">UZS</option>
                                                            <option value="VEF">VEF</option>
                                                            <option value="VND">VND</option>
                                                            <option value="VUV">VUV</option>
                                                            <option value="WST">WST</option>
                                                            <option value="XAF">XAF</option>
                                                            <option value="XCD">XCD</option>
                                                            <option value="XOF">XOF</option>
                                                            <option value="XPF">XPF</option>
                                                            <option value="YER">YER</option>
                                                            <option value="ZAR">ZAR</option>
                                                            <option value="ZMW">ZMW</option>
                        
                                                        </select></span>


                        <div class="row mt-3 d-flex ">
                            <div class="pl-5 paynow text-left col-7">
                                Pay Now:

                            </div>
                            <div class="paynowval col-5 text-right " id="paynow">
                                $
                                <%= (rentalCar.payNow)  %>
                            </div>

                        </div>
                        <div class="row d-flex ">
                            <div class="paylater text-left pl-5 col-7">
                                Pay at pick-up:
                            </div>
                            <div class="paylaterval col-5 text-right " id="payloc">
                                $
                                <%= (rentalCar.payLater)  %>
                            </div>

                        </div>
                        <div class="row d-flex ">

                            <div class="total-summary text-left pl-5 col-7">
                                <strong>   Total:</strong>
                            </div>
                            <div class="totalval col-5 text-right " id="ptotal">

                                $
                                <strong>   <%= rentalCar.estTotal  %></strong>
                            </div>
                        </div>



                        <table class="table hidden">
                            <tbody class="hidden">
                                <tr>
                                    <td>Payable Now:</td>
                                    <td id="paynowo">
                                        <%= rentalCar.payNow  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Payable Locally:</td>
                                    <td id="payloco">
                                        <%= rentalCar.payLater  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Taxes and Fees:</td>
                                    <td id="ptfo">
                                        <%= rentalCar.feesTotal  %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Booking Total:</td>
                                    <td id="ptotalo">
                                        <%= rentalCar.estTotal  %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>




            </div>
        </div>
    </div>


    </div>













    <footer>
        <%- include ./partials/footer %>

    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>

</html>