<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ./partials/head %>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->

    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48CL95" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

    <!-- End Google Tag Manager (noscript) -->

    <%- include ./partials/header %>

        <div class="w-100 moving-car mt-0 pt-0 loader-holder">
            <div id="center">
                <!-- <img src="https://compareauto.herokuapp.com/img/logowhite.png" width="250" alt=""> -->
                <div class="skype-loader">
                    <div class="dot">
                        <div class="first"></div>
                    </div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <h2> Searching for the best car rental prices...</h2>
            </div>
        </div>


        <div class="container" id="resultsbody">
            <div class="car-list car-holder offset-lg-2 col-md-8 col-lg-8 col-sm-8">
                <div class="carfound car-warning d-flex text-center mt-3 mb-3">

                    <img src="../img/Caution symbol.jpg" width="50" height="50" alt="">
                    <h5>We're sorry but
                        <%= message%>.</h5>
                </div>

            </div>
            <div class="row list-body">
                <div class="offset-md-3 col-sm-6 pl-0 ml-0 col-md-6 col-lg-6 search-form-list1">


                    <div class="container form-list ">
                        <div class=" container form-input mt-5 ">
                            <form action="https://compareauto.herokuapp.com/quote" id="searchform2" method="post">
                                <div class="row">

                                    <div class="form-group col-12 ">
                                        <!--										<label for="location">Pick up location</label>-->
                                        <input type="text" value="" name="location" required class="form-control" autocomplete="none" id="location" placeholder="Pick up location">
                                        <input type="hidden" id="locnumber" name="locnumber" value="">
                                        <div id="countryList"></div>
                                    </div>

                                    <div class="form-check ml-3 dropcheckbox mb-3 ">
                                        <input type="checkbox" name="dropofflocation" id="dropcheckbox" class="form-check-input" unchecked> &nbsp;Returning at a different location

                                    </div>
                                    <div class="form-group col-12">
                                        <!-- <label for="location">Drop off location</label> -->
                                        <input type="text" name="dropofflocation" autocomplete="none" class="form-control" id="drop-off-location" placeholder="Drop off location">
                                        <input type="hidden" id="locnumber1" name="locnumber1">
                                        <div id="countrylist1"></div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6 form-group d-flex pr-0">

                                        <input type="text" autocomplete="none" name="pickupdate" class="form-control " id="datepicker" required placeholder="Pick up">

                                    </div>


                                    <div class="form-group col-6">

                                        <select name="pickuptime" class="form-control" value="10:00:00" data-time-of="pickup" id="pickuptime">


                                                <option value="10:00:00">10:00 AM</option>
                                                <option value="10:30:00">10:30 AM</option>
                                                <option value="11:00:00">11:00 AM</option>
                                                <option value="11:30:00">11:30 AM</option>
                                                <option value="12:00:00">Noon</option>
                                                <option value="12:30:00">12:30 PM</option>
                                                <option value="13:00:00">01:00 PM</option>
                                                <option value="13:30:00">01:30 PM</option>
                                                <option value="14:00:00">02:00 PM</option>
                                                <option value="14:30:00">02:30 PM</option>
                                                <option value="15:00:00">03:00 PM</option>
                                                <option value="15:30:00">03:30 PM</option>
                                                <option value="16:00:00">04:00 PM</option>
                                                <option value="16:30:00">04:30 PM</option>
                                                <option value="17:00:00">05:00 PM</option>
                                                <option value="17:30:00">05:30 PM</option>
                                                <option value="18:00:00">06:00 PM</option>
                                                <option value="18:30:00">06:30 PM</option>
                                                <option value="19:00:00">07:00 PM</option>
                                                <option value="19:30:00">07:30 PM</option>
                                                <option value="20:00:00">08:00 PM</option>
                                                <option value="20:30:00">08:30 PM</option>
                                                <option value="21:00:00">09:00 PM</option>
                                                <option value="21:30:00">09:30 PM</option>
                                                <option value="22:00:00">10:00 PM</option>
                                                <option value="22:30:00">10:30 PM</option>
                                                <option value="23:00:00">11:00 PM</option>
                                                <option value="23:30:00">11:30 PM</option>
                                                <option value="00:00:00">Midnight</option>
                                                <option value="00:30:00">00:30 AM</option>
                                                <option value="01:00:00">01:00 AM</option>
                                                <option value="01:30:00">01:30 AM</option>
                                                <option value="02:00:00">02:00 AM</option>
                                                <option value="02:30:00">02:30 AM</option>
                                                <option value="03:00:00">03:00 AM</option>
                                                <option value="03:30:00">03:30 AM</option>
                                                <option value="04:00:00">04:00 AM</option>
                                                <option value="04:30:00">04:30 AM</option>
                                                <option value="05:00:00">05:00 AM</option>
                                                <option value="05:30:00">05:30 AM</option>
                                                <option value="06:00:00">06:00 AM</option>
                                                <option value="06:30:00">06:30 AM</option>
                                                <option value="07:00:00">07:00 AM</option>
                                                <option value="07:30:00">07:30 AM</option>
                                                <option value="08:00:00">08:00 AM</option>
                                                <option value="08:30:00">08:30 AM</option>
                                                <option value="09:00:00">09:00 AM</option>
                                                <option value="09:30:00">09:30 AM</option>
                                            </select>
                                    </div>


                                    <div class="col-6 form-group d-flex pr-0">

                                        <input type="text" autocomplete="none" name="dropoffdate" class=" form-control" required id="datepicker1" placeholder="Drop Off">
                                    </div>


                                    <div class="form-group col-6 ">

                                        <select name="dropofftime" class="form-control  " value="10:00:00" data-time-of="dropoff" id="dropoff">


                                                <option value="10:00:00">10:00 AM</option>
                                                <option value="10:30:00">10:30 AM</option>
                                                <option value="11:00:00">11:00 AM</option>
                                                <option value="11:30:00">11:30 AM</option>
                                                <option value="12:00:00">Noon</option>
                                                <option value="12:30:00">12:30 PM</option>
                                                <option value="13:00:00">01:00 PM</option>
                                                <option value="13:30:00">01:30 PM</option>
                                                <option value="14:00:00">02:00 PM</option>
                                                <option value="14:30:00">02:30 PM</option>
                                                <option value="15:00:00">03:00 PM</option>
                                                <option value="15:30:00">03:30 PM</option>
                                                <option value="16:00:00">04:00 PM</option>
                                                <option value="16:30:00">04:30 PM</option>
                                                <option value="17:00:00">05:00 PM</option>
                                                <option value="17:30:00">05:30 PM</option>
                                                <option value="18:00:00">06:00 PM</option>
                                                <option value="18:30:00">06:30 PM</option>
                                                <option value="19:00:00">07:00 PM</option>
                                                <option value="19:30:00">07:30 PM</option>
                                                <option value="20:00:00">08:00 PM</option>
                                                <option value="20:30:00">08:30 PM</option>
                                                <option value="21:00:00">09:00 PM</option>
                                                <option value="21:30:00">09:30 PM</option>
                                                <option value="22:00:00">10:00 PM</option>
                                                <option value="22:30:00">10:30 PM</option>
                                                <option value="23:00:00">11:00 PM</option>
                                                <option value="23:30:00">11:30 PM</option>
                                                <option value="00:00:00">Midnight</option>
                                                <option value="00:30:00">00:30 AM</option>
                                                <option value="01:00:00">01:00 AM</option>
                                                <option value="01:30:00">01:30 AM</option>
                                                <option value="02:00:00">02:00 AM</option>
                                                <option value="02:30:00">02:30 AM</option>
                                                <option value="03:00:00">03:00 AM</option>
                                                <option value="03:30:00">03:30 AM</option>
                                                <option value="04:00:00">04:00 AM</option>
                                                <option value="04:30:00">04:30 AM</option>
                                                <option value="05:00:00">05:00 AM</option>
                                                <option value="05:30:00">05:30 AM</option>
                                                <option value="06:00:00">06:00 AM</option>
                                                <option value="06:30:00">06:30 AM</option>
                                                <option value="07:00:00">07:00 AM</option>
                                                <option value="07:30:00">07:30 AM</option>
                                                <option value="08:00:00">08:00 AM</option>
                                                <option value="08:30:00">08:30 AM</option>
                                                <option value="09:00:00">09:00 AM</option>
                                                <option value="09:30:00">09:30 AM</option>
                                            </select>
                                    </div>
                                </div>

                                <div class=" residence-box">
                                    <div class="row">
                                        <div class=" rescheckbox form-check ml-3 mb-3">
                                            <input type="checkbox" name="age1" id="rescheckbox" class="form-check-input" checked> &nbsp; I am
                                            <strong class="underline">30-65</strong> years old and a resident of
                                            <strong class="underline">United States</strong>. Display prices in
                                            <strong class="underline">USD</strong>.
                                        </div>
                                    </div>
                                    <div class=" row" id="residence-box">
                                        <div class="residence-box col-12 form-group">
                                            <label for="country-of-residence">Country of Residence</label>

                                            <select class="form-control" value="us" name="country" id="countries"> </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-7 ml-3 form-group  ">
                                                <label for="currency">Currency</label>
                                                <select id="currency" name="currency" class="form-control" value="usd"></select>
                                            </div>
                                            <div class="col-4 form-group  ">

                                                <label for="age">Age</label>
                                                <input type="text" autocomplete="none" id="age" class="form-control" value="30" name="age">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="search-div">
                                    <button type="submit" class="btn-block  btn-lg  btn form-group search-button">SEARCH NOW</button>
                                </div>
                            </form>
                        </div>



                    </div>

                </div>


            </div>






        </div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <%- include ./partials/footer %>
</body>

</html>