<!DOCTYPE html>
<html>

<head>


    <%- include ./partials/head %>

</head>


<body>
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48CL95" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->

    <%- include ./partials/header %>
        <div class="wrapper container top-margin">






            <div class="container car-holder ">


                <% data.forEach(function(car){ %>
                    <% if (car.price){ %>
                        <div class=" mt-2  showshadow text-center">
                            <div class="row ">
                                <!--		   first box dislplay logo and bars-->
                                <div class="col-3 company-info mar-top">

                                    <div class="carlogo">
                                        <img src="<%= car.carUrl %>" alt="" width="150" height="80">
                                    </div>
                                    <div class="rentalcarlogo">
                                        <div>
                                            <img src="<%=car.branchLogo %>" alt="" height="50">
                                        </div>
                                    </div>
                                    <div class="options mt-0">
                                        <div class="col-12 icons-results">
                                            <div class="icons">
                                                <img src="../img/icons/user.svg" alt="" width="15" height="15">
                                                <br>
                                                <%= car.seats %>
                                            </div>
                                            <div class="icons">
                                                <img src="../img/icons/car-door.svg" alt="" width="15" height="15">
                                                <br>
                                                <%= car.doors %>
                                            </div>
                                            <div class="icons">
                                                <img src="../img/icons/suitcase.svg" alt="" width="15" height="15">
                                                <br>
                                                <%= car.bigSuitCases %>
                                            </div>


                                            <% if (car.transmission == "Automatic"){ %>
                                                <div class="icons">
                                                    <img src="../img/icons/automatic.svg" alt="" width="15" height="15">
                                                    <br>Auto</div>
                                                <% } else {%>
                                                    <div class="icons">
                                                        <img src="../img/icons/manual.svg" alt="" width="15" height="15">
                                                        <br>Manual</div>
                                                    <% } %>
                                                        <div class="icons">
                                                            <% if (car.airco){ %>
                                                                <img src="../img/icons/freezer.svg" alt="" width="15" height="15">
                                                                <br> A/C</div>
                                                        <% }%>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-6 w-100">
                                    <div class="row h-50 mar-top">
                                        <div class="col-7 car-size">

                                            <div class="car-info">

                                                <strong>    <%= car.name %> or similar      </strong>
                                            </div>


                                            <div class="carclass">

                                                <%= car.size %>-Size Car
                                            </div>
                                        </div>
                                        <div class="col-5 included">
                                            <div class="incprice"> <strong>   Included in Price</strong></div>
                                            <div class="included-content">
                                                <div>
                                                    <%= car.mileage %>
                                                </div>
                                                <div>
                                                    <%=car.incOne %>
                                                </div>
                                                <div>
                                                    <%=car.incTwo %>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-6 mt-5">
                                            <h6>
                                                <strong>Pick-up</strong>
                                            </h6>
                                        </div>
                                        <div class="col-6 mt-5 dropoff-title">
                                            <h6>
                                                <strong>Drop-off</strong>
                                            </h6>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row h-50">
                                        <div class="col-6 pick-up-content">

                                            <%= car.branchLocation %>

                                                <div>
                                                    <% if (car.pickupLoc == "Shuttle off airport") {%>
                                                        <div class="">
                                                            <img src="../img/icons/minibus.svg" width="20" height="23" alt=""> &nbsp; &nbsp;
                                                            <%= car.pickupLoc %>
                                                        </div>
                                                        <% } else if (car.pickupLoc == "Terminal"){ %>

                                                            <div class="">
                                                                <img src="../img/icons/airplane.svg" width="20" height="23" alt=""> &nbsp;&nbsp;
                                                                <%= car.pickupLoc %>
                                                            </div>
                                                            <% } else { %>
                                                                <div class="">
                                                                    &nbsp;&nbsp;
                                                                    <%= car.pickupLoc %>
                                                                </div>
                                                                <% } %>
                                                </div>
                                        </div>
                                        <div class="col-6 dropoff-content">
                                            Same as pick up
                                        </div>

                                    </div>


                                </div>
                                <div class="col-3 price-box ">

                                    <!-- advertising box right here -->
                                    <div class="row h-25 advertising-box">
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="price-display text-right">

                                        <div class="price-day green-txt">
                                            <h2>$
                                                <strong>
                                                    <%= car.costPerDay%> /Day </strong>
                                            </h2>
                                        </div>
                                        <div class="total mt-2">Total: $
                                            <%= car.price %>
                                        </div>
                                        <div class="total mt-2">TF inc.: $
                                            <%= car.price1 %>
                                        </div>

                                        <div class="reserve-button">
                                            <form action="https://compareauto.herokuapp.com/details" method="GET" name="reserve" id="reserve-btn">
                                                <input type="hidden" name="rateRef" id="rateref" value="<%= car.rateRef %>">
                                                <button data-rateRef="<%= car.rateRef %>" type="submit" class="btn btn-lg btn-block " id="reserve">
                                                    <strong>SELECT</strong>
                                                </button>
                                            </form>
                                        </div>


                                    </div>
                                </div>



                            </div>


                            <% } %>
                        </div>

                        <%  }); %>
            </div>


        </div>
        <%- include ./partials/footer %>
</body>

</html>