<!DOCTYPE html>
<html>

<head>

    <%- include ./partials/head %>
</head>


<body>


    <div class="wrapper container">






        <div class="container car-holder top-margin">


            <% data.forEach(function(car){ %>


                <% if (car.packages.Package.Extras.Extra ){ %>
                  <% var extr = car.packages.Package.Extras.Extra %>
                    <% for (const key in extr) {  %>
                    
                           <% if (extr.hasOwnProperty(key)) { %>
                               <% const element = extr[key]; %>
                               <li><img src="<%= element.Image._url %>" height="24" width="24"alt=""> --<%= element._name %>--<%= element._otaCode %></li>
                          <%  } %>
                      <%  } %>


                   <% }; %>


                      <%= car.rateRef %>      
<hr>
                      
                       
                            <%  }); %>
                
        </div>




    </div>
</body>

</html>