/*!
 * Start Bootstrap - Car Auto Rental (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   /*  background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    /* font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-weight: 600;
    letter-spacing: 1px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
p {
    /* font-size: 1.25em; */
    line-height: 1.6;
    

	font-size: 16px;

}

hr {
    max-width: 400px;
    border-color: #999999;
}

.header-info {
    font-family: 'Oswald', sans-serif;
    color: #b70202;
    font-weight: bold;
    line-height: 22px;
    margin-top: 3%;
}
.header-info .bold{
    display: block;
    font-size: 16px;
}
.brand-logos {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 10px;
	padding-top: 10px;
}
.header-info .normal{
	font-size: 22px;
	letter-spacing: .2px;
}
.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}
.main-slider {
	position: relative;
}
.box {
    /* margin-bottom: 20px; */
    /* padding: 30px 15px; */
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #b70202;
	color: #fff;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 12px;
}
._wl-loader-bubble {
    background: #b70202 !important;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
		margin-bottom: 0px;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 10px 15px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
		display: table;
		float: none;
		margin: 0;
		table-layout: fixed;
		font-size: 12px;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
.navbar-default {
	background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    z-index: 99;
    width: 101%;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a.active {
	background: #b70202;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    background: #b70202;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus {
    background: #b70202;
	color: #fff;
}
header {
	padding: 20px 0px;
    border-top: 2px solid #b70202;
}
.carousel-indicators {
	width: auto;
	margin-left: 0;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.75);
	left: 46.8%;
	line-height: 12px;

}
.carousel-indicators li {
	border-radius: 0;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid transparent;
	margin: 2px;
}
.carousel-indicators li.active {
	border-radius: 0;
	width: 15px;
	height: 15px;
	background: #b70202;
	border: 1px solid #b70202;
	margin: 2px;
}
.icon-box {
	width: 100%;
	text-align: center;
	background: #f3f3f3;
	padding: 40px 30px;
    margin-top: 50px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.icon-box:hover {
	background: #b70202;
	color: #fff;
	
}
.icon-box:hover p {
	color: #fff;
	
}
.icon-box .icons{
	width: 52px;
	height: 52px;
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-box .icons.book-icon{
	background: url(../img/book-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon-box:hover .icons.book-icon{
	background: url(../img/book-icon-hover.png);
	background-position: center;
	background-repeat: no-repeat;
}
.icon-box .icons.globe-icon{
	background: url(../img/globe-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon-box:hover .icons.globe-icon{
	background: url(../img/globe-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon-box .icons.shield-icon{
	background: url(../img/shield-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 66px;
}
.icon-box:hover .icons.shield-icon{
	background: url(../img/shield-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon-box h2{
	font-family: Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.icon-box p{
	color: #666;
}
.car-banner {
    padding: 50px 0px;
	padding-top: 5%;
}
.bottom-banner {
	
}
.bottom-banner p{
	font-family: 'Oswald', sans-serif;
	font-size: 33px;
}
.bottom-banner a.red-btn{
	background: #b70202;
	padding: 12px 25px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.bottom-banner a.red-btn:hover{
	background: #333;
}
footer {
	padding-top: 50px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
footer h5{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	font-size: 16px;
    margin-bottom: 20px;
}
footer ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
footer li{
	
}
footer a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
}
footer a:hover{
	color: #e6e6e6;
	text-decoration: none;
}
footer a:focus{
	color: #e6e6e6;
	text-decoration: none;
}
.newslatter {
	background: transparent;
	color: #fff;
	border: 1px solid #e6e6e6;
	display: block;
	width: 100%;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.white-btn {
    background: #fff;
    display: block;
    width: 100%;
    border: 0;
    color: #b70202;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
}
.white-btn:hover {
	background: #333;
	color: #fff;
}
.white-bg {
	background: #fff;
	padding: 10px;
	color: #333;
	margin-top: 30px;
}
.white-bg p {
	color: #333;
	line-height: 50px;
}
.footer-social-icon {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.footer-social-icon li{
	display: inline-block;	
}
.footer-social-icon a{
	color: #666;
}
.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.footer-social-icon a:hover .fa {
	background: #b70202;
	color: #fff;
}
.carousel.slide img {
    position: absolute;
    width:100%;
    height:100%;
    border: 2px solid  #e6e6e6;
}
.search-box {
	padding-top: 2%;
	padding-bottom: 1%;
	min-height: 480px;
}
.search-box ._wl-searchbox {
	background: rgba(255, 255, 255, 0.88);
	box-shadow: none;
	border-radius: 0;
}
.rntlsrch-box__header{
	color: #b70202;
}
.search-box ._wl-searchbox h1 {
    border-bottom: 1px solid #626262;
    color: #b70202;
	padding-bottom: 10px;
}
.search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
	background-color: #a52324;
    border-color: #a52324;
}

.search-box ._wl-searchbox ._wl-btn-searcbox[disabled]:hover {
	background-color: #b70202;
    border-color: #b70202;
}
.search-box ._wl-searchbox ._wl-btn-searcbox {
	background-color: #b70202;
    border-color: #b70202;
}
.search-box ._wl-searchbox ._wl-btn-searcbox:hover {
    background-color: #a52324;
    border-color: #a52324;
}
.search-box ._wl-searchbox ._wl-btn-searcbox:focus {
    background-color: #a52324 !important;
    border-color: #a52324 !important;
}
.search-box ._wl-searchbox ._wl-checkbox label input:checked+i {
    background: #a52324;
    background-color: #a52324;
}
.search-box  ._wl-radio label input:checked+i, ._wl-checkbox label input:checked+i {
    background-color: #a52324 !important;
    background: #a52324 !important;
}
.search-box ._wl-searchbox {
    color: #333; 
}
.search-box ._wl-searchbox ._wl-calendar-trigger:before {
    color: #333;
}
.about-page .navbar-default {
	position: relative;
}
.red-color {
	color: #b70202;
}
.about-images {
	margin-top: 14px;
	margin-bottom: 25px;
}
.about-images img{
	width: 100%;
}
.about-box {
	margin-bottom: 40px;
    padding: 10px 20px;
    border: 1px solid #e6e6e6;
    min-height: 294px;
    background: #f8f8f8;
    margin-top: 4%;
}
.about-box .about-icon{
	font-size: 60px;
	font-weight: 600;
	background: #b70202;
	width: 105px;
	height: 105px;
	display: block;
	color: #fff;
	margin: auto;
	line-height: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
	box-shadow: inset 0px 0px 0px 4px #f8f8f8;
	border: 2px solid #b70202;
}

.about-box h4{
	font-size: 16px;
	letter-spacing: 0;
}
.about-box p{
	
} 
.contact-page .form-control{
	border-radius: 0px;
	padding: 5px;
	margin-top: 10px;
	min-height: 40px;
}
.contact-page .navbar-default {
	position: relative;
	
}

.page-title {
	margin-bottom: 40px;
}
.contact-info {
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-info p{
	
}
.contact-info a{
	color: #666;
}
.contact-info .fa {
    font-size: 26px;
    margin-right: 6px;
    min-width: 30px;
}
.contact-page .btn-default{
	background: #b70202;
	color: #fff;
	padding: 10px;
	display: block;
	border-radius: 0px;
	width: 100%;
	font-weight: 600;
	font-size: 24px;
}
.contact-page .btn-default:focus{
	background: #b70202;
	color: #fff;
	padding: 10px;
	display: block;
	border-radius: 0px;
	width: 100%;
	font-weight: 600;
	font-size: 24px;
}
.no-padding {
	padding: 0px;
}
.under-construction {
	padding-top: 10%;
    padding-bottom: 10%;
    font-size: 50px;
    text-transform: uppercase;
    color: #b70202;
}
.small-heading {
	font-size: 24px;
}
.booking-page .search-box {
	position: relative;
	width: auto;
	top: 0%;
}
.booking-page .navbar-default {
	position: relative;
}
.booking-page ._wl-highlight {
    color: #b70202;
}
.booking-page ._wl-car-box ._wl-car-box-top-heading {
    color: #b70202;
}
.booking-page ._wl-btn._wl-btn-book-now:hover, .booking-page ._wl-btn._wl-btn-book-now:focus {
    background: #b70202 !important;
}
.booking-page ._wl-btn._wl-btn-book-now, .booking-page ._wl-btn._wl-btn-book-now {
    background: #b70202;
}
.booking-page ._wl-btn-primary:hover, .booking-page ._wl-holder ._wl-btn-primary:hover {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important;
}
.booking-page ._wl-type {
    color: #333;
}
.booking-page ._wl-sidebar ._wl-sidebar-car-heading {
    color: #b70202;
}
.booking-page ._wl-sidebar ._wl-sidebar-heading {
    color: #b70202;
}
.booking-page ._wl-btn-primary[disabled], .booking-page ._wl-holder ._wl-btn-primary[disabled]{
    background-color: #b70202;
    border-color: #b70202;
}
.booking-page ._wl-radio label input:checked+i, .booking-page ._wl-checkbox label input:checked+i {
    background: #b70202;
}
.booking-page ._wl-btn-primary, ._wl-holder ._wl-btn-primary {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important; 
}
.booking-page ._wl-sidebar ._wl-sidebar-car-type {
    color: #333;
}
.booking-page ._wl-tooltip:after {
    background-color: #b70202; 
}
.page-title {
    background-color: #f8f8f8;
    padding: 7px;
    background-position: 0px 840px;
    background-attachment: fixed;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.page-title h1 {
    margin-top: 12px;
}
.img-full{

	background:cover;

}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	header {
		text-align: center;
	}
	.header-info {
		text-align: center;
	}
	.nav>li>a {
		padding: 10px 10px;
	}
	.search-box {
		margin-left: 13%;
		margin-right: 23%;
	}
	.carousel-inner .item {
	
	}
	.carousel.slide img {
		height: 100%;
		width: auto;
		max-width: none;
	}
	.brand-logos {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	.footer-social-icon {
		text-align: center;
		
	}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
	header {
		text-align: center;
	}
	.header-info {
		text-align: center;
	}
	.nav>li>a {
		padding: 10px 10px;
	}
	.search-box {
		margin-left: 15%;
		margin-right: 15%;
	}
	.carousel-inner .item {
	
	}
	.carousel.slide img {
		height: 100%;
		width: auto;
		max-width: none;
	}
	.brand-logos {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	.footer-social-icon {
		text-align: center;
		
	}
	.navbar-default {
		position: relative;
		margin-bottom: 0px;
		background: #000;
		border-color: #666;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #666;
	}
	.container>.navbar-header{
		margin: 0px;
	}
	.navbar-nav {
		margin: 10px;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-brand {
		color: #fff;
		font-weight: 300;
		font-size: 14px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #b70202;
	}
	.car-banner img {
		width: 50%;
		margin-top: -6%;
	}
	.bottom-banner p {
		font-family: 'Oswald', sans-serif;
		font-size: 25px;
	}
	html {
		font-size: 10px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		overflow-x: hidden;
	}
	header div a{
	margin-top:0px;
}
header div a{
margin-top:0px;
}
}
@media only screen and (max-width: 479px) {
	header {
		text-align: center;
	}
	.header-info {
		text-align: center;
	}
	.nav>li>a {
		padding: 10px 10px;
		padding-left: 20px;
		font-size: 12px;
	}
	
	.search-box {
		margin-left: 1%;
		margin-right: 1%;
	}
	.carousel-inner .item {
	
	}
	.carousel.slide img {
		height: 100%;
		width: auto;
		max-width: none;
	}
	.brand-logos {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	.footer-social-icon {
		text-align: center;
		
	}
	.navbar-default {
		position: relative;
		margin-bottom: 0px;
		background: #000;
		border-color: #666;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #666;
	}
	.container>.navbar-header{
		margin: 0px;
	}
	.navbar-nav {
		margin: 10px;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-brand {
		color: #fff;
		font-weight: 300;
		font-size: 14px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #b70202;
	}
	.car-banner img {
		width: 70%;
		margin-top: -6%;
	}
	.bottom-banner p {
		font-family: 'Oswald', sans-serif;
		font-size: 15px;
	}
	html {
		font-size: 10px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		overflow-x: hidden;
	}
	.search-box ._wl-searchbox h1 {
		border-bottom: 1px solid #626262;
		color: #b70202;
		padding-bottom: 5px;
		font-size: 15px;
		border-bottom: 1px solid #e6e6e6;
	}
	.search-box {
		min-height: auto;
	}
	._wl-searchbox ._wl-searchbox-label {
		font-size: 12px;
	}
	._wl-searchbox ._wl-select-holder select {
		padding-left: 0;
		font-size: 12px;
	}
	._wl-searchbox ._wl-calendar-trigger span {
		padding-left: 0;
		font-size: 12px;
	}
	._wl-checkbox span {
		font-size: 12px;
	}
	.search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
		font-size: 14px;
	}
	.bottom-banner a.red-btn {
		padding: 8px 15px;
		font-size: 11px;
	}
	.footer-social-icon a .fa {
		font-size: 16px;
		height: 26px;
		width: 26px;
		line-height: 18px;
		padding: 3px;
		background: #b70202;
		color: #fff;
	}
	.page-title h1 {
		font-size: 14px;
		letter-spacing: .5px;
	}
	.about-images .col-xs-6 {
		padding: 0px;
	}
	.contact-page .btn-default {
		font-size: 16px;
	}
	.under-construction {
		font-size: 18px;
	}
	.newslatter {
		font-size: 12px;
	}
	footer h5 {
		border-bottom: 2px solid #fff;
		display: inline-block;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	header div a{
		margin-top:0px;
	}
	}
	._wl-radio input[type="radio"], ._wl-radio-inline input[type="radio"], ._wl-checkbox input[type="checkbox"], ._wl-checkbox-inline input[type="checkbox"] {
	    margin-left: -340% !important;
	}
	#_wl-rntlsrch-searchbox-holder .rntlsrch-box {
	    padding-top: 15px !important;
	}
	.navbar.navbar-default {
		display: none;
	}
	.box-inline {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	#col-md-3{
	height:600px;
	text-align:center;
	}
	header div a{
	margin-top:20px;
	}
	container-lang{
	text-align:center;
	
	}
	#mc_embed_signup form { padding: 0px;
	}
	#mc_embed_signup .button {
		width: 100%;
		border-radius: 0;
		background: #fff;
		color: #a60000;
	}
	#mc_embed_signup .button:hover {
		background: #000;
		color: #fff;
	}
	#mc_embed_signup .mc-field-group {
		width: 100%;
	}
	#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
		border: 1px solid #fff;
		border-radius: 0;
	}
	#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
		display: block;
		margin: 2px 0 10px 0;
		padding: 5px 10px;
		background-color: rgba(255,255,255,0.85);
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		font-size: 14px;
		font-weight: normal;
		z-index: 1;
		color: #e85c41;
	}
	
	#mc_embed_signup div.response {
		margin: 0em 0px;
		padding: 0em 0.5em 0.5em 0px;
		font-weight: bold;
		float: left;
		top: 0;
		z-index: 1;
		width: 100%;
	}
	#mc_embed_signup input {
		border: 1px solid #fff;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		margin-bottom: 10px;
	}
	.white-bg a {
		color: #000;
	}
	#mc_embed_signup div#mce-responses {
		float: left;
		top: -1.4em;
		padding: 0;
		overflow: hidden;
		width: 100%;
		margin: 0 0%;
		clear: both;
	}
	#mc_embed_signup #mce-success-response {
		background: #529214;
		color: #fff;
		padding: 1em;
	}
	.item active{
	width:100%;
	height:100%;
	}
	.item{
	width:100%;
	height:100%;
	}
	.btn{
	border:1px solid grey;
	margin-top: 20px;
	background-color:#b70202;
	}
	.containcer-security{
	border:1px solid #ccc;							
	}