@media(max-width:576px) {
    .booking-title {
        width: 100%;
        margin: 10px auto !important;
    }
    #booking-title {
        font-size: 24px !important;
    }
    .confirmation-number h4,
    .confirmation-email h4 {
        font-size: 18px;
    }
    .resnumber {
        width: 250px !important;
    }
    #map {
        height: 350px !important;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
    hr {
        display: block !important;
        width: 50%
    }
    .driver-details {
        width: 92vw !important;
    }
}

@media(max-width:992px) {
    .details.pickup {
        line-height: 1 !important;
    }
}

.driver {
    display: flex;
    justify-content: space-between;
}

.add-protection {
    display: none;
}

hr {
    display: none;
}

.driver-details {
    width: 600px;
}

.car-details {
    line-height: 1.8
}

.carname span {
    color: #7a7a7a;
}

.terms button {
    border: none !important;
    background: white !important;
    padding-left: 0px;
}

#map {
    height: 380px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.supplier-details {
    line-height: 1.8;
}

.payment-details,
.driver-details {
    line-height: 1.8;
}

.grey {
    color: #7a7a7a;
}