					#mc_embed_signup form { padding: 0px;
					}
					#mc_embed_signup .button {
						width: 100%;
						border-radius: 0;
						background: #fff;
						color: #a60000;
					}
					#mc_embed_signup .button:hover {
						background: #000;
						color: #fff;
					}
					#mc_embed_signup .mc-field-group {
						width: 100%;
					}
					#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
						border: 1px solid #fff;
						border-radius: 0;
					}
					#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
						display: block;
						margin: 2px 0 10px 0;
						padding: 5px 10px;
						background-color: rgba(255,255,255,0.85);
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						font-size: 14px;
						font-weight: normal;
						z-index: 1;
						color: #e85c41;
					}
					
					#mc_embed_signup div.response {
						margin: 0em 0px;
						padding: 0em 0.5em 0.5em 0px;
						font-weight: bold;
						float: left;
						top: 0;
						z-index: 1;
						width: 100%;
					}
					#mc_embed_signup input {
						border: 1px solid #fff;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						margin-bottom: 10px;
					}
					.white-bg a {
						color: #000;
					}
					#mc_embed_signup div#mce-responses {
						float: left;
						top: -1.4em;
						padding: 0;
						overflow: hidden;
						width: 100%;
						margin: 0 0%;
						clear: both;
					}
					#mc_embed_signup #mce-success-response {
						background: #529214;
						color: #fff;
						padding: 1em;
					}
					.item active{
					width:100%;
					height:100%;
					}
					.item{
					width:100%;
					height:100%;
					}
					.btn{
					border:1px solid grey;
					margin-top: 20px;
					background-color:#b70202;
					}
					
					
					
											