.top-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px repeat(8, 80px);
    grid-gap: 5px;
}

.middle-page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 500px 500px 500px;
    /* grid-gap: 30px; */
    /* margin-right: 30px;
  margin-left: 30px; */
}

.multi-list ul {
    display: none;
}

.brands {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#wrapper-company-info {
    border-top: red solid !important;
}

.dropdown-content {
    background-color: transparent !important;
}

.secured {
    margin-left: 30px;
    margin-right: 15px;
    grid-column-start: 1;
    grid-row-start: 1;
    border-top-left-radius: 8px;
}

.landing2 {
    display: block;
    margin-left: 15px;
    margin-right: 30px;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 30px;
    background-image: url('../img/denver2.jpg');
    background-size: 100% 456px;
    background-repeat: no-repeat;
}

.landing1 {
    display: block;
    margin-left: 30px;
    margin-right: 15px;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 30px;
    background-image: url('../img/denver1.jpg');
    background-size: 100% 456px;
    background-repeat: no-repeat;
}

.trustpilot {
    display: block;
    margin-left: 15px;
    margin-right: 30px;
    grid-column-start: 2;
    grid-row-start: 1;
    border-top-right-radius: 8px;
}

.multilanguage {
    margin: 15px 30px 15px 15px;
    grid-column-start: 2;
    grid-row-start: 3;
    background-image: url('../img/flags.jpg');
    background-size: 100% 464px;
    background-repeat: no-repeat;
    position: relative;
}

.multi-box-icon {
    margin-top: 3.5rem !important;
}

.multi-list {
    position: absolute;
    right: 20%;
    bottom: 100px;
}

.multi-list li {
    line-height: 2.5;
}

.imagecenter {
    position: absolute;
    left: 10%;
    bottom: 15%;
}

.imagecenter img {
    height: 250px;
}

.price-promise-img img {
    width: 150px;
}

.why-title span {
    font-size: 1.5rem;
}

.promos {
    margin: 30px 15px 15px 30px;
    grid-column-start: 1;
    grid-row-start: 2;
    background-image: url('../img/save20usa.jpg');
    background-size: 100% 456px;
    background-repeat: no-repeat;
}

.price-promise {
    margin: 15px 15px 30px 30px;
    grid-column-start: 1;
    grid-row-start: 4;
    border-bottom-left-radius: 8px;
}

.newsletter {
    margin: 15px 30px 30px 15px;
    margin-left: 15px;
    margin-right: 30px;
    border-bottom-right-radius: 8px;
    grid-column-start: 2;
    grid-row-start: 4;
    padding-right: 30px;
}

.why {
    margin: 30px 30px 15px 15px;
    grid-column-start: 2;
    grid-row-start: 2;
    padding-right: 30px;
}

.cars {
    margin: 15px 15px 15px 30px;
    grid-column-start: 1;
    grid-row-start: 3;
}

.price-promise-content {
    margin-left: 6%;
    margin-right: 6%;
}

#multi-box {
    margin-top: 40px;
}

#multi-box p {
    margin: 15px;
}

.price-promise-img {
    justify-content: center;
    margin-top: 20px;
}

.price-promise-title button {
    background: transparent;
    border: none;
}

.small {
    display: none;
}

.price-promise-title {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.why-list {
    margin-left: 12%;
    line-height: 1.65;
}

.newsletter-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.guide {
    color: #333333;
    font-weight: 600;
}

.guide h5 {
    color: #333333;
    font-weight: 600;
}

.footer-container h5 {
    color: #333333;
    font-weight: 600;
}

footer {
    background-color: #f2f2f2 !important;
    line-height: 1.36364;
}

.shield-icon img {
    height: 50px;
}

.footer-container a {
    color: #333333;
    font-weight: 400;
}

.why-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.cars-row {
    margin-top: 10px;
}

.car-class {
    background: transparent;
}

.car-class img {
    width: 135px;
}

.top-page {
    margin-top: 0;
    background-image: url('../img/background1200.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.top-bar {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 13;
    position: relative;
}

.logo {
    margin-left: 30px;
    grid-column-end: 3;
    width: 200px;
    position: absolute;
}

.top-nav-items {
    display: flex;
    color: black !important;
    position: absolute;
    right: 0;
}

.callus {
    margin-left: 30px;
    margin-right: 30px;
    color: black !important;
}

.signin {
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}

.callus a {
    color: black;
}

#mcafeeseal {
    height: 80px;
}

#comodoseal {
    height: 110px;
    margin-bottom: 35px;
}

.signin a {
    color: black;
}

#navbarDropdown {
    color: black;
}

.formarea {
    grid-column-start: 6;
    grid-row-start: 4;
}

.seals2 {
    margin-top: 40px;
    width: 98%;
}

#searchform {
    background: rgba(255, 255, 255, .75);
    padding: 25px;
    border-radius: 8px;
    min-width: 400px;
}

@media(max-width: 321px) {
    .callus {
        width: 56px;
    }
    .top-page {
        background-image: url('../img/background320.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media(max-width:576px) {
    .top-page {
        background-image: url('../img/background350.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        grid-gap: 0px;
        height: 500px;
    }
    #multi-box {
        margin-top: 80px;
    }
    .multi-list ul {
        display: none;
    }
    #nortonseal {
        height: 40px;
    }
    #comodoseal {
        height: 45px;
        margin-bottom: 14px;
    }
    #mcafeeseal {
        height: 40px;
    }
    .imagecenter img {
        height: 180px;
        margin-bottom: 20px;
    }
    #multi-box p {
        margin: 10%;
    }
    .multilanguage {
        background: linear-gradient(red, yellow);
    }
    #multi-box h2 {
        font-size: 1.5rem;
    }
    .price-promise {
        background: #f2f2f2;
        line-height: 1.4;
    }
    .price-promise-title h2 {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .price-promise-img img {
        width: 100px;
    }
    .price-promise-img {
        margin-left: 666%;
        margin-top: -20px;
    }
    .price-promise-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .car-class img {
        height: 56px;
    }
    .middle-page {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 500px 500px 500px 500px 500px 500px 500px;
        grid-row-gap: 10px;
        /* grid-gap: 30px; */
        /* margin-right: 30px;
      margin-left: 30px; */
    }
    .price-promise {
        position: relative;
    }
    .price-promise-img {
        position: absolute;
        right: 25px;
        bottom: 10px;
    }
    .icon-box {
        margin-top: 20px;
    }
    .secured {
        margin-left: 0;
        margin-right: 0;
        grid-column-start: 1;
        grid-row-start: 2;
        width: 100vw;
    }
    .multilanguage {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 4;
        background-image: url('../img/flags.jpg');
        background-size: 100% 464px;
        background-repeat: no-repeat;
        width: 100vw;
        position: relative;
    }
    .promos {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 3;
        width: 100vw;
    }
    .why-title span {
        font-size: 1rem;
    }
    .price-promise {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 5;
        width: 100vw;
    }
    .price-promise-img {
        width: 120px;
    }
    .why-list {
        margin-left: 3%;
    }
    #newsletter {
        margin: 0;
        border-bottom-right-radius: 0px !important;
        width: 100vw;
        grid-column-start: 1;
        grid-row-start: 7;
    }
    .why {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 1;
        width: 100vw;
    }
    .cars {
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 6;
        width: 100vw;
    }
    .trustpilot {
        display: none;
    }
    .why-title h2 {
        font-size: 1.5rem;
    }
    .small {
        display: block;
    }
    .why-list {
        line-height: 1.4;
    }
    #searchform {
        width: 100vw;
        min-width: 100vw;
        padding: 10px;
    }
    .icon-box img {
        height: 50px;
    }
    .logo img {
        height: 40px;
    }
    .logo {
        width: 140px;
        margin-left: 15px;
    }
    .callus {
        margin-left: 25px;
        width: 76px;
        margin-right: 0;
    }
    .signin {
        margin-left: 0px;
        width: 59px;
        margin-right: 0px;
    }
    .language ul {
        margin-left: 0px;
        padding-left: 0px;
    }
    .language {
        width: 45px;
    }
    .trustpilot-widget {
        height: 90px;
    }
    .formarea {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-top: 20px;
    }
    .car-class img {
        width: 100px;
    }
}

@media(min-width:576px) {
    .top-page {
        background-image: url('../img/background500.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .callus {
        margin-left: 15px;
        margin-right: 15px;
    }
    .formarea {
        margin-left: 10%;
    }
}

@media(min-width:992px) {
    .top-page {
        background-image: url('../img/background1000.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media(min-width:1100px) {
    .top-page {
        background-image: url('../img/background1200.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media(min-width:1800px) {
    .top-page {
        background-image: url('../img/background1800.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1100px;
    }
    .formarea {
        width: 800px;
    }
    .top-nav-items {
        font-size: 1.8em;
    }
    .multi-list ul {
        display: block;
    }
}

.gradient-top-right {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSItMSUiIGN5PSIxMDAlIiByPSIxNDIuMTMwMjIxOTc5NzA0MjMlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjNlZDE1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlODgzMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSItMSUiIGN5PSIxMDAlIiByPSIxNDIuMTMwMjIxOTc5NzA0MjMlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjNlZDE1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlODgzMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+), -webkit-gradient(radial, -1% bottom, 0, -1% bottom, 723, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(-1% bottom, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at -1% bottom, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-radial-gradient(-1% bottom, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}

.gradient-top-left {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMTAwJSIgcj0iMTQxLjQyMTM1NjIzNzMwOTUlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjNlZDE1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlODgzMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMTAwJSIgcj0iMTQxLjQyMTM1NjIzNzMwOTUlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjNlZDE1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlODgzMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+), -webkit-gradient(radial, right bottom, 0, right bottom, 723, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(right bottom, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at right bottom, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-radial-gradient(right bottom, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}

.gradient-bottom-left {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWQxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTg4MzAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWQxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTg4MzAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==), -webkit-gradient(radial, right top, 0, right top, 723, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(right top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at right top, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-radial-gradient(right top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}

.gradient-bottom-right {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VkMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U4ODMwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VkMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U4ODMwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=), -webkit-gradient(radial, left top, 0, left top, 723, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(left top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at left top, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-radial-gradient(left top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}

.gradient-right {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VkMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U4ODMwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VkMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U4ODMwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=), -webkit-gradient(radial, left top, 0, left top, 723, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(left top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at left top, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-radial-gradient(left top, ellipse farthest-corner, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}

.gradient-left {
    background-color: #eeb80b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjNlZDE1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlODgzMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(243, 237, 21)), color-stop(1, rgb(232, 131, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
    background-image: -ms-repeating-linear-gradient(right, rgb(243, 237, 21) 0%, rgb(232, 131, 0) 100%);
}