.img:hover{
    width=350px; 
    height=250px;
    transition: 2s;
}
.article{
    transition: 2s;
}
.article:hover{
    font-size: 20px;
    transition: 2s;
}
.section{
    border: 1px solid #b70202;
    border-radius: 30px;
    box-shadow: 1px 1px #000;
    margin-bottom: 10px;
}
.info{
    background-color: #b70202;
    color: aliceblue;
    text-shadow: 1px 1px #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
a{
    color: aliceblue;
}
a:hover{
    color: aqua;
}
.main-title{
    background-image: url(../img/mercedes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
h1{
    color: aqua;
    text-align: center;
    text-shadow: 2px 2px #000;
    padding: 31px;
}
.container{
    margin-bottom: 20px;
    
}
.icon-box img{
    height: 80px;
    transition: 1s;
}
.logo-editor{
	width:20px;

}