@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

    .top-page {
        display: flex ;
		position: relative;
		height: 800px;
		    background-image: url('../img/background320.jpg');
            background-size: cover;
            background-repeat: no-repeat;
    }
       .trustpilot1 {
            display: none;
        }
/*
	.mb20{
		margin-bottom: 20px;
	}
*/
	  .top-nav-items {
      position: absolute;
		display: flex;
        color: black !important;
		right: 15px;
		padding-top: 20px
  
    }

	.top-nav-items a{
		color: #333333;
	}
       .callus a {
        color: #333333;
    }
		.formarea{
			margin-top: 50px;
		}
           .callus {
            margin-left: 15px;
            width: 56px;
            margin-right: 5px;
        }
        .signin {
            margin-left: 0px;
            width: 59px;
            margin-right: 0px;
			
        }
	.signin a{
		  color: #333333;
		
	}
		.boxes{
		
			height: 500px;
/*			margin-bottom: 20px!important;*/
		
		}

     #searchform {
            width: 100vw;
            min-width: 100vw;
       
       
   
        background: rgba(255, 255, 255, .75);
        padding: 25px;
		margin-top: 40px;
        border-radius: 8px;
	
    }
	    .logo {
  		top: 15px;
    	width: 100px;
        margin-left: 15px;
        position: absolute;
    }
	    .logo img {
            height: 35px;
        }
   
	    .language ul {
            margin-left: 0px;
            padding-left: 0px;
        }
        .language {
            width: 45px;
        }
	
	   .dropdown {
        position: relative;
        display: inline-block
    }
    
	    .dropbtn {
   
        padding-right: 0px;
        margin-right: 30px;
        font-size: 16px;
        border: 0
    }
    

        #navbarDropdown {
        color: black;
    }
	
	.fc3{
		color: #333333;
	}
	.fs9{
		font-size: .9em;
	}
	
	  
  

    .promos {
       
     height: 500px;
        background-image: url('../img/save20usa.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
		
    }
    	

 
	
	


	
    #mcafeeseal {
            height: 45px;
		margin-left: -30px;
        }	
	
    #nortonseal {
            height: 50px ;
		margin-left: 15px;
        }
	
        #comodoseal {
            height: 40px;
           padding-top: 3px;
			margin-left: 10px;
			margin-top:10px;
			display: none;
        }
	
	    .siteseal {
			margin: auto;
			
    }
    
	    .seals2 {
        margin-top: 40px;
        width: 98%;
	
    }

	    .multilanguage {
		height: 500px !important;
    
        position: relative;
		
    }
		    .multilanguage1 {
	
        background-image: url('../img/flags.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
       height: 500px !important;
    
        position: relative;
		
    }
	   .car-class img {
            height: 44px;
        }
	
	.classtitle{
		font-size: .8em;
	}
	
	   .imagecenter {
     position: absolute;
  left: 0%;
  right: 0%;
		   bottom: 60px;
  text-align: center; 
    }
    
    .imagecenter img {
        height: 150px;
        border-radius: 8px;
    }
	.why1{
	height: 500px;
	}
	   .price-promise {
	
		   margin-top: 20px;
		
    }

	.cars1,.newsletter1,.secured1,.why1,.promos,.price-promise,.multilanguage{
		
		width: 100%;
		
	}
/*
	.secured1{
		margin-top: 20px
	}
*/
     
        .price-promise-title h2 {
            font-size: 1.5rem;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        .price-promise-img img {
            width: 100px;
        }
        .price-promise-img {
            margin-left: 6%;
            margin-top: -20px;
        }
        .price-promise-title {
            margin-top: 20px;
            margin-bottom: 20px;
        }
     
      
        .price-promise {
            position: relative;
        }
        .price-promise-img {
            position: absolute;
            right: 25px;
            bottom: 10px;
        }	
	
    
    #multi-box p {
        margin: 5px;
    }
		    #multi-box h2 {
       font-size: 1.5em;
				
    }
	#multi-box img{
		margin-top: 25px;
		
	}
	
	
	    .newsletter-title {
        margin-top: 40px;
        margin-bottom: 30px;
    }
		    .newsletter-title h2{
       font-size: 1.5em
    }
	  h2{
       font-size: 1.5em
    }
	
	
	
	

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

	  h2{
       font-size: 1.7em
    }

	.fs9{
		font-size: 1em;
	}

   .car-class img {
            height: 56px;
        }

    .imagecenter img {
        height: 180px;
        border-radius: 8px;
    }
	.secured1 p{
		padding-left:  25px;
		padding-right: 25px;
	}

	
    #mcafeeseal {
            height: 75px;
		margin-left: -30px;
        }	
	
    #nortonseal {
            height: 70px ;
		margin-left: 15px;
        }
	
        #comodoseal {
            height: 40px;
           padding-top: 3px;
			margin-left: 10px;
			margin-top:10px;
			display: none;
        }
	
    .why-list {
      
        line-height: 1.65;
		font-size: 16px;
    }

	.price-promise-content{
		line-height: 1.85;
	}




}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    .small {
        display: none;
    }
    
       .trustpilot1 {
            display: inline;
		   height: 500px;
		   width: 100%;
        }
    #searchform {
            width: 50%;
            min-width: 350px;
            padding: 10px;
       
   
        background: rgba(255, 255, 255, .75);
        padding: 25px;
		margin-top: 40px;
        border-radius: 8px;
	
    }
	h2{
		font-size: 2.2em !important;
	}

.promo h5{
	font-size: 1em;
}
.cars1 p {
	
	text-align: center;
	
}

#multi-box img{
	height: 45px;
	
}
#multi-box h2 {
margin-top: 0	;
	
}
#mcafeeseal {
            height: 65px;
		margin-left: 0px;
        }	
	
    #nortonseal {
            height: 70px ;
		margin-left: 15px;
        }
	
        #comodoseal {
            height: 70px;
           padding-top: 3px;
			margin-left: 10px;
			margin-top:10px;
			display: inline-block;
        }
	    .multi-box-icon {
            margin-top: 1rem !important;
        }

   .price-promise-img img {
            position: absolute;
            right: 55px;
            bottom: 40px;
	   width: 150px;
        }

.newsletter-content{
	font-size: 1.5em;
}

    .logo {
  		top: 15px;
    	width: 200px;
        margin-left: 15px;
        position: absolute;
    }
	    .logo img {
            height: 45px;
        }
   
	    .language ul {
            margin-left: 0px;
            padding-left: 0px;
        }
        .language {
            width: 65px;
        }
	
          .callus {
            margin-left: 15px;
            width: 66px;
            margin-right: 5px;
        }
        .signin {
            margin-left: 15px;
            width: 69px;
            margin-right: 15px;
			
        }

	footer p{
		font-size: 14px;
	}
}

@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	h2 {
		font-size: 1.4em;
	}
	.why-list{
		line-height: 1.5;
		font-size: .9em;
	}

   .car-class img {
            height: 48px;
        }


   .imagecenter img {
        height: 140px;
        border-radius: 8px;
    }

	.multi-box-icon{
		font-size: .8em;
	}

.price-promise-content{
		line-height: 1.5;
	
	}
	.fs{
		font-size: .9em;
	}

	   .price-promise {
	
		   margin-top: 0;
		
    }
	.row{
		margin-top: 20px;
		
	}

	.trustpilot1,.cars1,.newsletter1,.secured1,.why1,.promos,.price-promise,.multilanguage{
	
		width: 
	}
#mcafeeseal {
            height: 40px;
		margin-left: 0px;
        }	
	
    #nortonseal {
            height: 35px ;
		
        }
	
        #comodoseal {
            height: 38px;
           padding-top: 5px;
			margin-left: 10px;
			margin-top:18px;
			
        }
	.shield-icon img{
		height: 40px;
		
	}

}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */


    #searchform {
        background: rgba(255, 255, 255, .75);
        padding: 25px;
		margin-top: 40px;
        border-radius: 8px;
	
    }
    .top-bar {
        margin-top: 20px;
       height: 60px;
		display: flex;
        position: relative;
		width: 100%;
    }
    

}