.resultsbox1 {
    height: 520px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 8px;
}

.carlogo1 {
    width: 150px;
    height: 80px;
}

.complogo {
    width: 140px;
    height: 80px;
}

.starrating {
    height: 30px
}

.starrating img {
    height: 25px;
}

.caroptions {
    height: 60px;
}

.car-image img {
    height: 60px;
    max-width: 120px;
}

.total-det {
    width: 130%;
}

.included-det {
    padding-right: 5px;
}

.companylogo img {
    height: 60px;
    width: 140px;
    padding: 10px;
}

.car-image,
.companylogo {
    text-align: center;
}

.price-sec {
    height: 144px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.p-display-title {
    margin-top: 24px;
}

.info-sec {
    font-size: .9em;
    height: 85px;
    margin-bottom: 5px;
}

.pickup1,
.dropoff1 {
    margin-top: 8px;
}

.loc-sec {
    font-size: .9em;
    height: 95px;
    margin-bottom: 5px;
}

.total-det {
    font-size: .8em;
    color: #7a7a7a;
}

.loc-sec {
    border-top: 1px solid lightgray;
}

.starrating {
    color: #333333;
}

.book-btn {
    margin: auto;
    text-align: center;
}

#reserve {
    height: 60px;
}

.total-det {
    position: absolute;
    bottom: 20px;
}

#d-price {
    font-size: 48px !important;
}

.perday {
    font-size: 24px;
}

.p-display {
    position: relative;
}

.p-display-title {
    text-align: center;
}

.navbar-brand {
    left: 20px;
}

.companylogo img {
    height: 60px;
}

.bkg {
    background-color: #E5E7E9;
}

#reserve {
    font-size: 13px;
}

.loc-sec,
.info-sec {
    color: #333333;
}

.clocktext {
    display: none;
}


/*
ignore this. it's just used to put the two example panels next to each other.
*/


/*
start by styling the box around the star.
the only important parts are display and width, which force the container to constrain to the star widths. Note that using padding is problematic and unadvised.
*/

.stars {
    display: inline-block;
    width: auto;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}


/*
the BEFORE:pseudo element. This will represent the number of stars in the actual rating.
it floats above the AFTER element.
*/

.stars:BEFORE {
    content: "★★★★★";
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: 0px;
    top: 0px;
    /* everything below here is optional. */
    color: #FC0;
    text-shadow: 0px 1px 0 #000, 0 -1px 0 #fff;
}


/*
the AFTER:pseudo element. This will represent the total possible  stars available. It is set to relative to ensure it takes up the proper amount of space.
*/

.stars:AFTER {
    content: "★★★★★";
    position: relative;
    color: #fff;
}


/*
if including user rating controls, float the AFTER element.
*/

.stars.rate:AFTER {
    position: absolute;
    left: 0px;
}


/*
default state for the  user rating controls. invisible, but floating above the BEFORE and AFTER elements
*/

.stars.rate>A {
    color: transparent;
    text-decoration: none;
    position: relative;
    z-index: 2;
}


/*
if the user is floating thier mouse above the rating, hide the display stars.
*/

.stars.rate:HOVER:BEFORE,
.stars.rate:HOVER:AFTER {
    display: none;
}


/*
turn all sthe start "ON" by default.
*/

.stars.rate:HOVER>A {
    color: #FC0;
    text-shadow: 0px 1px 0 #000, 0 -1px 0 #fff;
}


/*
optional style for the specific star control a user is directly above.
*/

.stars.rate:HOVER>A:HOVER {
    color: #FC0;
    text-shadow: 0px 2px 0 #000, 0 -1px 0 #fff;
    top: -1px;
}


/*
turn "OFF" all stars after the one the user is hovering over.
*/

.stars.rate>A:HOVER~A {
    color: #fff;
    text-shadow: none;
}


/* 
all the styles below are used to display the apropriate portion of the BEFORE element based on percentage rating. unfortunately you will need to create a specific rule for each level of granularity you wish to display.


if the CSS3 attr() function proposal ever gets implimented
the remaining rules could all be replaced with the following:
.stars[data-percent]:BEFORE {
  width:attr(data-percent,%,0);
}

*/

.stars:NOT([data-percent]):BEFORE,
.stars[data-percent="0"]:BEFORE {
    display: none;
}


/* 1/2 a star */

.stars[data-percent="10"]:BEFORE {
    width: 10%;
}


/* 1 star */

.stars[data-percent="20"]:BEFORE {
    width: 20%;
}


/* 1 & 1/2 stars */

.stars[data-percent="30"]:BEFORE {
    width: 30%;
}


/* etc. */

.stars[data-percent="40"]:BEFORE {
    width: 40%;
}

.stars[data-percent="50"]:BEFORE {
    width: 50%;
}

.stars[data-percent="60"]:BEFORE {
    width: 60%;
}

.stars[data-percent="70"]:BEFORE {
    width: 70%;
}

.stars[data-percent="80"]:BEFORE {
    width: 80%;
}

.stars[data-percent="90"]:BEFORE {
    width: 90%;
}

.stars[data-percent="100"]:BEFORE {
    width: 100%;
}

@media (min-width:361px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #reserve {
        font-size: 20px;
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:768px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .carlogo1,
    .complogo,
    .caroptions {
        padding-left: 0;
    }
    .logo-sec {
        width: 220px;
        float: left;
    }
    .form-list {
        padding-right: 2px;
        padding-left: 0;
        margin-right: 3px;
    }
    .car-holder {
        padding-left: 0;
    }
    #rentalcar {
        font-size: 14px !important;
        color: #7a7a7a;
        margin-left: 20px;
    }
    .price-sec {
        border-radius: 0px;
    }
    .clocktext {
        display: block;
    }
    .clockholder {
        width: 737px;
        text-align: center;
    }
    .car-holder {
        margin-top: 0px;
    }
    .resultsbox1 {
        width: 750px;
        height: 280px !important;
        box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
        border-radius: 5px;
    }
    .p-day {
        margin-top: 60px;
    }
    .price-sec {
        padding-right: 0!important;
        min-width: 201px;
        margin-right: 0;
        height: 100%;
    }
    .icon-text {
        font-size: .85em;
    }
    .info-sec,
    .loc-sec {
        width: 330px;
        height: 50%;
        float: left;
    }
    .starrating img {
        height: 15px;
    }
    .starrating {
        font-size: .9em;
    }
    .companylogo img {
        height: 60px;
    }
    .companylogo {
        padding-top: 15px;
    }
    .car-title,
    .included-title,
    .pickup-title,
    .dropoff-title {
        margin-top: 15px
    }
    .starrating {
        padding-top: 0;
    }
    .caroptions {
        padding-top: 6px;
    }
    .pickup-det,
    .dropoff-det {
        line-height: 2.5
    }
    .loc-sec:before {
        content: "";
        position: absolute;
        left: 10px;
        height: 1px;
        width: 90%;
        /* or 100px */
        border-top: 1px solid lightgray;
    }
    .pickup-detail {
        font-size: .85em;
        line-height: 1.5;
    }
    .loc-sec {
        position: relative;
        z-index: 1;
        border: none;
    }
    .included-det,
    .similar {
        margin-top: 5px;
    }
    .included,
    .dropoff1 {
        margin-right: 20px
    }
    .p-display {
        margin-right: 0;
        padding-right: 0;
        height: 180px;
        position: relative;
    }
    .resultsbox1 {
        padding-right: 0!important;
    }
    .total-det {
        position: absolute;
        bottom: -10px;
    }
    #reserve {
        width: 150px;
    }
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .form-list {
        padding-right: 10px;
    }
    .car-holder {
        padding-left: 10px;
    }
}

@media (min-width:1800px) {
    /* hi-res laptops and desktops */
}