@media(min-width:576px) {
    .result,
    .filter {
        font-size: .85em;
    }
}

@media(max-width:576px) {
    .collapse ul.navbar-nav>li>a {
        color: #b70202 !important
    }
    .advertising {
        display: none;
    }
    .extra-details {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .summary-panel {
        line-height: 1.4 !important;
        font-size: 18px !important;
    }
    #expiryyear {
        margin-left: 0px !important;
    }
    .puloc {
        display: none !important;
    }
    .extra-select {
        position: relative;
        height: auto;
        margin: 10px;
    }
    .summary-panel-left {
        display: none;
    }
    .summary-panel {
        display: block;
        font-size: 16px;
    }
    #dropoffborder,
    .details-pickup {
        line-height: 1.5 !important;
    }
    #details-pickup {
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .driver-details {
        display: none;
    }
    /* .showshadow {
    box-shadow: none !important;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
  } */
    .driver-form label {
        display: none;
    }
    .det-car-display {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        border-right: none !important;
    }
    .extra-img {
        display: none;
    }
    .mobilepu {
        display: contents;
    }
    .advertising-box {
        display: none;
    }
    #spaceholder {
        display: none;
    }
    .car-options {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .options {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        display: inline-flex;
        margin-bottom: 0px;
        margin-left: 10%;
    }
    .abovethird {
        margin-top: 0px !important;
    }
    .pickup {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .drop-off {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .carfound {
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }
    .car-class-info {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .include-info {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mobile {
        display: contents;
    }
    .car-logo {
        margin: auto;
    }
    .icons-results {
        justify-content: space-evenly;
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
    .result {
        font-size: .85em;
        width: 100vw;
    }
    .reserve-button {
        position: absolute;
        right: 0;
        padding-right: 10%;
        top: 30%;
    }
    .price-box {
        position: relative;
        height: 120px;
    }
    .price-display {
        width: 50% !important;
    }
    .search-form-list {
        display: none;
    }
    #nav-header li {
        font-size: 14px;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px
    }
    .deal-info,
    .good-choice {
        display: none;
    }
    #nav-header a {
        padding-left: 1px;
        padding-right: 5px
    }
    .head-text {
        margin-top: -10px;
        padding-top: -10px;
        font-family: "opensans";
        font-size: 12px
    }
}

.special-box {
    display: grid;
    grid-template-columns: 48% 48% 10px;
    width: 100%;
    grid-template-rows: 500px 500px;
    grid-gap: 30px;
    margin: 30px;
}

.toppage {
    margin-top: 0;
    background-image: url('img/');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.brands-logo {
    margin-top: 140px;
}

.headline {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: auto;
    margin-left: 0px !important;
}

.toppage {
    display: grid;
    grid-template-columns: 35% 1000px 400px;
    grid-template-rows: 100px 600px;
    width: 100%;
    grid-gap: 20px;
}

.promotions {
    grid-row-start: 2;
    grid-column-start: 3;
    background: #7a7a7a;
    height: 450px;
}

.searchform {
    grid-row-start: 2;
    grid-column-start: 2;
}

.trustpilot {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-right: 30px;
}

.carsimg {
    grid-column-start: 1;
    grid-row-start: 2;
}

.panel-security {
    border-radius: 8px;
    /* IE10+ */
    background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B70202 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B70202 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B70202 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(100, #B70202));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B70202 100%);
    /* W3C Markup */
    background-image: linear-gradient(to top left, #FFFFFF 0%, #B70202 100%);
}

.support {
    border-radius: 8px;
    grid-column-start: 2;
    grid-row-start: 2;
    padding-right: 30px;
    /* IE10+ */
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #B70202 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #B70202 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #B70202 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(100, #B70202));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #B70202 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #B70202 100%);
}

#signup a {
    margin-top: 25px;
    color: #B70202 !important;
}

.third {
    height: 40%;
}

.form-input {
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
}

input[type=date] {
    font-size: 1.2em;
}

.inclusions,
.car-class {
    font-size: .85em;
    color: #7a7a7a;
}

.inclusions {
    text-align: left;
}

.mobilepu {
    display: none;
}

.loader-container {
    margin-top: 20%;
    margin-left: 40%;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.residence-box {
    font-size: .9em;
}

.search-button {
    background-color: #b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.rescheckbox {
    font-size: 1em;
    margin-bottom: 8px;
}

.right-padding {
    padding-right: 15px;
}

.container-security {
    margin-top: 15px;
    justify-content: space-around;
}

.trustpilot-widget {
    height: 150px;
}

.brands-display img {
    letter-spacing: 20px;
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
}

.font-red {
    background-color: white;
    color: #B70202;
}

.car-class-info span {
    font-size: .85em;
    color: #7a7a7a;
}

.link-red {
    color: #B70202;
}

.top-margin {
    margin-top: 100px;
}

.icons-results {
    display: inline-flex;
    padding-bottom: 6px;
    color: #7a7a7a;
}

.icons {
    margin-right: 6px;
    height: 35px;
    width: 35px;
}

.img-box {
    width: 200px;
    height: 100px;
}

.separator {
    width: 100%;
    height: 10px;
    ;
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: white;
}

.showshadow {
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 5px;
}

.car-image {
    margin-top: 15px;
    margin-left: 10px;
    /* border-right: #7a7a7a solid 2px; */
}

.img-box {
    border-right: #7a7a7a solid 2px;
}

#reserve {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.totalprice {
    margin-bottom: 5px;
}

.green-txt {
    color: #00aa00;
}

.summary-panel {
    display: none;
}

.car-holder {
    height: auto;
    width: auto;
    max-width: 850px;
}

.options {
    padding-bottom: 12px;
}

.carlogo {
    width: 160px;
    height: 100px;
}

.rentalcarlogo {
    width: 160px;
    height: 80px;
}

.company-info {
    border-right: #7a7a7a solid 1px;
}

.price-box {
    background-color: #E5E7E9;
}

hr {
    margin-top: 0px;
}

#ptotal {
    color: #00aa00;
    border-top: solid 2px #7a7a7a;
}

.mar-top {
    margin-top: 10px;
}

#mce-EMAIL {
    color: black !important;
    background: white !important;
}

.summary-panel-left {
    height: 200px;
    line-height: 1.8;
    font-size: 1.5em;
}

.total-summary {
    color: #00aa00;
}

.total {
    color: #7a7a7a;
}

.car-class {
    width: 60%;
    text-align: center !important;
    border-radius: 8px;
    background: #E5E7E9;
    margin-top: 0px;
}

.car-company-logo {
    margin-top: 10px;
}

.form-input {
    background-color: #E5E7E9;
    min-height: 350px;
    border-radius: 10px;
    padding-top: 20px
}

.rentalcompany {
    line-height: 2;
}

.summary-panel {
    font-size: 20px;
    font-weight: 500px;
}

.supplier-search {
    font-size: 16px;
    font-weight: 500;
}

#rentalcar {
    font-size: 16px;
    color: #7a7a7a;
    margin-left: 30px;
}

.rentalckbox {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#price-day {
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
}

#d-price {
    font-size: 60px;
    font-weight: 300;
}

.price-day {
    margin-left: 25px;
}

#day-display {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.searchbox-holder {
    margin-bottom: 0;
    padding-bottom: 0
}

.dropbtn {
    color: white;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 16px;
    border: 0
}

.customer-input {
    width: 350px;
    height: 300px;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.dropdown-content a {
    color: black;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block
}

.card-body {
    border: 0
}

.guide-button {
    border-radius: 8px;
    border: 0
}

.guide-button:hover {
    background-color: white;
    color: #b70202;
    border-radius: 8px
}

.guide a:hover {
    background-color: white;
    color: #b70202;
    border-radius: 8px;
    text-align: center
}

.float-right {
    float: right
}

.card-body {
    background: #b70202;
    color: #fff
}


/* .brand-logo {
  float: left
} */

.guide button {
    background: #b70202;
    color: #fff;
    border: 0;
    font-size: 1rem
}

.brand-logo img {
    width: auto;
    height: 60px;
    background-color: #b70202;
    margin: 0;
    padding-left: 0px;
    padding-top: 6px;
}

.red {
    background: #b70202;
}

.head-text {
    margin-top: 0;
    font-family: "arial";
    font-size: 18px;
    color: lightslategray
}

#nav-header {
    background-color: #b70202;
    height: 60px;
    padding-left: 0;
    color: white;
    position: relative;
    left: 10px
}

#nav-header li {
    font-family: Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: white
}

#nav-header a {
    color: white;
    margin-left: 5px;
    margin-right: 5px
}

.language-link {
    color: black;
    font-size: .9em
}

.total br {
    display: none;
}

.total {
    text-align: left;
}

.searchbox-holder {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px
}

.logos img {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.footer-social-icon a:hover .fa {
    background: #b70202;
    color: #fff
}

.icon-box {
    width: 100%;
    text-align: center;
    padding: 40px 30px;
    margin-top: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.car-box {
    width: 100%;
    text-align: center;
    background: #f3f3f3;
    padding: 40px 30px;
    margin-top: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}


/* .icon-box:hover {
    background: #b70202;
    color: #fff
} */


/* 
.icon-box:hover p {
    color: #fff
} */

.icon-box .icons {
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center
}

.icon-box .icons.book-icon {
    background: url(./img/book-icon.png);
    background-repeat: no-repeat;
    background-position: center
}


/* .icon-box:hover .icons.book-icon {
    background: url(./img/book-icon-hover.png);
    background-position: center;
    background-repeat: no-repeat
} */

.icon-box .icons.globe-icon {
    background: url(./img/globe-icon.png);
    background-repeat: no-repeat;
    background-position: center
}


/* .icon-box:hover .icons.globe-icon {
    background: url(./img/globe-icon-hover.png);
    background-repeat: no-repeat;
    background-position: center
} */

.icon-box .icons.shield-icon {
    background: url(./img/shield-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 66px
}


/* .icon-box:hover .icons.shield-icon {
    background: url(./img//shield-icon-hover.png);
    background-repeat: no-repeat;
    background-position: center
} */

.icon-box h2 {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 18px
}


/* .icon-box p {
    color: #666
} */

.boxes {
    margin-top: 5px
}

#nortonseal img {
    width: 250px;
    vertical-align: middle
}

#siteseal2 {
    width: 240px;
    vertical-align: middle
}

#siteseal1 {
    width: 200px
}

#siteseal {
    width: 200px
}

.siteseal {
    margin-top: 30px;
    margin-bottom: 20px;
    margin: auto
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

#trust-big {
    display: none
}

.footer-social-icon {
    text-align: center
}

footer {
    background: #b70202;
    color: #fff
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 12px
}

footer {
    padding-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

footer h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px
}

footer a:hover {
    color: #e6e6e6;
    text-decoration: none
}

footer a:focus {
    color: #e6e6e6;
    text-decoration: none
}

.newslatter {
    background: transparent;
    color: #fff;
    border: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px
}

.white-btn {
    background: #fff;
    display: block;
    width: 100%;
    border: 0;
    color: #b70202;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px
}

.white-btn:hover {
    background: #333;
    color: #fff
}

.white-bg {
    background: #fff;
    padding: 10px;
    color: #333;
    margin-top: 30px
}

.white-bg p {
    color: #333;
    line-height: 50px
}

img.ui-datepicker-trigger {
    position: relative;
    margin-left: -30px;
    width: 30px;
}

.footer-social-icon {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-social-icon li {
    display: inline-block
}

.footer-social-icon a {
    color: #666
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.footer-social-icon a:hover .fa {
    background: #b70202;
    color: #fff
}

.guide-button {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.guide-button button:hover {
    background: white;
    color: #b70202
}

button:focus {
    outline: 0;
    border: 0
}

.guide li {
    list-style: none;
    display: inline
}

.links {
    display: inline
}

@media only screen and (max-width:992px) {
    .result {
        font-size: .85em;
    }
}

@media only screen and (min-width:768px) {
    .searchbox-holder {
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px
    }
    #nortonseal {
        width: 260px
    }
    #siteseal2 {
        width: 280px
    }
    #trust-small {
        display: none
    }
    #trust-big {
        display: inline
    }
    #nav-header li {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px
    }
    #nav-header a {
        padding-left: 5px;
        padding-right: 5px
    }
    .logos img {
        width: 110px;
        height: 60px;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px
    }
}

#mc_embed_signup form {
    padding: 0
}

#mc_embed_signup .button {
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: #a60000
}

#mc_embed_signup .button:hover {
    background: #000;
    color: #fff
}

#mc_embed_signup .mc-field-group {
    width: 100%
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #fff;
    border-radius: 0
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: block;
    margin: 2px 0 10px 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41
}

#search-box {
    width: 250px
}

.search-div {
    padding-bottom: 2px;
    margin-top: 25px
}

.search-input {
    background-color: white;
    box-shadow: -7px -4px 13px 0 rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    font-size: .76em;
    margin-top: 150px
}

.search-button {
    background-color: #b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px
}

#search-title {
    background-color: #b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px
}

.search-field {
    width: 40%;
    display: inline-block
}

.wrapper {
    height: 100%
}

.navbar {
    background-color: white
}

.navbar-brand {
    margin-left: -20px;
    background-color: white
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

h2,
p {
    text-align: center
}

.go-up {
    display: inline-block;
    padding: 20px;
    background: #e85c41;
    border: 1px solid #e85c41;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: 2s
}

.go-up:active {
    opacity: 1;
    background: #a60000;
    transition: .5s
}

p {
    text-align: justify;
    margin-right: 4%;
    margin-left: 4%
}

.container {
    margin-bottom: 20px
}

.icon-box img {
    height: 80px;
    transition: 1s
}

.img-link {
    width: 20px;
    height: 20px;
    border: 0
}

.badge {
    background-color: #b70202
}

@media only screen and (min-width:1100px) {
    .head-text {
        font-size: 24px
    }
}

.locationsdata {
    list-style-type: none;
    position: absolute;
    background-color: white;
    cursor: pointer;
    overflow-y: scroll;
    z-index: 1001;
    max-height: 250px;
    max-width: 400px;
    width: 100%;
    padding-left: 0;
    margin-left: 0
}

.hidden {
    display: none
}

.locationsdata p {
    margin-bottom: 0
}

.locationsdata li {
    margin-bottom: 5px;
    font-size: 12px
}

.locationsdata li:hover {
    background-color: lightgray
}

.country {
    font-size: 12px;
    color: darkgray
}

@media(max-width:576px) {
    .footer-social-icon a .fa {
        font-size: 16px;
        height: 26px;
        width: 26px;
        line-height: 18px;
        padding: 3px;
        background: #b70202;
        color: #fff
    }
    .footer-social-icon a:hover .fa {
        background: #b70202;
        color: #fff
    }
    .collapse ul.navbar-nav>li>a {
        color: #b70202 !important
    }
    .top-info {
        height: 440px;
    }
    #nav-header li {
        font-size: 14px;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px
    }
    #nav-header a {
        padding-left: 1px;
        padding-right: 5px
    }
    #_wl-searchbox-holder {
        padding-left: 3px;
        padding-right: 0
    }
    .head-text {
        margin-top: -10px;
        padding-top: -10px;
        font-family: "opensans";
        font-size: 12px
    }
    .guide-content p {
        font-size: 14px
    }
    .guide-content h2 {
        font-size: 18px
    }
    .page-title h1 {
        font-size: 18px
    }
    ._wl-searchbox ._wl-searchbox-label {
        font-size: 12px
    }
    ._wl-searchbox ._wl-select-holder select {
        padding-left: 0;
        font-size: 12px
    }
    ._wl-searchbox ._wl-calendar-trigger span {
        padding-left: 0;
        font-size: 12px
    }
    ._wl-checkbox span {
        font-size: 12px
    }
    .search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
        font-size: 14px
    }
    .company-individual img {
        width: 120px
    }
    #company-individual {
        font-size: 14px
    }
}

._wl-radio input[type="radio"],
._wl-radio-inline input[type="radio"],
._wl-checkbox input[type="checkbox"],
._wl-checkbox-inline input[type="checkbox"] {
    margin-left: -340% !important
}

.searchbox-holder {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0
}

.dropbtn {
    color: white;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 16px;
    border: 0
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.red-color {
    color: #b70202
}

.page-title {
    margin-bottom: 40px
}

.guide-content {
    font-size: 16px
}

.dropdown-content a {
    color: black;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block
}

.card-body {
    border: 0
}

.guide-button {
    border-radius: 8px;
    border: 0
}

.float-right {
    float: right
}

.card-body {
    background: #b70202;
    color: #fff
}


/* .brand-logo {
  float: left
} */

.guide button {
    background: #b70202;
    color: #fff;
    border: 0;
    font-size: 1rem
}

.brand-logo img {
    width: auto;
    height: 60px;
    margin: 0;
    padding-left: 0px
}

.head-text {
    margin-top: 0;
    font-family: "arial";
    font-size: 18px;
    color: lightslategray
}

#nav-header {
    background-color: #b70202;
    height: 60px;
    padding-left: 0;
    color: white;
    position: relative;
    left: 10px
}

#nav-header li {
    font-family: Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: white
}

#nav-header a {
    color: white;
    margin-left: 5px;
    margin-right: 5px
}

.language-link {
    color: black;
    font-size: .9em
}

.searchbox-holder {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px
}

.logos img {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.body.old-branding .wrapper-reviews__type {
    max-width: 1200px !important;
}

body.old-branding {
    background: white !important;
}

.footer-social-icon a:hover .fa {
    background: white;
    color: #b70202
}

.advantage {
    font-size: 16px
}

.icon-box {
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 40px 30px;
    margin-top: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.car-box {
    width: 100%;
    text-align: center;
    background: #ddd;
    padding: 40px 30px;
    margin-top: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}


/* .icon-box:hover {
    background: #b70202;
    color: #fff
} */

._wl-loader-bubble {
    background: #b70202 !important
}


/* .icon-box:hover p {
    color: #fff
} */

.search-box ._wl-searchbox {
    background: rgba(255, 255, 255, 0.88);
    box-shadow: none;
    border-radius: 0
}

.search-box ._wl-searchbox h1 {
    border-bottom: 1px solid #626262;
    color: #b70202;
    padding-bottom: 10px
}

.search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
    background-color: #a52324;
    border-color: #a52324
}

.search-box ._wl-searchbox ._wl-btn-searcbox[disabled]:hover {
    background-color: #b70202;
    border-color: #b70202
}

.search-box ._wl-searchbox ._wl-btn-searcbox {
    background-color: #b70202;
    border-color: #b70202
}

.search-box ._wl-searchbox ._wl-btn-searcbox:hover {
    background-color: #a52324;
    border-color: #a52324
}

.search-box ._wl-searchbox ._wl-btn-searcbox:focus {
    background-color: #a52324 !important;
    border-color: #a52324 !important
}

.search-box ._wl-searchbox ._wl-checkbox label input:checked+i {
    background: #a52324;
    background-color: #a52324
}

.search-box ._wl-radio label input:checked+i,
._wl-checkbox label input:checked+i {
    background-color: #a52324 !important;
    background: #a52324 !important
}

.search-box ._wl-searchbox {
    color: #333
}

#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button {
    background-color: #b70202 !important
}

.search-box ._wl-searchbox ._wl-calendar-trigger:before {
    color: #333
}

.booking-page ._wl-highlight {
    color: #b70202
}

.booking-page ._wl-car-box ._wl-car-box-top-heading {
    color: #b70202
}

.booking-page ._wl-btn._wl-btn-book-now:hover,
.booking-page ._wl-btn._wl-btn-book-now:focus {
    background: #b70202 !important
}

.booking-page ._wl-btn._wl-btn-book-now,
.booking-page ._wl-btn._wl-btn-book-now {
    background: #b70202
}

.booking-page ._wl-btn-primary:hover,
.booking-page ._wl-holder ._wl-btn-primary:hover {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important
}

.booking-page ._wl-type {
    color: #333
}

.booking-page ._wl-sidebar ._wl-sidebar-car-heading {
    color: #b70202
}

.booking-page ._wl-sidebar ._wl-sidebar-heading {
    color: #b70202
}

.booking-page ._wl-btn-primary[disabled],
.booking-page ._wl-holder ._wl-btn-primary[disabled] {
    background-color: #b70202;
    border-color: #b70202
}

.booking-page ._wl-radio label input:checked+i,
.booking-page ._wl-checkbox label input:checked+i {
    background: #b70202
}

.booking-page ._wl-btn-primary,
._wl-holder ._wl-btn-primary {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important
}

.booking-page ._wl-sidebar ._wl-sidebar-car-type {
    color: #333
}

.booking-page ._wl-tooltip:after {
    background-color: #b70202
}

.page-title {
    background-color: #f8f8f8;
    padding: 7px;
    background-position: 0 840px;
    background-attachment: fixed;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6
}

.page-title h1 {
    margin-top: 12px
}

.icon-box .icons {
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center
}

.icon-box .icons.book-icon {
    background: url(../img/book-icon.png);
    background-repeat: no-repeat;
    background-position: center
}


/* .icon-box:hover .icons.book-icon {
    background: url(../img/book-icon-hover.png);
    background-position: center;
    background-repeat: no-repeat
} */

.icon-box .icons.globe-icon {
    background: url(../img/globe-icon.png);
    background-repeat: no-repeat;
    background-position: center
}


/* .icon-box:hover .icons.globe-icon {
    background: url(../img/globe-icon-hover.png);
    background-repeat: no-repeat;
    background-position: center
} */

.icon-box .icons.shield-icon {
    background: url(../img/shield-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 66px
}


/* .icon-box:hover .icons.shield-icon {
    background: url(../img/shield-icon-hover.png);
    background-repeat: no-repeat;
    background-position: center
} */

.icon-box h2 {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 18px
}


/* .icon-box p {
    color: #666
} */

.boxes {
    margin-top: 5px
}

#siteseal2 {
    margin-top: 25px;
    width: 160px;
    vertical-align: middle
}

#siteseal1 {
    width: 100px
}

#siteseal {
    width: 100px
}

.siteseal {
    margin-top: 30px;
    margin-bottom: 20px;
    margin: auto
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

#trust-big {
    display: none
}

.footer-social-icon {
    text-align: center
}

footer {
    background: #b70202;
    color: #fff;
    margin-left: 0;
    margin-right: 0
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 12px
}

footer {
    padding-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

footer h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px
}

footer a:hover {
    color: #e6e6e6;
    text-decoration: none
}

footer a:focus {
    color: #e6e6e6;
    text-decoration: none
}

#_wl-rntlsrch-searchbox-holder .rntlsrch-box {
    margin-top: 40px !important
}

.newslatter {
    background: transparent;
    color: #fff;
    border: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px
}

.extras-ul {
    margin-left: 5px;
    padding-left: 5px;
}

.white-btn {
    background: #fff;
    display: block;
    width: 100%;
    border: 0;
    color: #b70202;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px
}

.mright {
    margin-right: 0px;
    padding-right: 0px;
    text-align: right;
}

.mleft {
    margin-left: 0;
}

.white-btn:hover {
    background: #333;
    color: #fff
}

.white-bg {
    background: #b70202;
    padding: 10px;
    color: white;
    margin-top: 30px
}

.totalsummary {
    text-align: end;
}

.white-bg p {
    color: white;
    line-height: 50px
}

.footer-social-icon {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-social-icon li {
    display: inline-block
}

.footer-social-icon a {
    color: #666
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.footer-social-icon a:hover .fa {
    background: #b70202;
    color: #fff
}

.guide-button {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.guide-button button:hover {
    background: white;
    color: #b70202
}

.bookingform {
    width: 400px;
    height: 600px;
}

.extras ul {
    list-style: none;
}

.otaselect {
    height: auto;
    width: auto;
    font-size: 14px;
    padding: 2px;
}

button:focus {
    outline: 0;
    border: 0
}

.img-box {
    width: 200px;
    height: 100px;
}

.separator {
    width: 100%;
    height: 10px;
}

.placeholder {
    margin-bottom: 0px;
}

#carspan {
    text-align: center;
    font-size: .85em;
    color: #7a7a7a;
    line-height: .95;
}

.showshadow {
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-security {
    margin-top: 50px;
}

.car-image {
    margin-top: 15px;
    margin-left: 10px;
    /* border-right: #7a7a7a solid 2px; */
}

.img-box {
    border-right: #7a7a7a solid 2px;
}

.reserve-btn {
    margin-bottom: 10px;
}

#reserve {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    margin-bottom: 10px;
    padding-bottom: 6px;
}

#reserve-my {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    margin-bottom: 10px;
    padding-bottom: 6px;
    height: 50px;
    position: relative;
    right: 0;
}

.resbtn {
    display: flex;
    justify-content: flex-end;
}

.totalprice {
    margin-bottom: 5px;
}

#licancelpro {
    display: none;
}

.green-txt {
    color: #00aa00;
}

.extra-list {
    width: 100%;
    max-width: 100%;
    background: #fff;
    float: left;
    margin: 0;
    line-height: 14px;
    padding: 10px;
}

.ckbox {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 25px;
}

li[class~="ota511.DPB"] {
    display: none;
}

.car-name span {
    color: #7a7a7a;
    padding-top: 2px;
}

.det-icons {
    width: 250px;
    height: 70px;
    font-size: 12px;
    color: #7a7a7a;
    display: flex;
    justify-content: space-between;
}

.extra-title {
    padding-top: 10px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.extra-select {
    position: relative;
    height: auto;
    margin: auto;
}

.extra-details {
    display: inline-block;
}

.extra-name {
    margin: auto 10px;
}

.extra-img {
    height: 40px;
    width: 40px;
}

.car-holder {
    width: 100%;
    height: auto;
}

.details-body {
    min-height: 700px;
    position: relative;
}

.extra-details {
    display: inline-block;
}

.carlogo {
    width: 160px;
    height: 100px;
}

.rentalcarlogo {
    width: 160px;
    height: 80px;
}

.middle-list {
    margin-top: 3%;
    border-top: 1px solid lightgray;
}

.det-car-display {
    width: 250px;
    height: 230px;
}

.company-info {
    border-right: #7a7a7a solid 1px;
}

.pickup,
.drop-off {
    margin-top: 10px;
}

.hl {
    border-radius: 8px;
    background: #E5E7E9;
    text-align: center;
}

#reserve-btn {
    margin-top: 5px;
}

.price-box {
    background-color: #E5E7E9;
}

.drop-off-info,
.pickup-info {
    line-height: 1.2;
}

.included-content,
.carclass,
.pickup-info,
.drop-off-info,
.total {
    font-size: .85em;
    color: #7a7a7a;
}

.form-list {
    font-size: .8em !important;
}

.include-info {
    margin-top: -5px;
    margin-bottom: 15px;
}

.car-at {
    margin-top: 8px;
    color: #7a7a7a;
    font-size: .85em
}

hr {
    margin-top: 0px;
}

.mar-top {
    margin-top: 10px;
}

.total {
    color: #7a7a7a;
    line-height: 1;
}

.company-individual img {
    width: 200px
}

.company-individual {
    font-size: 20px
}

#_wl-rntlsrch-searchbox-holder>div>form>div {
    margin-top: 40px
}

.guide li {
    list-style: none;
    display: inline
}

.links {
    display: inline
}

@media only screen and (min-width:768px) {
    #contact:hover {
        color: #ddd
    }
    #nav-signin:hover {
        color: #ddd
    }
    .lisbon {
        background-image: url(../img/Lisbonpic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .denver {
        background-image: url(../img/denver-2230512_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .orlando {
        background-image: url(../img/Orlando.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .belfast {
        background-image: url(../img/belfast-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .miami {
        background-image: url(../img/miami.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .dublin {
        background-image: url(../img/dublin.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .cork {
        background-image: url(../img/cork-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .shannon {
        background-image: url(../img/shannon-limerick-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .guide-button:hover {
        background-color: white;
        color: #b70202;
        border-radius: 8px
    }
    .guide a:hover {
        background-color: white;
        color: #b70202;
        border-radius: 8px;
        text-align: center
    }
    #summary-panel {
        position: sticky;
        right: 0
    }
    #center-car-image {
        height: 60px
    }
    #siteseal2 {
        width: 180px
    }
    #trust-small {
        display: none
    }
    #trust-big {
        display: inline
    }
    #nav-header li {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px
    }
    #nav-header a {
        padding-left: 5px;
        padding-right: 5px
    }
    .logos img {
        width: 110px;
        height: 60px;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px
    }
}

#mc_embed_signup form {
    padding: 0
}

#mc_embed_signup .button {
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: #a60000
}

#mc_embed_signup .button:hover {
    background: #000;
    color: #fff
}

#mc_embed_signup .mc-field-group {
    width: 100%
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #fff;
    border-radius: 0
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: block;
    margin: 2px 0 10px 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41
}

#search-box {
    width: 250px
}

.search-input {
    background-color: white;
    box-shadow: -7px -4px 13px 0 rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    font-size: .76em;
    margin-top: 150px
}

.search-button {
    background-color: #b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px
}

#search-title {
    background-color: #b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px
}

.search-field {
    width: 40%;
    display: inline-block
}

.wrapper {
    height: 100%
}

.navbar {
    background-color: white
}

.navbar-brand {
    margin-left: -20px;
    background-color: white
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

h2,
p {
    text-align: center
}

.go-up {
    display: inline-block;
    padding: 20px;
    background: #e85c41;
    border: 1px solid #e85c41;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: 2s
}

.go-up:active {
    opacity: 1;
    background: #a60000;
    transition: .5s
}

p {
    text-align: justify;
    margin-right: 4%;
    margin-left: 4%
}

.container {
    margin-bottom: 20px
}

.icon-box img {
    height: 80px;
    transition: 1s
}

.img-link {
    width: 20px;
    height: 20px;
    border: 0
}

.badge {
    background-color: #b70202
}

@media only screen and (min-width:1100px) {
    .head-text {
        font-size: 24px
    }
    .footer-social-icon {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .footer-social-icon li {
        display: inline-block
    }
    .footer-social-icon a {
        color: white
    }
    .footer-social-icon a .fa {
        font-size: 25px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        line-height: 34px;
        text-align: center;
        border-radius: 50%;
        padding: 10px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out
    }
    .footer-social-icon a:hover .fa {
        background: white;
        color: #b70202
    }
}