#signup a {
    margin-top: 25px;
    color: #B70202 !important;
}

.third {
    height: 40%;
}

.form-input {
    background-color: white;
    border-radius: 10px;
}

input[type=date] {
    font-size: 1.2em;
}

.moving-car {
    display: none;
}

.inclusions,
.inclusions {
    text-align: left;
}

.mobilepu {
    display: none;
}

.total {
    color: #7a7a7a;
    line-height: 1.2;
    position: absolute;
    bottom: 82px;
}

.car-warning h5 {
    background: burlywood;
    border-radius: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.residence-box {
    font-size: .9em;
}

#residence-box {
    display: none;
}

.search-button {
    font-weight: bold;
    border-radius: 10px;
}

.rescheckbox {
    font-size: 1em;
    margin-bottom: 8px;
}

#mcafeeseal1 {
    height: 80px;
    margin-left: -30px;
}

.right-padding {
    padding-right: 15px;
}

.container-security {
    margin-top: 15px;
    justify-content: space-around;
}

.cc-payment {
    margin-left: 50px;
}

.cc-payment img {
    height: 120px;
    margin-top: 20px
}


/* .trustpilot-widget {
    height: 150px;
} */


/* .trustpilot {
    border-top: 1px solid #ccc;
} */

.brands-display img {
    letter-spacing: 20px;
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
}

.font-red {
    background-color: white;
    color: #B70202;
}

.link-red {
    color: #B70202;
}

.top-margin {
    margin-top: 100px;
}

.top-advertising {
    background: linear-gradient(130deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
    color: white;
}

.icons-results {
    display: flex;
    padding-bottom: 6px;
    color: #7a7a7a;
    text-align: center
}

.icons {
    margin-right: 8px;
    height: 35px;
    width: 35px;
}

#drop-off-location {
    display: none;
}

.img-box {
    width: 200px;
    height: 100px;
}

.termsservice {
    list-style: none;
    padding: 20px;
    margin: 20px
}

.separator {
    width: 100%;
    height: 10px;
    ;
}

.showshadow {
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 5px;
}

.car-image {
    margin-top: 15px;
    margin-left: 10px;
    /* border-right: #7a7a7a solid 2px; */
}

.img-box {
    border-right: #7a7a7a solid 2px;
}

#reserve {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 85%;
}

#price-day {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    padding-top: 0;
}

.totalprice {
    margin-bottom: 5px;
}

.mobile {
    min-height: 230px;
}

.green-txt {
    color: #00aa00;
}

.summary-panel-left {
    display: none;
}

.car-holder {
    height: auto;
    width: auto;
    max-width: 1150px;
}

.options {
    padding-bottom: 12px;
}

.carlogo {
    width: 160px;
    height: 100px;
}

.summary-panel {
    background: rgba(255, 255, 255, .75);
}

.summary-panel-left {
    background: rgba(255, 255, 255, .75);
}

.rentalcarlogo {
    width: 160px;
    height: 80px;
}

.cc-image img {
    height: 150px;
}

.company-info {
    border-right: #7a7a7a solid 1px;
}

.price-box {
    background-color: #E5E7E9;
}

hr {
    margin-top: 0;
}

#ptotal {
    color: #00aa00;
    border-top: solid 2px #7a7a7a;
}

.mar-top {
    margin-top: 10px;
}

.car-img {
    height: 80px;
}

.sticky1 {
    position: fixed;
    top: 0;
    z-index: 2000;
}

#mce-EMAIL {
    color: black !important;
    background: white !important;
}

.total-summary {
    color: #00aa00;
}

.total {
    color: #7a7a7a;
}

@media (min-width:320) and (max-width:576px) {
    .summary-panel-left {
        display: none;
    }
    .summary-panel {
        display: block;
    }
    .sticky {
        display: none;
    }
    .sticky1 {
        position: fixed;
        top: 0px;
        z-index: 2000;
    }
}

@media (min-width:768) and (max-width:992px) {
    .summary-panel-left {
        display: none;
    }
    .summary-panel {
        display: block;
    }
    .sticky {
        display: none;
    }
    .sticky1 {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 40%;
        right: 25%;
    }
    .container1 {
        display: block;
    }
}

@media (min-width:993) and (max-width:1200px) {
    .summary-panel-left {
        display: none;
    }
    .summary-panel {
        display: block;
    }
    .container1 {
        display: block;
    }
    .sticky {
        display: none;
    }
    .sticky1 {
        position: fixed;
        top: 0;
        z-index: 1000;
        background: white;
        width: 50%;
        right: 20%;
    }
}

@media(min-width:576px) {
    .result,
    .filter {
        font-size: .85em;
    }
}

@media(max-width:767px) {
    .advertising {
        display: none;
    }
    .car-img img {
        width: 120px;
    }
    #mcafeeseal1 {
        display: none !important;
    }
    .terms {
        line-height: 1 !important;
    }
    .searchbox-holder {
        margin-top: 0px !important;
    }
    .form-input {
        margin-top: 0px !important;
        width: 100vw;
    }
    .car-company-logo img {
        width: 130px;
    }
    .total {
        bottom: 15px !important;
        position: absolute;
    }
    #dropoffborder {
        padding-bottom: 20px;
        line-height: 1.5 !important;
    }
    .extra-details {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .summary-panel {
        line-height: 1.4 !important;
        font-size: 16px !important;
    }
    #expiryyear {
        margin-left: 0px !important;
    }
    .puloc {
        display: none !important;
    }
    .extra-select {
        position: relative;
        height: auto;
        margin: 10px;
    }
    .brand-logo img {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 14px !important;
        padding-bottom: 10px !important;
        height: 50px;
    }
    .summary-panel-left {
        display: none;
    }
    .summary-panel {
        display: block;
        font-size: 16px;
    }
    #dropoffborder,
    .details-pickup {
        line-height: 1.5 !important;
    }
    #details-pickup {
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .driver-details {
        display: none;
    }
    /* .showshadow {
    box-shadow: none !important;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
  } */
    .driver-form label {
        display: none;
    }
    .det-car-display {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        border-right: none !important;
    }
    .extra-img {
        display: none;
    }
    .mobilepu {
        display: contents;
    }
    .advertising-box {
        display: none;
    }
    #spaceholder {
        display: none;
    }
    .car-options {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .options {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        display: inline-flex;
        margin-bottom: 0px;
        margin-left: 10%;
    }
    .abovethird {
        margin-top: 0px !important;
    }
    .pickup {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .drop-off {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .carfound {
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }
    .include-info {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mobile {
        display: contents;
    }
    .car-logo {
        margin: auto;
    }
    .icons-results {
        justify-content: space-evenly;
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
    .result {
        font-size: .85em;
        width: 100vw;
    }
    .reserve-button {
        position: absolute;
        right: 0;
        padding-right: 10%;
        top: 30%;
    }
    #reserve {
        position: relative;
        bottom: 5%;
        right: 8px;
        width: 100%;
    }
    .price-box {
        position: relative;
        height: 110px;
        margin-top: 40px;
    }
    .price-display {
        width: 50% !important;
    }
    .search-form-list {
        display: none;
    }
    #nav-header li {
        font-size: 14px;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px
    }
    .deal-info,
    .good-choice {
        display: none;
    }
    #nav-header a {
        padding-left: 1px;
        padding-right: 5px
    }
    .head-text {
        margin-top: -10px;
        padding-top: -10px;
        font-family: "opensans";
        font-size: 12px
    }
}

.car-company-logo {
    margin-top: 10px;
    width: 150px;
}

.car-company-logo img {
    width: 150px;
}

.form-input {
    background-color: #E5E7E9;
    min-height: 350px;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 3rem;
}

.rentalcompany {
    line-height: 2;
}

.summary-panel {
    font-size: 20px;
    font-weight: 500px;
}

@media only screen and (max-width:479px) {
    .footer-social-icon a .fa {
        font-size: 16px;
        height: 26px;
        width: 26px;
        line-height: 18px;
        padding: 3px;
    }
}

.supplier-search {
    font-size: 16px;
    font-weight: 500;
}

#rentalcar {
    font-size: 16px;
    color: #7a7a7a;
    margin-left: 30px;
}

.rentalcarsearch {
    font-size: 16px;
    color: #7a7a7a;
    margin-left: 30px;
}

.rentalckbox {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#price-day {
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    padding-top: 0px;
}

#d-price {
    font-size: 26px;
    font-weight: 300;
    display: inline-flex;
}


/* .price-day {
    margin-left: 25px;
} */

#day-display {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.searchbox-holder {
    margin-bottom: 0;
    padding-bottom: 0
}

.dropbtn {
    color: white;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 16px;
    border: 0
}

.customer-input {
    width: 350px;
    height: 300px;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.dropdown-content a {
    color: black;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #B70202
}

.dropdown:hover .dropdown-content {
    display: block
}

.card-body {
    border: 0;
    background: #f2f2f2 !important;
}

.guide-button {
    border-radius: 8px;
    border: 0;
    background: #f2f2f2;
}

.guide a:hover {
    border-radius: 8px;
    text-align: center
}

.float-right {
    float: right
}


/* .brand-logo {
  float: left
} */

.guide button {
    border: 0;
    font-size: 1rem
}

.brand-logo img {
    width: auto;
    height: 60px;
    margin: 0;
    padding-left: 0px;
    padding-top: 6px;
}

.red {
    background: #b70202;
}

.head-text {
    margin-top: 0;
    font-family: "arial";
    font-size: 18px;
    color: lightslategray
}

#nav-header li {
    font-family: Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: white
}

#nav-header a {
    color: white;
    margin-left: 5px;
    margin-right: 5px
}

.language-link {
    color: black;
    font-size: .9em
}

.total br {
    display: none;
}

.total {
    text-align: left;
}

.searchbox-holder {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px
}

.logos img {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.icon-box {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.car-box {
    width: 100%;
    text-align: center;
    padding: 40px 30px;
    margin-top: 50px;
}

.icon-box .icons {
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center
}

.icon-box .icons.book-icon {
    background: url(../img/book-icon.png);
    background-repeat: no-repeat;
    background-position: center
}

.icon-box .icons.globe-icon {
    background: url(../img/globe-icon.png);
    background-repeat: no-repeat;
    background-position: center
}

.icon-box .icons.shield-icon {
    background: url('../img/shield-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 66px
}

.boxes {
    margin-top: 5px
}

#nortonseal {
    height: 90px;
    vertical-align: middle
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

#trust-big {
    display: none
}

.cc-payment {
    display: none;
}

.cc-image {
    display: block;
}

.footer-social-icon {
    text-align: center
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 12px
}

.container1 {
    display: none;
}

footer {
    padding-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

footer h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

footer a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px
}

footer a:hover {
    color: #B70202;
    text-decoration: none
}

footer a:focus {
    color: #B70202;
    text-decoration: none
}

.newslatter {
    background: transparent;
    color: #fff;
    border: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px
}

.white-btn {
    display: block;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px
}

.white-bg {
    padding: 10px;
    color: #333;
    margin-top: 30px
}

.white-bg p {
    color: #333;
    line-height: 50px
}

img.ui-datepicker-trigger {
    position: relative;
    margin-left: -30px;
    width: 30px;
}

.footer-social-icon {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-social-icon li {
    display: inline-block
}

.footer-social-icon a {
    color: #666
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

button:focus {
    outline: 0;
    border: 0
}

.guide li {
    list-style: none;
    display: inline
}

.links {
    display: inline
}

@media only screen and (max-width:992px) {
    .result {
        font-size: .85em !important;
    }
    .car-details {
        line-height: 1.3 !important;
        font-size: .8em !important;
    }
    .bottombutton {
        font-size: .78em;
    }
    /* .payment-details {
        font-size: .8em;
    } */
    .search-form-list {
        display: none;
    }
}

#mc_embed_signup form {
    padding: 0
}

#mc_embed_signup .button {
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: #a60000
}

#mc_embed_signup .button:hover {
    background: #000;
    color: #fff
}

#mc_embed_signup .mc-field-group {
    width: 100%
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #fff;
    border-radius: 0
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: block;
    margin: 2px 0 10px 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41
}

#search-box {
    width: 250px
}

.search-div {
    padding-bottom: 2px;
    margin-top: 25px
}

.search-input {
    background-color: white;
    box-shadow: -7px -4px 13px 0 rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    font-size: .76em;
    margin-top: 150px
}

.search-button {
    font-weight: bold;
    border-radius: 10px
}

#search-title {
    font-weight: bold;
    border-radius: 10px
}

.search-field {
    width: 40%;
    display: inline-block
}

.wrapper {
    height: 100%
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

h2 {
    text-align: center
}

.go-up {
    display: inline-block;
    padding: 20px;
    background: #e85c41;
    border: 1px solid #e85c41;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: 2s
}

.go-up:active {
    opacity: 1;
    background: #a60000;
    transition: .5s
}

p {
    text-align: justify;
    margin-right: 4%;
    margin-left: 4%
}

.container {
    margin-bottom: 20px
}

.icon-box img {
    height: 80px;
}

.img-link {
    width: 20px;
    height: 20px;
    border: 0
}

@media only screen and (min-width:1100px) {
    .head-text {
        font-size: 24px
    }
}

.locationsdata {
    list-style-type: none;
    position: absolute;
    background-color: white;
    cursor: pointer;
    overflow-y: scroll;
    z-index: 1001;
    max-height: 250px;
    max-width: 350px;
    width: 100%;
    padding-left: 0;
    margin-left: 0
}

.hidden {
    display: none
}

.locationsdata p {
    margin-bottom: 0
}

.locationsdata li {
    margin-bottom: 5px;
    font-size: 12px
}

.locationsdata li:hover {
    background-color: lightgray
}

.country {
    font-size: 12px;
    color: darkgray
}

@media(max-width:576px) {
    .footer-social-icon a .fa {
        font-size: 16px;
        height: 26px;
        width: 26px;
        line-height: 18px;
        padding: 3px;
    }
    .cc-payment {
        display: block;
    }
    .cc-image {
        display: none;
    }
    #d-price {
        font-size: 30px !important;
        margin-top: 8px;
    }
    .wrapper1 {
        display: none !important;
    }
    .extra-cost {
        padding-left: 0;
    }
    .top-info {
        height: 440px;
    }
    #nav-header li {
        font-size: 14px;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px
    }
    #nav-header a {
        padding-left: 1px;
        padding-right: 5px
    }
    .head-text {
        margin-top: -10px;
        padding-top: -10px;
        font-family: "opensans";
        font-size: 12px
    }
    .guide-content p {
        font-size: 14px
    }
    .guide-content h2 {
        font-size: 18px
    }
    .page-title h1 {
        font-size: 18px
    }
    .company-individual img {
        width: 120px
    }
    #company-individual {
        font-size: 14px
    }
}

.searchbox-holder {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0
}

.dropbtn {
    color: white;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 16px;
    border: 0
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.red-color {
    color: #b70202
}

.page-title {
    margin-bottom: 40px
}

.guide-content {
    font-size: 16px
}

.dropdown-content a {
    color: black;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block
}

.card-body {
    border: 0
}

.guide-button {
    border: 0;
    color: #333333;
    font-weight: 600;
}

.float-right {
    float: right
}


/* .brand-logo {
  float: left
} */

.guide button {
    border: 0;
    font-size: 1rem
}

.brand-logo img {
    width: auto;
    height: 60px;
    margin: 0;
    padding-left: 0px
}

.head-text {
    margin-top: 0;
    font-family: "arial";
    font-size: 18px;
    color: lightslategray
}

#nav-header {
    height: 60px;
    padding-left: 0;
    position: relative;
    left: 10px
}

#nav-header li {
    font-family: Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: white
}

#nav-header a {
    color: white;
    margin-left: 5px;
    margin-right: 5px
}

.language-link {
    color: black;
    font-size: .9em
}

.searchbox-holder {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px
}

.logos img {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.advantage {
    font-size: 16px
}

.icon-box {
    width: 100%;
    border-radius: 8px;
    text-align: center;
    margin-top: 50px;
}

.car-box {
    width: 100%;
    text-align: center;
    padding: 40px 30px;
    margin-top: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.page-title {
    background-color: #f8f8f8;
    padding: 7px;
    background-position: 0 840px;
    background-attachment: fixed;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6
}

.page-title h1 {
    margin-top: 12px
}

.icon-box .icons {
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center
}

.boxes {
    margin-top: 5px
}

#siteseal {
    width: 300px;
    height: 300px;
}

.siteseal {
    margin-top: 30px;
    margin-bottom: 20px;
    margin: auto
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

#trust-big {
    display: none
}

.footer-social-icon {
    text-align: center
}

footer {
    margin-left: 0;
    margin-right: 0
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 12px
}

footer {
    padding-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

footer h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

footer a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px
}

footer a:hover {
    color: #B70202;
    text-decoration: none
}

footer a:focus {
    color: #B70202;
    text-decoration: none
}

.newslatter {
    background: transparent;
    color: #fff;
    border: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px
}

.extras-ul {
    margin-left: 5px;
    padding-left: 5px;
}

.white-btn {
    display: block;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px
}

.mright {
    margin-right: 0px;
    padding-right: 0px;
    text-align: right;
}

.mleft {
    margin-left: 0;
}

.white-btn:hover {
    background: #333;
    color: #fff
}

.white-bg {
    padding: 10px;
    margin-top: 30px
}

.totalsummary {
    text-align: end;
}

.white-bg p {
    line-height: 50px
}

.footer-social-icon {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-social-icon li {
    display: inline-block
}

.footer-social-icon a {
    color: #666
}

.footer-social-icon a .fa {
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.guide-button:hover {
    color: #b70202;
}

.bookingform {
    width: 400px;
    height: 600px;
}

.extras ul {
    list-style: none;
}

.otaselect {
    height: auto;
    width: auto;
    font-size: 14px;
    padding: 2px;
}

button:focus {
    outline: 0;
    border: 0
}

.img-box {
    width: 200px;
    height: 100px;
}

.separator {
    width: 100%;
    height: 10px;
}

.placeholder {
    margin-bottom: 0px;
}

#carspan {
    text-align: center;
    font-size: .85em;
    color: #7a7a7a;
    line-height: .95;
}

.showshadow {
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-security {
    margin-top: 50px;
}

.car-image {
    margin-top: 15px;
    margin-left: 10px;
    /* border-right: #7a7a7a solid 2px; */
}

.img-box {
    border-right: #7a7a7a solid 2px;
}

.reserve-btn {
    margin-bottom: 10px;
}

#currency-form {
    font-weight: bold;
}

#country-form {
    font-weight: bold;
}

#reserve {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    margin-bottom: 10px;
    padding-bottom: 6px;
}

#reserve-my {
    background-color: #00aa00;
    color: white;
    box-shadow: 3px 3px 5px 2px rgba(128, 128, 128, 0.65);
    margin-bottom: 10px;
    padding-bottom: 6px;
    height: 50px;
    position: relative;
    right: 0;
}

#terms {
    width: 25px;
    height: 25px;
    margin: auto;
}

.resbtn {
    display: flex;
    justify-content: flex-end;
}

.totalprice {
    margin-bottom: 5px;
}

#licancelpro {
    display: none;
}

.green-txt {
    color: #00aa00;
}

.extra-list {
    width: 100%;
    max-width: 100%;
    background: #fff;
    float: left;
    margin: 0;
    line-height: 14px;
    padding: 10px;
}

.ckbox {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 25px;
}

li[class~="ota511.DPB"] {
    display: none;
}

.car-name span {
    color: #7a7a7a;
    padding-top: 2px;
}

.det-icons {
    width: 250px;
    height: 70px;
    font-size: 12px;
    color: #7a7a7a;
    display: flex;
    justify-content: space-between;
}

.extra-title {
    padding-top: 10px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.extra-select {
    position: relative;
    height: auto;
    margin: auto;
}

.extra-details {
    display: inline-block;
}

.extra-name {
    margin: auto 10px;
}

.center-container {
    position: relative;
}

.extra-img {
    height: 40px;
    width: 40px;
}

.car-holder {
    width: 100%;
    height: auto;
}

.details-body {
    min-height: 700px;
    position: relative;
}

.extra-details {
    display: inline-block;
}

.carlogo {
    width: 160px;
    height: 100px;
}

.rentalcarlogo {
    width: 160px;
    height: 80px;
}

.middle-list {
    margin-top: 3%;
    border-top: 1px solid lightgray;
}

.det-car-display {
    width: 250px;
    height: 230px;
}

.company-info {
    border-right: #7a7a7a solid 1px;
}

.pickup,
.drop-off {
    margin-top: 10px;
}

.hl {
    border-radius: 8px;
    background: #E5E7E9;
    text-align: center;
}

.hl2 {
    border-top-left-radius: 5px;
    background: #E5E7E9;
    text-align: center;
    border-top-right-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
}

#reserve-btn {
    margin-top: 5px;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

#nav-header {
    height: 60px;
    padding-left: 0;
    color: black !important;
    position: relative;
    left: 10px
}

#nav-header li {
    font-family: Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: #333333!important;
}

#nav-header a {
    color: #333333!important;
    margin-left: 5px;
    margin-right: 5px
}

.container1 {
    font-family: 'Lato', sans-serif;
    width: 770px;
    margin: 0 auto;
}

.wrapper1 {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 160px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.loader-holder {
    position: absolute;
    z-index: 1001;
    top: 60px;
    width: 100%;
    height: 500px;
    background-color: #ff8900;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSItMi45JSIgeTE9IjUuMSUiIHgyPSIxMDIuOSUiIHkyPSI5NC45JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMDExMDAwMDAwMDAwMDAwMDAxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmYTUwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTY1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmYwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, -2.9% 5.1%, 102.9% 94.9%, color-stop(0.011, rgb(255, 0, 0)), color-stop(0.565, rgb(255, 165, 0)), color-stop(1, rgb(255, 255, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(320deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
    /* IE10+ */
    background-image: linear-gradient(130deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
    background-image: -ms-linear-gradient(320deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
}

#center {
    position: relative;
    top: 40%;
    left: 45%;
    margin-top: -180px;
    margin-left: -75px;
    width: 350px;
    height: 180px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.skype-loader {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;
}

.skype-loader .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    animation: 1.1s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
}

.skype-loader .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.skype-loader .dot:nth-child(2) {
    animation-delay: 0.35s;
}

.skype-loader .dot:nth-child(3) {
    animation-delay: 0.45s;
}

.skype-loader .dot:nth-child(4) {
    animation-delay: 0.55s;
}

.skype-loader .dot:after,
.skype-loader .dot .first {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
}

.skype-loader .dot .first {
    background: #fff;
    margin-top: -4px;
    animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    animation-delay: 0.2s;
}

@keyframes dotrotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes dotscale {
    0%,
    10% {
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -4px;
    }
    50% {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: 0;
    }
    90%,
    100% {
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -4px;
    }
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #ff8900;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSItMi45JSIgeTE9IjUuMSUiIHgyPSIxMDIuOSUiIHkyPSI5NC45JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMDExMDAwMDAwMDAwMDAwMDAxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmYTUwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTY1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmYwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, -2.9% 5.1%, 102.9% 94.9%, color-stop(0.011, rgb(255, 0, 0)), color-stop(0.565, rgb(255, 165, 0)), color-stop(1, rgb(255, 255, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(320deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
    /* IE10+ */
    background-image: linear-gradient(130deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
    background-image: -ms-linear-gradient(320deg, rgb(255, 0, 0) 1.1%, rgb(255, 165, 0) 56.5%, rgb(255, 255, 0) 100%);
}

.arrow-steps .step.current:after {
    border-left: 17px solid #fff300;
}

.price-box {
    background-color: #E5E7E9;
}

.drop-off-info,
.pickup-info {
    line-height: 1.2;
}

.included-content,
.carclass,
.pickup-info,
.drop-off-info,
.total {
    font-size: .85em;
    color: #7a7a7a;
}

.form-list {
    font-size: .8em !important;
}

.include-info {
    margin-top: -5px;
    margin-bottom: 15px;
}

.car-at {
    margin-top: 8px;
    color: #7a7a7a;
    font-size: .85em
}

.container1 a {
    color: #333333;
}

hr {
    margin-top: 0px;
}

.mar-top {
    margin-top: 10px;
}

.total {
    color: #7a7a7a;
    line-height: 1;
}

.company-individual img {
    width: 200px
}

.company-individual {
    font-size: 20px
}

.guide li {
    list-style: none;
    display: inline
}

.links {
    display: inline
}

@media only screen and (min-width:577px) and (max-width:1024px) {
    #contact:hover {
        color: #ddd
    }
    #nav-signin:hover {
        color: #ddd
    }
    .main {
        margin-top: 0;
        background-image: url('../img/new-background2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px
    }
    .lisbon {
        background-image: url(../img/Lisbonpic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .denver {
        background-image: url(../img/denver-2230512_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .orlando {
        background-image: url(../img/Orlando.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .belfast {
        background-image: url(../img/belfast-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .miami {
        background-image: url(../img/miami.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .dublin {
        background-image: url(../img/dublin.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .cork {
        background-image: url(../img/cork-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    .shannon {
        background-image: url(../img/shannon-limerick-ireland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px
    }
    #nortonseal {
        height: 100px;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    .price-promise-img img {
        width: 95px !important;
        margin-top: 20px;
    }
    .price-promise-img {
        margin-top: 0px !important;
    }
    .price-promise-content {
        font-size: 12px;
    }
    #mcafeeseal1 {
        height: 54px;
        margin-left: -30px;
    }
    .multi-box-icon {
        margin-top: 4rem !important;
    }
    .imagecenter img {
        width: 200px;
        height: auto !important;
    }
    .car-class img {
        width: 65px !important;
    }
    .multi-list ul {
        display: none;
    }
    #summary-panel {
        width: 99vw;
    }
    #center-car-image {
        height: 60px
    }
    #trust-small {
        display: none
    }
    #trust-big {
        display: inline
    }
    #nav-header li {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px
    }
    #nav-header a {
        padding-left: 5px;
        padding-right: 5px
    }
    .logos img {
        width: 110px;
        height: 60px;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px
    }
    #nortonseal {
        height: 40px;
    }
    #comodoseal {
        height: 40px !important;
        margin-bottom: 14px !important;
    }
    #mcafeeseal {
        height: 40px !important;
    }
    .why-list {
        margin-left: 3% !important;
        font-size: 12px;
    }
    .imagecenter {
        position: absolute;
        left: 20% !important;
        bottom: 20% !important;
    }
    .why-title {
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 10px;
    }
}

#siteseal {
    width: 260px;
}

#mc_embed_signup form {
    padding: 0
}

#mc_embed_signup .button {
    width: 100%;
    border-radius: 0;
    background: #B70202 !important;
    color: white;
}

#mc_embed_signup .button:hover {
    background: #000;
    color: #fff
}

#mc_embed_signup .mc-field-group {
    width: 100%
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #fff;
    border-radius: 0
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: block;
    margin: 2px 0 10px 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41
}

#search-box {
    width: 250px
}

.search-input {
    background-color: white;
    box-shadow: -7px -4px 13px 0 rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    font-size: .76em;
    margin-top: 150px
}

.search-button {
    font-weight: bold;
    border-radius: 10px;
    background: #b70202;
    color: white;
}

#search-title {
    font-weight: bold;
    border-radius: 10px
}

.search-field {
    width: 40%;
    display: inline-block
}

.wrapper {
    height: 100%
}

.navbar {
    background-color: white
}

.navbar-brand {
    margin-left: -20px;
    background-color: white
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 .5em .5em 0;
    font-weight: bold;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px
}

.white-bg a {
    color: #000
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both
}

h2 {
    text-align: center;
}

#mc_embed_signup #mce-success-response {
    background: #529214;
    color: #fff;
    padding: 1em
}

.go-up {
    display: inline-block;
    padding: 20px;
    background: #e85c41;
    border: 1px solid #e85c41;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: 2s
}

.go-up:active {
    opacity: 1;
    background: #a60000;
    transition: .5s
}

.container {
    margin-bottom: 20px
}

.icon-box img {
    height: 80px;
}

.img-link {
    width: 20px;
    height: 20px;
    border: 0
}

@media only screen and (min-width:1100px) {
    .head-text {
        font-size: 24px
    }
    .footer-social-icon {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .footer-social-icon li {
        display: inline-block
    }
    .footer-social-icon a {
        color: white
    }
    .why-list li {
        font-size: 18px;
    }
    .footer-social-icon a .fa {
        font-size: 25px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        line-height: 34px;
        text-align: center;
        border-radius: 50%;
        padding: 10px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out
    }
}

@media only screen and (min-width:1200px) {
    .summary-panel-left {
        height: 180px;
        line-height: 1.7;
        font-size: 1.2em;
        min-width: 350px;
        display: block;
    }
    .summary-panel {
        display: none;
    }
    .container1 {
        display: block;
    }
    .sticky {
        position: fixed;
        top: 50px;
        z-index: 1000;
        width: 450px;
    }
    .sticky1 {
        display: none;
    }
}

@media only screen and (min-width:1600px) {
    .summary-panel-left {
        height: 200px;
        line-height: 1.7;
        font-size: 1.4em;
        min-width: 450px;
        display: block;
    }
    .sticky {
        position: fixed;
        top: 50px;
        z-index: 1000;
        width: 450px;
    }
}

#usdprice {
    color: #7a7a7a;
    font-size: .7em;
}