@charset "utf-8";
/* CSS Document */

@media (max-width: 576px) {
	/* Makes these changes only when screen sizes is 767 px or less */
	.collapse ul.navbar-nav>li>a {
		color: #b70202 !important;
		/* Rule 1: Sets color for default expanded menu links */
	}
	#_wl-rntlsrch-searchbox-holder .rntlsrch-box {

		
		margin-top: 40px !important;
	}
	#nav-header li {
		font-size: 14px;
		margin-left: 1px;
		margin-right: 1px;
		padding-left: 1px;
		padding-right: 1px;
	}
	#nav-header a {
		padding-left: 1px;
		padding-right: 5px;
	}
	#_wl-searchbox-holder {
		padding-left: 3px;
		padding-right: 0px;
	
	}
	.head-text{
	margin-top: -10px;
		padding-top: -10px;
	font-family: "opensans";
	font-size: 12px;
	

}
	.guide-content p{
	font-size: 14px;
		
}
		.guide-content h2{
	font-size: 18px;
		
}
		.page-title h1 {
		font-size: 18px;
		
	}
._wl-searchbox ._wl-searchbox-label {
	font-size: 12px;
}
._wl-searchbox ._wl-select-holder select {
	padding-left: 0;
	font-size: 12px;
}
._wl-searchbox ._wl-calendar-trigger span {
	padding-left: 0;
	font-size: 12px;
}
._wl-checkbox span {
	font-size: 12px;
}
.search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
	font-size: 14px;
}
.company-individual img{

	width: 120px;
}
#company-individual{
	font-size: 14px;
}
}
@media only screen and (max-width: 479px) {

		.footer-social-icon a .fa {
		font-size: 16px;
		height: 26px;
		width: 26px;
		line-height: 16px;
		padding: 3px;
		background: #b70202;
		color: #fff;
	}

}

._wl-radio input[type="radio"], ._wl-radio-inline input[type="radio"], ._wl-checkbox input[type="checkbox"], ._wl-checkbox-inline input[type="checkbox"] {
	margin-left: -340% !important;
}

.searchbox-holder{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.dropbtn {
   
    color: white;
  	padding-right: 20px;
	margin-right: 30px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
	right: 0;
	margin-right: 100px ;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
}
.red-color {
	color: #b70202;
}
.page-title {
	margin-bottom: 40px;
}
.guide-content{
	font-size: 16px;
}
.dropdown-content a {
    color: black;
   padding-right: 20px;
	margin-right: 20px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    
}
.card-body{
	border: none;
}
.guide-button{
	border-radius: 8px;
	border: none;
}


.float-right{
	float: right;
}
.card-body{
	background: #b70202;
	color: #fff;
}
.brand-logo {
	float: left;
}
.guide button{
	background: #b70202;
	color: #fff;
	border: none;
	font-size: 1rem;
}
.brand-logo img {
	width: 120px;
	height: 60px;
	background-color: white;
	margin: 0px;
	padding-left: 10px;
}
.head-text{
	margin-top: 0px;
	font-family: "arial";
	font-size: 18px;
	color: lightslategray;
	
}
#nav-header {
	background-color: #b70202;
	height: 60px;
	padding-left: 0px;
	color: white;
	position: relative;
	left: 10px;
}

#nav-header li {
	font-family: Arial, sans-serif;
	margin-left: 2px;
	margin-right: 2px;
	color: white;
}

#nav-header a {
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.language-link {
	color: black;
	font-size: .9em;
}

.searchbox-holder {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	margin-bottom: 15px;
}

.logos img {
	width: 80px;
	height: 50px;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
}

.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.footer-social-icon a:hover .fa {
	background: white;
	color: #b70202;
}
.advantage{

	font-size: 16px;
}
.icon-box {
	width: 100%;
	border-radius: 8px;
	text-align: center;
	background: #ddd;
	padding: 40px 30px;
	margin-top: 50px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.car-box {
	width: 100%;
	text-align: center;
	background: #ddd;
	padding: 40px 30px;
	margin-top: 50px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.icon-box:hover {
	background: #b70202;
	color: #fff;
}
._wl-loader-bubble {
    background: #b70202 !important;
}

.icon-box:hover p {
	color: #fff;
}
.search-box ._wl-searchbox {
	background: rgba(255, 255, 255, 0.88);
	box-shadow: none;
	border-radius: 0;
}
.search-box ._wl-searchbox h1 {
    border-bottom: 1px solid #626262;
    color: #b70202;
	padding-bottom: 10px;
}
.search-box ._wl-searchbox ._wl-btn-searcbox[disabled] {
	background-color: #a52324;
    border-color: #a52324;
}

.search-box ._wl-searchbox ._wl-btn-searcbox[disabled]:hover {
	background-color: #b70202;
    border-color: #b70202;
}
.search-box ._wl-searchbox ._wl-btn-searcbox {
	background-color: #b70202;
    border-color: #b70202;
}
.search-box ._wl-searchbox ._wl-btn-searcbox:hover {
    background-color: #a52324;
    border-color: #a52324;
}
.search-box ._wl-searchbox ._wl-btn-searcbox:focus {
    background-color: #a52324 !important;
    border-color: #a52324 !important;
}
.search-box ._wl-searchbox ._wl-checkbox label input:checked+i {
    background: #a52324;
    background-color: #a52324;
}
.search-box  ._wl-radio label input:checked+i, ._wl-checkbox label input:checked+i {
    background-color: #a52324 !important;
    background: #a52324 !important;
}
.search-box ._wl-searchbox {
    color: #333; 
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button{
	background-color: #b70202 !important;
}

.search-box ._wl-searchbox ._wl-calendar-trigger:before {
    color: #333;
}
.booking-page ._wl-highlight {
    color: #b70202;
}
.booking-page ._wl-car-box ._wl-car-box-top-heading {
    color: #b70202;
}
.booking-page ._wl-btn._wl-btn-book-now:hover, .booking-page ._wl-btn._wl-btn-book-now:focus {
    background: #b70202 !important;
}
.booking-page ._wl-btn._wl-btn-book-now, .booking-page ._wl-btn._wl-btn-book-now {
    background: #b70202;
}
.booking-page ._wl-btn-primary:hover, .booking-page ._wl-holder ._wl-btn-primary:hover {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important;
}
.booking-page ._wl-type {
    color: #333;
}
.booking-page ._wl-sidebar ._wl-sidebar-car-heading {
    color: #b70202;
}
.booking-page ._wl-sidebar ._wl-sidebar-heading {
    color: #b70202;
}
.booking-page ._wl-btn-primary[disabled], .booking-page ._wl-holder ._wl-btn-primary[disabled]{
    background-color: #b70202;
    border-color: #b70202;
}
.booking-page ._wl-radio label input:checked+i, .booking-page ._wl-checkbox label input:checked+i {
    background: #b70202;
}
.booking-page ._wl-btn-primary, ._wl-holder ._wl-btn-primary {
    color: #fff;
    background-color: #b70202 !important;
    border-color: #b70202 !important; 
}
.booking-page ._wl-sidebar ._wl-sidebar-car-type {
    color: #333;
}
.booking-page ._wl-tooltip:after {
    background-color: #b70202; 
}
.page-title {
    background-color: #f8f8f8;
    padding: 7px;
    background-position: 0px 840px;
    background-attachment: fixed;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.page-title h1 {
    margin-top: 12px;
}
.icon-box .icons {
	width: 52px;
	height: 52px;
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box .icons.book-icon {
	background: url(../img/book-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box:hover .icons.book-icon {
	background: url(../img/book-icon-hover.png);
	background-position: center;
	background-repeat: no-repeat;
}

.icon-box .icons.globe-icon {
	background: url(../img/globe-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box:hover .icons.globe-icon {
	background: url(../img/globe-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box .icons.shield-icon {
	background: url(../img/shield-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 66px;
}

.icon-box:hover .icons.shield-icon {
	background: url(../img/shield-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box h2 {
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.icon-box p {
	color: #666;
}
.boxes{
	margin-top: 5px;
}
#nortonseal {
	width: 120px;
	vertical-align: middle;
}

#siteseal2 {
	margin-top: 25px;
	width: 160px;
	vertical-align: middle;
}

#siteseal1 {
	width: 100px;
}

#siteseal {
	width: 100px;
}

.siteseal {
	margin-top: 30px;
	margin-bottom: 20px;
	margin: auto;
}

#mc_embed_signup div.response {
	margin: 0em 0px;
	padding: 0em 0.5em 0.5em 0px;
	font-weight: bold;
	float: left;
	top: 0;
	z-index: 1;
	width: 100%;
}

#mc_embed_signup input {
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 10px;
}


#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0;
	overflow: hidden;
	width: 100%;
	margin: 0 0%;
	clear: both;
}

#mc_embed_signup #mce-success-response {
	background: #529214;
	color: #fff;
	padding: 1em;
}

#trust-big{
	display: none;
}

.footer-social-icon {
	text-align: center;
}

footer {
	background: #b70202;
	color: #fff;
	margin-left: 0px;
	margin-right: 0px;
}

footer p {
	margin: 0;
	color: #fff;
	font-size: 12px;
}

footer {
	padding-top: 50px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer h5 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}



footer a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
}

footer a:hover {
	color: #e6e6e6;
	text-decoration: none;
}

footer a:focus {
	color: #e6e6e6;
	text-decoration: none;
}

.newslatter {
	background: transparent;
	color: #fff;
	border: 1px solid #e6e6e6;
	display: block;
	width: 100%;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.white-btn {
	background: #fff;
	display: block;
	width: 100%;
	border: 0;
	color: #b70202;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px;
}

.white-btn:hover {
	background: #333;
	color: #fff;
}

.white-bg {
	background: #b70202;
	padding: 10px;
	color: white;
	margin-top: 30px;
}

.white-bg p {
	color: white;
	line-height: 50px;
}

.footer-social-icon {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer-social-icon li {
	display: inline-block;
}

.footer-social-icon a {
	color: #666;
}

.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.footer-social-icon a:hover .fa {
	background: #b70202;
	color: #fff;
}

.guide-button{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;

}
.guide-button button:hover{
	background: white;
	color: #b70202;
	
}
button:focus{
		outline: none;
	border: none;
}
.company-individual img{

	width: 200px;
}
.company-individual {

	font-size: 20px;
}
#_wl-rntlsrch-searchbox-holder > div > form > div{
	margin-top: 40px;
}
/*
#_wl-rntlsrch-searchbox-holder .rntlsrch-box{
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}
*/

/*
#_wl-rntlsrch-searchbox-holder .rntlsrch-box__header{
	color: red !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-box{
	background-color: lightblue !important;
	border-radius: 10px !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button--disabled .rntlsrch-cta__phrase{
	background-color: #b70202 !important;
	border-radius: 10px !important;
	color: white !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button{
	border-radius: 10px !important;
}
._wl-car-box {
	
	border: thin solid black;
	border-radius: 10px
}
*/


.guide li{
list-style: none;	
	display: inline;
}
.links{
	display: inline;
	
}
@media only screen and (min-width: 768px){
	#contact:hover {
		color: #ddd;
		
	}
	#nav-signin:hover{
		color: #ddd;
	}
	
	.main {
		margin-top: 0px;
		background-image: url(../img/optimized.jpeg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 600px;
	}
		.lisbon{
		background-image: url(../img/Lisbonpic.jpg);
			background-size: cover;
		background-repeat: no-repeat;
			height: 500px;
	}
			.denver{
		background-image: url(../img/denver-2230512_1280.jpg);
			background-size: cover;
		background-repeat: no-repeat;
				height: 500px;
	}		.orlando{
		background-image: url(../img/Orlando.jpg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}		.belfast{
		background-image: url(../img/belfast-ireland.jpg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}		.miami{
		background-image: url(../img/miami.jpg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}		.dublin{
		background-image: url(../img/dublin.jpg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}
		.cork{
		background-image: url(../img/cork-ireland.jpg);
			background-size: cover;
		background-repeat: no-repeat;
			height: 500px;
	}	.shannon{
		background-image: url(../img/shannon-limerick-ireland.jpg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}	
	
	.guide-button:hover{
		background-color: white;
		color: #b70202;
		border-radius: 8px;
	}
	.guide a:hover{
		background-color: white;
		color: #b70202;
		border-radius: 8px;
		text-align: center;
	}
	#nortonseal{
		width: 160px;
		
	}
	
	
	
	.details-body{
		min-height: 700px;
		height: 700px;
	}
	
	
	
	
	
	
	.summary-panel{
		
		position: fixed;
		right: 0;
		
	}
	#center-car-image{
		width: 150px;
		height: 80px;
	}

	
	
	
	#siteseal2{
		width: 180px;
	}
	#trust-small{
		display: none;
	}
	#trust-big{
		display: inline;
	}

		
		#nav-header li {
		font-size: 20px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	#nav-header a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.logos img {
	width: 110px;
	height: 60px;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
}
}

					/* #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } */
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						#mc_embed_signup form { padding: 0px;}
						#mc_embed_signup .button {
						width: 100%;
						border-radius: 0;
						background: #fff;
						color: #a60000;
						}
						#mc_embed_signup .button:hover {
						background: #000;
						color: #fff;
						}
						#mc_embed_signup .mc-field-group {
						width: 100%;
						}
						#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
						border: 1px solid #fff;
						border-radius: 0;
						}
						#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
						display: block;
						margin: 2px 0 10px 0;
						padding: 5px 10px;
						background-color: rgba(255,255,255,0.85);
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						font-size: 14px;
						font-weight: normal;
						z-index: 1;
						color: #e85c41;
						}


#search-box {
    width: 250px;


}


.search-input{
    background-color: white;
    box-shadow: -7px -4px 13px 0px rgba(0,0,0,0.36);
    border-radius: 20px;
    font-size: 0.76em;
    margin-top: 150px
}
.search-button{
    background-color:#b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px;

}

#search-title {
    background-color:#b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.search-field {
width: 40%;
display: inline-block ;

}

.wrapper {
 height: 100%;


}

.navbar {
    background-color:white;
}
.navbar-brand {
    margin-left: -20px;
    background-color:white;
}



						#mc_embed_signup div.response {
						margin: 0em 0px;
						padding: 0em 0.5em 0.5em 0px;
						font-weight: bold;
						float: left;
						top: 0;
						z-index: 1;
						width: 100%;
						}
						#mc_embed_signup input {
						border: 1px solid #fff;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						margin-bottom: 10px;
						}
						.white-bg a {
						color: #000;
						}
						#mc_embed_signup div#mce-responses {
						float: left;
						top: -1.4em;
						padding: 0;
						overflow: hidden;
						width: 100%;
						margin: 0 0%;
						clear: both;
						}
						#mc_embed_signup #mce-success-response {
						background: #529214;
						color: #fff;
						padding: 1em;
						}
						h2,p{
						text-align: center;
						}

						.go-up{
			                        display:inline-block;
			                        padding: 20px;
						background:#e85c41;
						border: 1px solid #e85c41;
						border-radius: 5px;
						font-size: 20px;
						color: #fff;
						cursor: pointer;
						position: fixed;
						bottom: 0;
						right: 0;
						opacity: 0.8;
						transition: 2s;
						}
						.go-up:active{
						opacity: 1;
						background: #a60000;
						transition: 0.5s;
						}
						p{
						text-align:justify;
						margin-right:4%;
						margin-left:4%;
						}
						h1{
						text-align: center;
						padding: 31px;
						}
						.container{
						margin-bottom: 20px;

						}
						.icon-box img{
						height: 80px;
						transition: 1s;
						}
						.img-link{
						width: 20px;
						height: 20px;
						border: none;
						}
						.badge{
						background-color: #b70202;
						}
			
@media only screen and (min-width: 1100px){
	.head-text{
		font-size: 24px;
	}
	.footer-social-icon {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.footer-social-icon li{
	display: inline-block;	
}
.footer-social-icon a{
	color: white;
}
.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.footer-social-icon a:hover .fa {
	background: white;
	color: #b70202;
}
}
