.result-item{
 display: grid;
grid-template-columns: 170px 150px 25px 150px 230px;
grid-template-rows: repeat(12, 28px);
grid-column-end: 6;
}
.car-class{
    grid-column-start: 1;
    grid-row-start: 1;
}
.car-image{
    grid-column-start: 1;
    grid-row-start: 2;
}
.company-image{
    grid-column-start: 1;
    grid-row-start: 6;
}
.car-details{
    grid-column-start: 1;
    grid-row-start: 9;

}
.price-display {

    grid-column-start: 5;
    grid-row-start: 1;
grid-column-end: 6;
grid-row-end: 13;
background: #E5E7E9;
}
.car-name{
    grid-column-start: 2;
    grid-row-start: 2;
}
.car-warning{
    display: flex;
    justify-content: end;
}
.included{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}
.showshadow {
    box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
    border-radius: 5px;
}
.middle-line{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7; 
    border-top: 1px gray solid;
    margin:0;
    padding: 0;
}
.pickup {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7; 

}
.pickup-title{
    justify-content: center;
display: flex;
}
.drop-off {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7; 

}
.drop-off-title{
    justify-content: center;
    display: flex;
}
.pick-loc{
    margin-top: 10px;


}
.car-location, .car-drop-location{
    margin-top: 10px;
}
.included-details{
    margin-top: 10px;
}
.book-button{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;  
}
.total{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8
}
.price-day{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;


}
@media(min-width: 320px) and (max-width: 500px){
    .result-item{
        display: grid;
       grid-template-columns: auto 50px auto;
       grid-template-rows: repeat(15, 30px);
       grid-column-end: 6;
       }
       .car-class{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .car-image{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .company-image{
        grid-column-start: 3;
        grid-row-start: 2;
    }
    .car-details{
        grid-column-start: 1;
grid-column-end: 4;
        grid-row-start: 5;
        margin: 20px auto;
       
    }
    .price-display {
    
        grid-column-start: 1;
        grid-row-start: 13;
    grid-column-end: 4;
    grid-row-end: 16;
    background: #E5E7E9;
    }
    .car-name{
        grid-column-start: 1;
        grid-row-start: 8;
    }
    .car-warning{
        display: flex;
        justify-content: end;
    }
    .included{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
    }
    .showshadow {
        box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
        border-radius: 5px;
    }
    .middle-line{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 7; 
        border-top: 1px gray solid;
    }
    .pickup {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10; 
    
    }
    .pickup-title{
        justify-content: center;
    display: flex;
    margin-top: 10px;
    }
    .drop-off {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 10; 
    
    }
    .drop-off-title{
        justify-content: center;
        display: flex;
        margin-top: 5px;
    }
    .pick-loc{
        margin-top: 10px;
    
    
    }
    .car-location, .car-drop-location{
        margin-top: 10px;
    }
    .included-details{
        margin-top: 5px;
    }
    .book-button{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 14;  
    }
    .total{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 15;
    }
    .price-day{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 13;


}
}
@media(min-width: 501px) and (max-width: 1024px){
    .result-item{
        display: grid;
       grid-template-columns: 180px 130px 20px 130px 280px;
       grid-template-rows: repeat(12, 25px);
       grid-column-end: 6;
       }
       .car-class{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .car-image{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .company-image{
        grid-column-start: 1;
        grid-row-start: 6;
    }
    .car-details{
        grid-column-start: 1;
        grid-row-start: 10;
    
    }
    .price-display {
    
        grid-column-start: 5;
        grid-row-start: 1;
    grid-column-end: 6;
    grid-row-end: 13;
    background: #E5E7E9;
    }
    .car-name{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .car-warning{
        display: flex;
        justify-content: end;
    }
    .included{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
    }
    .showshadow {
        box-shadow: 2px 2px 8px 1px rgba(204, 204, 204, 1);
        border-radius: 5px;
    }
    .middle-line{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 7; 
        border-top: 1px gray solid;
    }
    .pickup {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8; 
    
    }
    .pickup-title{
        justify-content: center;
    display: flex;
    }
    .drop-off {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8; 
    
    }
    .drop-off-title{
        justify-content: center;
        display: flex;
    }
    .pick-loc{
        margin-top: 20px;
    
    
    }
    .car-location, .car-drop-location{
        margin-top: 10px;
    }
    .included-details{
        margin-top: 10px;
    }
    .book-button{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 10;  
    }
    .total{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 8
    }
    .price-day{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 5;
    
    
    }
}