@charset "utf-8";
/* CSS Document */

@media (max-width: 576px) {
	/* Makes these changes only when screen sizes is 767 px or less */
	.collapse ul.navbar-nav>li>a {
		color: #b70202 !important;
		/* Rule 1: Sets color for default expanded menu links */
	}
	#nav-header li {
		font-size: 14px;
		margin-left: 1px;
		margin-right: 1px;
		padding-left: 1px;
		padding-right: 1px;
	}
	#nav-header a {
		padding-left: 1px;
		padding-right: 5px;
	}
	#_wl-searchbox-holder {
		padding-left: 3px;
		padding-right: 0px;
	}
	.head-text{
	margin-top: -10px;
		padding-top: -10px;
	font-family: "opensans";
	font-size: 12px;
	

}
}
.mainbody{
	margin-top: 5%;

	}
.form-input{
	background-color: lightgray;
	min-height: 400px;
	border-radius: 10px;
	padding-top: 20px;

	
}
@media only screen and (max-width: 479px) {

		.footer-social-icon a .fa {
		font-size: 16px;
		height: 26px;
		width: 26px;
		line-height: 18px;
		padding: 3px;
		background: #b70202;
		color: #fff;
	}
	.footer-social-icon a:hover .fa {
	background: #b70202;
	color: #fff;
}

}
.searchbox-holder{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.dropbtn {
   
    color: white;
  	padding-right: 20px;
	margin-right: 30px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
	right: 0;
	margin-right: 100px ;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
}

.dropdown-content a {
    color: black;
   padding-right: 20px;
	margin-right: 20px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    
}
.card-body{
	border: none;
}
.guide-button{
	border-radius: 8px;
	border: none;
}
.guide-button:hover{
	background-color: white;
	color: #b70202;
	border-radius: 8px;
}
.guide a:hover{
	background-color: white;
	color: #b70202;
	border-radius: 8px;
	text-align: center;
}

.float-right{
	float: right;
}
.card-body{
	background: #b70202;
	color: #fff;
}
.brand-logo {
	float: left;
}
.guide button{
	background: #b70202;
	color: #fff;
	border: none;
	font-size: 1rem;
}
.brand-logo img {
	width: 120px;
	height: 60px;
	background-color: white;
	margin: 0px;
	padding-left: 10px;
}
.head-text{
	margin-top: 0px;
	font-family: "arial";
	font-size: 18px;
	color: lightslategray;
	
}
#nav-header {
	background-color: #b70202;
	height: 60px;
	padding-left: 0px;
	color: white;
	position: relative;
	left: 10px;
}

#nav-header li {
	font-family: Arial, sans-serif;
	margin-left: 2px;
	margin-right: 2px;
	color: white;
}

#nav-header a {
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.language-link {
	color: black;
	font-size: .9em;
}

.searchbox-holder {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	margin-bottom: 15px;
}

.logos img {
	width: 80px;
	height: 50px;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
}

.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.footer-social-icon a:hover .fa {
	background: #b70202;
	color: #fff;
}

.icon-box {
	width: 100%;
	text-align: center;
	background: #f3f3f3;
	padding: 40px 30px;
	margin-top: 50px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.car-box {
	width: 100%;
	text-align: center;
	background: #f3f3f3;
	padding: 40px 30px;
	margin-top: 50px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.icon-box:hover {
	background: #b70202;
	color: #fff;
}

.icon-box:hover p {
	color: #fff;
}

.icon-box .icons {
	width: 52px;
	height: 52px;
	display: block;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box .icons.book-icon {
	background: url(./img/book-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box:hover .icons.book-icon {
	background: url(./img/book-icon-hover.png);
	background-position: center;
	background-repeat: no-repeat;
}

.icon-box .icons.globe-icon {
	background: url(./img/globe-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box:hover .icons.globe-icon {
	background: url(./img/globe-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box .icons.shield-icon {
	background: url(./img/shield-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 66px;
}

.icon-box:hover .icons.shield-icon {
	background: url(./img//shield-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-box h2 {
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.icon-box p {
	color: #666;
}
.boxes{
	margin-top: 5px;
}
#nortonseal {
	width: 120px;
	vertical-align: middle;
}

#siteseal2 {
	width: 140px;
	vertical-align: middle;
}

#siteseal1 {
	width: 100px;
}

#siteseal {
	width: 100px;
}

.siteseal {
	margin-top: 30px;
	margin-bottom: 20px;
	margin: auto;
}

#mc_embed_signup div.response {
	margin: 0em 0px;
	padding: 0em 0.5em 0.5em 0px;
	font-weight: bold;
	float: left;
	top: 0;
	z-index: 1;
	width: 100%;
}

#mc_embed_signup input {
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 10px;
}

.white-bg a {
	color: #000;
}

#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0;
	overflow: hidden;
	width: 100%;
	margin: 0 0%;
	clear: both;
}

#mc_embed_signup #mce-success-response {
	background: #529214;
	color: #fff;
	padding: 1em;
}

#trust-big{
	display: none;
}

.footer-social-icon {
	text-align: center;
}

footer {
	background: #b70202;
	color: #fff;
}

footer p {
	margin: 0;
	color: #fff;
	font-size: 12px;
}

footer {
	padding-top: 50px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer h5 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}



footer a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
}

footer a:hover {
	color: #e6e6e6;
	text-decoration: none;
}

footer a:focus {
	color: #e6e6e6;
	text-decoration: none;
}

.newslatter {
	background: transparent;
	color: #fff;
	border: 1px solid #e6e6e6;
	display: block;
	width: 100%;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.white-btn {
	background: #fff;
	display: block;
	width: 100%;
	border: 0;
	color: #b70202;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px;
}

.white-btn:hover {
	background: #333;
	color: #fff;
}

.white-bg {
	background: #fff;
	padding: 10px;
	color: #333;
	margin-top: 30px;
}

.white-bg p {
	color: #333;
	line-height: 50px;
}
img.ui-datepicker-trigger {
	position: relative;
	left: -1px;
	top: -33px;
}
.footer-social-icon {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer-social-icon li {
	display: inline-block;
}

.footer-social-icon a {
	color: #666;
}

.footer-social-icon a .fa {
	font-size: 25px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	line-height: 34px;
	text-align: center;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.footer-social-icon a:hover .fa {
	background: #b70202;
	color: #fff;
}

.guide-button{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;

}
.guide-button button:hover{
	background: white;
	color: #b70202;
	
}
button:focus{
		outline: none;
	border: none;
}
/*
#_wl-rntlsrch-searchbox-holder .rntlsrch-box{
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}
*/

/*
#_wl-rntlsrch-searchbox-holder .rntlsrch-box__header{
	color: red !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-box{
	background-color: lightblue !important;
	border-radius: 10px !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button--disabled .rntlsrch-cta__phrase{
	background-color: #b70202 !important;
	border-radius: 10px !important;
	color: white !important;
}
#_wl-rntlsrch-searchbox-holder .rntlsrch-cta__button{
	border-radius: 10px !important;
}
._wl-car-box {
	
	border: thin solid black;
	border-radius: 10px
}
*/


.guide li{
list-style: none;	
	display: inline;
}
.links{
	display: inline;
	
}
@media only screen and (min-width: 768px){
	.searchbox-holder{
		background-image: url(img/optimized.jpeg);
			background-size: cover;
		background-repeat: no-repeat;
		height: 550px;
	}
	#nortonseal{
		width: 160px;
		
	}
	#siteseal2{
		width: 180px;
	}
	#trust-small{
		display: none;
	}
	#trust-big{
		display: inline;
	}
		#nav-header li {
		font-size: 20px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	#nav-header a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.logos img {
	width: 110px;
	height: 60px;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
}
}

					/* #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } */
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						#mc_embed_signup form { padding: 0px;}
						#mc_embed_signup .button {
						width: 100%;
						border-radius: 0;
						background: #fff;
						color: #a60000;
						}
						#mc_embed_signup .button:hover {
						background: #000;
						color: #fff;
						}
						#mc_embed_signup .mc-field-group {
						width: 100%;
						}
						#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
						border: 1px solid #fff;
						border-radius: 0;
						}
						#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
						display: block;
						margin: 2px 0 10px 0;
						padding: 5px 10px;
						background-color: rgba(255,255,255,0.85);
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						font-size: 14px;
						font-weight: normal;
						z-index: 1;
						color: #e85c41;
						}


#search-box {
    width: 250px;


}
.search-div{
	padding-bottom: 2px;
	margin-top: 5px;
}

.search-input{
    background-color: white;
    box-shadow: -7px -4px 13px 0px rgba(0,0,0,0.36);
    border-radius: 20px;
    font-size: 0.76em;
    margin-top: 150px
}
.search-button{
    background-color:#b70202;
    color: white;
    font-weight: bold;
	border-radius: 10px;



}

#search-title {
    background-color:#b70202;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.search-field {
width: 40%;
display: inline-block ;

}

.wrapper {
 height: 100%;


}

.navbar {
    background-color:white;
}
.navbar-brand {
    margin-left: -20px;
    background-color:white;
}



						#mc_embed_signup div.response {
						margin: 0em 0px;
						padding: 0em 0.5em 0.5em 0px;
						font-weight: bold;
						float: left;
						top: 0;
						z-index: 1;
						width: 100%;
						}
						#mc_embed_signup input {
						border: 1px solid #fff;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						margin-bottom: 10px;
						}
						.white-bg a {
						color: #000;
						}
						#mc_embed_signup div#mce-responses {
						float: left;
						top: -1.4em;
						padding: 0;
						overflow: hidden;
						width: 100%;
						margin: 0 0%;
						clear: both;
						}
						#mc_embed_signup #mce-success-response {
						background: #529214;
						color: #fff;
						padding: 1em;
						}
						h2,p{
						text-align: center;
						}

						.go-up{
			                        display:inline-block;
			                        padding: 20px;
						background:#e85c41;
						border: 1px solid #e85c41;
						border-radius: 5px;
						font-size: 20px;
						color: #fff;
						cursor: pointer;
						position: fixed;
						bottom: 0;
						right: 0;
						opacity: 0.8;
						transition: 2s;
						}
						.go-up:active{
						opacity: 1;
						background: #a60000;
						transition: 0.5s;
						}
						p{
						text-align:justify;
						margin-right:4%;
						margin-left:4%;
						}
						h1{
						text-align: center;
						padding: 31px;
						}
						.container{
						margin-bottom: 20px;

						}
						.icon-box img{
						height: 80px;
						transition: 1s;
						}
						.img-link{
						width: 20px;
						height: 20px;
						border: none;
						}
						.badge{
						background-color: #b70202;
						}
			
@media only screen and (min-width: 1100px){
	.head-text{
		font-size: 24px;
	}
}
.locationsdata{
	list-style-type: none;
	position: absolute;
	background-color: white;
	cursor: pointer;
	overflow-y: scroll;
	z-index: 1001;
	max-height: 250px;
	max-width: 400px;
	width: 100%;
	padding-left: 0px;
	margin-left: 0px;
}
.hidden{
	display: none;

}
.locationsdata p{

	margin-bottom: 0px;

}
.locationsdata li{
margin-bottom: 5px;
font-size: 12px;


}

.locationsdata li:hover{
 background-color: lightgray;
	
	
	}

.country{
	font-size: 12px;
	color: darkgray;
}