<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ./partials/head %>

    <link rel="stylesheet" href="./stylesheets/test.css">
    <title>Document</title>
    <style></style>
</head>

<body>
        <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48CL95" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
    
        <!-- End Google Tag Manager (noscript) -->

             <div class="w-100 moving-car mt-0 pt-0 loader-holder">
            <div id="center">
                <!-- <img src="https://compareauto.herokuapp.com/img/logowhite.png" width="250" alt=""> -->
                <div class="skype-loader">
                    <div class="dot">
                        <div class="first"></div>
                    </div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <h2> Searching for the best car rental prices...</h2>
            </div>
        </div>
    <div class="result-item "data-transmission="<%=car.transmission%>" data-passenger="<%=car.seats%>" data-company="<%= car.branchName %>" data-price="<%=car.price1 %>" data-size="<%=car.size %>" data-location="<%=car.pickupLoc %>">
        <div class="car-class">

            Economy
        </div>
        <div class="car-image">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/150x100">
            </a>
        </div>
        <div class="company-image">

            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/150x80">
            </a>

        </div>

        <div class="car-details">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/150x50">
            </a>

        </div>
        <div class="price-display">







        </div>

        <div class="car-name">
            <div class="car-title">
                <strong>Toyota Yaris </strong>

            </div>
            <div class="car-warning">
                or Similar

            </div>
        </div>
        <div class="included">
            <strong>Included in Price</strong>

            <div class="included-details">

                unlimited price
            </div>
            <div class="included-details">

                unlimited price
            </div>
    
        </div>
        <div class="middle-line">


        </div>
        <div class="pickup">
            <div class="pickup-title">
                <strong>Pick-up</strong>
            </div>
            <div class="car-location">
                Miami airport
            </div>
            <div class="pick-loc">
                    Terminal
                </div>
        </div>
        <div class="drop-off">
            <div class="drop-off-title">
                <strong>Drop-Off</strong>
            </div>
            <div class="car-drop-location">
                    Miami airport
            </div>  
        </div>
      <div class="book-button">
          <button>BOOK</button>
      </div>
<div class="total">

total with taxes included

</div>
<div class="price-day">
US#$10000.  /day

</div>




    </div>
</body>

</html>